﻿@model TopicModel
@using Nop.Core.Domain.Seo
@inject Nop.Core.IWebHelper webHelper
@inject SeoSettings seoSettings
@{
    var isPopup = ViewBag.IsPopup;
    if (isPopup == null || isPopup == false)
    {
        Layout = "_ColumnsOne";
    }

    if (!Model.IsPasswordProtected)
    {
        //title
        Html.AddTitleParts(!string.IsNullOrEmpty(Model.MetaTitle) ? Model.MetaTitle : Model.Title);
        //meta
        Html.AddMetaDescriptionParts(Model.MetaDescription);
        Html.AddMetaKeywordParts(Model.MetaKeywords);
    }

    if (seoSettings.CanonicalUrlsEnabled)
    {
        var topicUrl = Url.RouteUrl("Topic", new { SeName = Model.SeName }, webHelper.CurrentRequestProtocol).ToLowerInvariant();
        Html.AddCanonicalUrlParts(topicUrl, seoSettings.QueryStringInCanonicalUrlsEnabled);
    }

    //page class
    Html.AppendPageCssClassParts("html-topic-page");
}
@if (Model.IsPasswordProtected)
{
    <script asp-location="Footer">
        $(document).ready(function () {
            $('#button-password').on('click', function () {
                var postData = {
                    id: $("#topic-@Model.Id").val(),
                    password: $('#password').val()
                };
                addAntiForgeryToken(postData);


                $.ajax({
                    cache: false,
                    type: 'POST',
                    url: '@Url.RouteUrl("TopicAuthenticate")',
                    data: postData,
                    dataType: 'json',
                    success: function (data) {
                        if (data.Authenticated) {
                            $('#ph-topic #ph-title h1').html(data.Title);
                            if ($('#ph-topic #ph-title h1').text().length == 0) {
                                $('#ph-title').hide();
                            }
                            $('#ph-topic .page-body').html(data.Body);
                            $('#ph-password').hide();
                            $('#ph-topic').show();
                            //we need to re-run the validation plugin after the content is loaded after successful authentication
                            $.validator.unobtrusive.parse('#ph-topic');
                        }
                        else {
                            $('#password-error').text(data.Error).fadeIn("slow");
                            $('#ph-password #password').select().focus();
                        }
                    }
                });
                return false;
            });
        });

        $(document).ready(function () {
            $('#ph-topic').hide();
            $('#ph-password #password').select().focus();
        });
    </script>
    <div class="topic-password" id="ph-password">
        <form asp-route="TopicAuthenticate" method="post">
            <input asp-for="Id" id="topic-@Model.Id" type="hidden" />
            <div class="enter-password-title">
                @T("Topic.EnterPassword")
            </div>
            <div class="enter-password-form">
                <input name="password" id="password" type="password"/>
                <input type="submit" id="button-password" value="@T("Topic.Button")" class="button-1 topic-password-button"/>
            </div>
            <div class="password-error" id="password-error" style="display: none;"></div>
        </form>
    </div>
}

@section Breadcrumb {
    <section class="section-product-breadcrumb category-hero" style="background-image: url(https://www.vitamininisec.com/Themes/VitamininiSecTheme/Content/assets/images/category-hero/hero-bg.jpg); ">
        <div class="grid-block small-mobile-force-boxed category-heading-container">
            <div class="category-heading-block">

              @if (!string.IsNullOrEmpty(Model.Title))
        {
            
                <h2 class="category-name">@Model.Title</h2>
         
        }
              
            </div>
        </div>
        <div class="grid-block small-mobile-force-boxed category-breadcrumb-container">
            <div class="category-breadcrumb-block">
                <div class="category-breadcrumbs">
                    <ul class="category-breadcrumb-list">
                        <li class="category-breadcrumb-list-item">
                            <a class="category-breadcrumb-list-action" href="@Url.RouteUrl("HomePage")">@T("Products.Breadcrumb.Top")</a>
                        </li>


                        <li class="category-breadcrumb-list-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <a class="category-breadcrumb-list-action" href="javascript:void(0)" itemprop="item">
                                <span itemprop="name">@Model.Title</span>
                            </a>


                        </li>






                    </ul>
                </div>
            </div>
        </div>
    </section>
}

<div class="page" style="text-align:left;padding:30px" >
    
                            @Html.Raw(Model.Body)
          
</div>