﻿@model TopMenuModel.CategoryLineModel

<div class="mega-menu-list-column">
    <a class="column-title" href="@Url.RouteUrl("Category", new { SeName = Model.Category.SeName })">@Model.Category.Name</a>
    @{
        var subCategories = Model.Category.SubCategories.Where(x => x.IncludeInTopMenu).ToList();
        if (subCategories.Count > 0)
        {
            <ul class="mega-menu-column-list">
                @foreach (var subCategory in subCategories)
                {
                    <li class="mega-menu-column-list-item"><a class="mega-menu-column-list-item-action" href="@Url.RouteUrl("Category", new { SeName = subCategory.SeName })">@subCategory.Name</a></li>
                }
            </ul>
        }
    }
</div>