﻿@model AddressModel
@inject ISettingService settingsService
@if (Model.CountryEnabled && Model.StateProvinceEnabled)
{
    //we don't move this script to the footer as it's used in Ajax requests where footer is not available
    <script>
        $(document).ready(function () {
            $("#@Html.IdFor(model => model.CountryId)").on('change', function () {
            var selectedItem = $(this).val();
            var ddlStates = $("#@Html.IdFor(model => model.StateProvinceId)");
            var statesProgress = $("#states-loading-progress");
            statesProgress.show();
                $.ajax({
                cache: false,
                    type: "GET",
                    url: "@(Url.RouteUrl("GetStatesByCountryId"))",
                    data: { "countryId": selectedItem, "addSelectStateItem": "true" },
                    success: function (data) {
                    ddlStates.html('');
                        $.each(data, function (id, option) {
                        ddlStates.append($('<option></option>').val(option.id).html(option.name));
                    });
                    statesProgress.hide();
                },
                    error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve states.');
                    statesProgress.hide();
                }
            });
        });
    });
    </script>
}
<input asp-for="Id" type="hidden"/>
<div class="edit-address">
    <div class="inputs">
        <label asp-for="FirstName" asp-postfix=":"></label>
        <input asp-for="FirstName" />
        <!-- <nop-required /> -->
        <span asp-validation-for="FirstName"></span>
    </div>
    <div class="inputs">
        <label asp-for="LastName" asp-postfix=":"></label>
        <input asp-for="LastName" />
        <!-- <nop-required /> -->
        <span asp-validation-for="LastName"></span>
    </div>
    <div class="inputs">
        <label asp-for="Email" asp-postfix=":"></label>
        <input asp-for="Email" />
        <!-- <nop-required /> -->
        <span asp-validation-for="Email"></span>
    </div>
  
    @if (Model.CountryEnabled)
    {
        <div class="inputs">
            <label asp-for="CountryId" asp-postfix=":"></label>
            <select asp-for="CountryId" asp-items="Model.AvailableCountries"></select>
            <!-- <nop-required /> -->
            <span asp-validation-for="CountryId"></span>
        </div>
    }

    @if (Model.CountryEnabled && Model.StateProvinceEnabled)
    {
        <div class="inputs">
            <label asp-for="StateProvinceId" asp-postfix=":"></label>
            <select asp-for="StateProvinceId" asp-items="Model.AvailableStates"></select>
            <span id="states-loading-progress" style="display: none;" class="please-wait">@T("Common.Wait...")</span>
            <span asp-validation-for="StateProvinceId"></span>
        </div>
    }
    @if (Model.CountyEnabled)
    {
        <div class="inputs">
            <label asp-for="County" asp-postfix=":"></label>
            <input asp-for="County" />
            @if (Model.CountyRequired)
            {
                <!-- <nop-required /> -->
            }
            <span asp-validation-for="County"></span>
        </div>
    }
    @if (Model.CityEnabled)
    {
        <div class="inputs">
            <label asp-for="City" asp-postfix=":"></label>
            <input asp-for="City" />
            @if (Model.CityRequired)
            {
                <!-- <nop-required /> -->
            }
            <span asp-validation-for="City"></span>
        </div>
    }
    @if (Model.StreetAddressEnabled)
    {
        <div class="inputs">
            <label asp-for="Address1" asp-postfix=":"></label>
            <input asp-for="Address1" />
            @if (Model.StreetAddressRequired)
            {
                <!-- <nop-required /> -->
            }
            <span asp-validation-for="Address1"></span>
        </div>
    }
    @if (Model.StreetAddress2Enabled)
    {
        <div class="inputs">
            <label asp-for="Address2" asp-postfix=":"></label>
            <input asp-for="Address2" />
            @if (Model.StreetAddress2Required)
            {
                <!-- <nop-required /> -->
            }
            <span asp-validation-for="Address2"></span>
        </div>
    }
    @if (Model.ZipPostalCodeEnabled)
    {
        <div class="inputs">
            <label asp-for="ZipPostalCode" asp-postfix=":"></label>
            <input asp-for="ZipPostalCode" />
            @if (Model.ZipPostalCodeRequired)
            {
                <!-- <nop-required /> -->
            }
            <span asp-validation-for="ZipPostalCode"></span>
        </div>
    }
    @if (Model.PhoneEnabled)
    {
        <div class="inputs">
            <label asp-for="PhoneNumber" asp-postfix=":"></label>
            <input asp-for="PhoneNumber" />
            @if (Model.PhoneRequired)
            {
                <!-- <nop-required /> -->
            }
            <span asp-validation-for="PhoneNumber"></span>
        </div>
    }
    @if (Model.FaxEnabled)
    {
        <div class="inputs">
            <label asp-for="FaxNumber" asp-postfix=":"></label>
            <input asp-for="FaxNumber" />
            @if (Model.FaxRequired)
            {
                <!-- <nop-required /> -->
            }
            <span asp-validation-for="FaxNumber"></span>
        </div>
    }

    @if (Model.IsEnterpriceEnabled)
    {


        <div class="inputs IsEnterprice" >

            <label asp-for="IsEnterprice"  asp-postfix=":"></label>

            @*<nop-override-store-checkbox asp-for="IsEnterprice" asp-input="IsEnterprice"  />*@
            <nop-editor asp-for="IsEnterprice" asp-required="@Model.IsEnterpriceRequired" />
            @if (Model.IsEnterpriceRequired)
            {
                <!-- <nop-required /> -->
            }
            <span asp-validation-for="IsEnterprice"></span>
            
        </div>

    }
@{
    string shouldRenderCompany = "";
    string shouldRenderCustomer =""; 
}

        @if (Model.TCKNEnabled)
    {
        <div class="inputs TCKN" style="@shouldRenderCustomer">
            <label asp-for="TCKN" asp-postfix=":"></label>
            <input asp-for="TCKN" />
            @if (Model.TCKNRequired)
            {
                <!-- <nop-required /> -->
            }
            <span asp-validation-for="TCKN"></span>
        </div>
    }

      @if (Model.CompanyEnabled)
    {
        <div class="inputs Company" style="@shouldRenderCompany;">
            <label asp-for="Company" asp-postfix=":"></label>
            <input asp-for="Company" />
            @if (Model.CompanyRequired)
            {
                <!-- <nop-required /> -->
            }
            <span asp-validation-for="Company"></span>
        </div>
    }
    @if (Model.VKNEnabled)
    {
        <div class="inputs VKN" style="@shouldRenderCompany;">
            <label asp-for="VKN" asp-postfix=":"></label>
            <input asp-for="VKN" />
            @if (Model.VKNRequired)
            {
                <!-- <nop-required /> -->
            }
            <span asp-validation-for="VKN"></span>
        </div>
    }
    @if (Model.VKNEnabled)
    {
        <div class="inputs VD" style="@shouldRenderCompany;">
            <label asp-for="VD" asp-postfix=":"></label>
            <input asp-for="VD" />
            @if (Model.VDRequired)
            {
                <!-- <nop-required /> -->
            }
            <span asp-validation-for="VD"></span>
        </div>
    }
    <script >
         
              ////starthere console.log("asd")
        var value = $('input[name="Address.IsEnterprice"]:checked').length > 0; // $("#Address_IsEnterprice input[type='checkbox']").prop("checked") == true;
        var billingValue = $('input[name="BillingNewAddress.IsEnterprice"]:checked').length > 0;   // $("#BillingNewAddress_IsEnterprice").prop("checked") == true;
        var shippingValue = $(' input[name="ShippingNewAddress.IsEnterprice"]:checked').length > 0;// $("#ShippingNewAddress_IsEnterprice").prop("checked") == true;
        
      /////  console.log(billingValue)
        $("input[name='Address.FaxNumber']").mask("(000) 000 00 00");
        $("input[name='BillingNewAddress.FaxNumber']").mask("(000) 000 00 00");
        $("input[name='ShippingNewAddress.FaxNumber']").mask("(000) 000 00 00");

        $("input[name='Address.PhoneNumber']").mask("(000) 000 00 00");
        $("input[name='BillingNewAddress.PhoneNumber']").mask("(000) 000 00 00");
        $("input[name='ShippingNewAddress.PhoneNumber']").mask("(000) 000 00 00");

        $("input[name='Address.ZipPostalCode']").mask("00000");
        $("input[name='BillingNewAddress.ZipPostalCode']").mask("00000");
        $("input[name='ShippingNewAddress.ZipPostalCode']").mask("00000");

        $("input[name='Address.TCKN']").mask("00000000000");
        $("input[name='BillingNewAddress.TCKN']").mask("00000000000");
        $("input[name='ShippingNewAddress.TCKN']").mask("00000000000");

        $("input[name='Address.VKN']").mask("00000000000");
        $("input[name='BillingNewAddress.VKN']").mask("00000000000");
        $("input[name='ShippingNewAddress.VKN']").mask("00000000000");

        
        if ( shippingValue==true) {
          $(".html-checkout-page .shipping-addresses .TCKN").hide();
          $(".html-checkout-page .shipping-addresses .VKN").show();
          $(".html-checkout-page .shipping-addresses .VD").show();
         $(".html-checkout-page .shipping-addresses .Company").show();
         
        } else {
          $(".html-checkout-page .shipping-addresses .TCKN").show();            
          $(".html-checkout-page .shipping-addresses .VKN").hide();
          $(".html-checkout-page .shipping-addresses .VD").hide();
          $(".html-checkout-page .shipping-addresses .Company").hide();
          
        }

        if (billingValue==true ) {
            $(".html-checkout-page .new-billing-address .TCKN").hide();
            $(".html-checkout-page .new-billing-address .VKN").show();
            $(".html-checkout-page .new-billing-address .VD").show();
           $(".html-checkout-page .new-billing-address .Company").show();
           
          } else {
            $(".html-checkout-page .new-billing-address .TCKN").show();            
            $(".html-checkout-page .new-billing-address .VKN").hide();
            $(".html-checkout-page .new-billing-address .VD").hide();
            $(".html-checkout-page .new-billing-address .Company").hide();
            
          }  
   

    </script>
    @if (Model.CustomAddressAttributes.Count > 0)
    {
        @await Html.PartialAsync("_AddressAttributes", Model.CustomAddressAttributes)
    }
</div>
