﻿@model ProductOverviewModel
@inject CatalogSettings catalogSettings
@inject IWorkContext workContext
@inject ISettingService settingService
@inject IProductService productService
@inject IManufacturerService manufacturerService
@inject IUrlRecordService urlRecordService
@inject ISpecificationAttributeService specificationAttributeService
@functions{
    int productDiscountDegree(decimal oldPrice, decimal currentPrice)
    {
        var discountDegree = Convert.ToInt32(Math.Ceiling(((oldPrice - currentPrice) / currentPrice) * 100));
        return (discountDegree);
    }
    decimal getNakedOldPrice(int productID)
    {
        Product product = productService.GetProductById(productID);
        decimal productOldPrice = product != null ? product.OldPrice : 0;
        return (productOldPrice);
    }
    decimal getNakedActualPrice(int productID)
    {
        Product product = productService.GetProductById(productID);
        decimal productActualPrice = product != null ? product.Price : 0;
        return (productActualPrice);
    }
    string getLocalizedSlug(int entityID, string entityName)
    {
        string LocalizedSlug = urlRecordService.GetSeName(entityId: entityID, entityName: entityName);
        return (LocalizedSlug);
    }
    string productTypeName(int productID)
    {
        var productTypeSpecAttr = specificationAttributeService.GetProductSpecificationAttributes(productId: productID).Where(x => x.SpecificationAttributeOption.SpecificationAttribute.Name == "Hidden.Product.Type").ToList();
        var productTypeSpecAttrOptionID = (productTypeSpecAttr.Count > 0) ? productTypeSpecAttr.FirstOrDefault().SpecificationAttributeOption.Id : 0;
        string productTypeName = (productTypeSpecAttrOptionID != 0) ? specificationAttributeService.GetSpecificationAttributeOptionById(productTypeSpecAttrOptionID).Name : null;
        return (productTypeName);
    }
    string productAddToCartLink(int productId)
    {
        bool forceCartRedirection = settingService.GetSettingByKey<string>("ShoppingCartSettings.DisplayCartAfterAddingProduct") == "True" ? true : false;
        string addToCartLink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = productId, shoppingCartTypeId = (int)ShoppingCartType.ShoppingCart, quantity = 1, forceredirection = forceCartRedirection });
        return (addToCartLink);
    }
    string productAddToWishlist(int productId)
    {
        string addToWishlist = Url.RouteUrl("AddProductToCart-Catalog", new { productId = productId, shoppingCartTypeId = (int)ShoppingCartType.Wishlist, quantity = 1 });
        return (addToWishlist);
    }
    string productAddCompareList(int productId)
    {
        string addToCompareList = Url.RouteUrl("AddProductToCompare", new { productId = productId });
        return (addToCompareList);
    }
}
@{
    IList<ProductManufacturer> productManufacturers = manufacturerService.GetProductManufacturersByProductId(Model.Id);
    var productManufacturerName = productManufacturers.Count > 0 ? productManufacturers.FirstOrDefault().Manufacturer.Name : null;
}



<div class="product-box filled-box">
    @if (!String.IsNullOrEmpty(Model.ProductPrice.OldPrice))
    {
        <div class="product-additional-tags">
            <span class="discount-label">
                <span class="degree">%</span>
                <span class="amount">@productDiscountDegree(getNakedOldPrice(Model.Id), getNakedActualPrice(Model.Id))</span>
            </span>
        </div>
    }
    <img class="ui fluid image product-box-image" title="@Model.Name" alt="@Model.Name" src="@Model.DefaultPictureModel.ImageUrl">
    <div class="product-content">
        <div class="valign-center-wrapper">
            <div class="product-property">
                @if (!String.IsNullOrEmpty(productManufacturerName))
                {
                    <a href="@Url.RouteUrl("Manufacturer", new { SeName = getLocalizedSlug(productManufacturers.FirstOrDefault().Manufacturer.Id, "Manufacturer") })" class="first-line">@productManufacturerName</a>
                }
                <a href="@Url.RouteUrl("Product", new {SeName = Model.SeName})" class="second-line">@Model.Name</a>
                <span class="third-line">@productTypeName(Model.Id)</span>
            </div>
            <div class="product-price">
                @if (!String.IsNullOrEmpty(Model.ProductPrice.OldPrice))
                {
                    <span class="old-price">@Model.ProductPrice.OldPrice</span>
                }
                <span class="actual-price">@Model.ProductPrice.Price</span>
            </div>
        </div>
        <div class="product-actions">
            <div class="additional-buttons">
                <span onclick="AjaxCart.addproducttocart_catalog('@productAddToWishlist(Model.Id)');return false;" class="circle-button add-to-wishlist-button"><i class="figure heart outline icon"></i></span>
                <span onclick="AjaxCart.addproducttocomparelist('@productAddCompareList(Model.Id)');return false;" class="circle-button add-to-compare-button"><i class="figure clone outline icon"></i></span>
            </div>
            <span onclick="AjaxCart.addproducttocart_catalog('@productAddToCartLink(Model.Id)');return false;" class="button button-transparent-blue add-to-cart-button">
                <i class="figure left-figure cart plus icon"></i> <span>Satın Al</span>
            </span>
        </div>
    </div>
</div>








@if (1 == 2)
{
    //prepare "Add to cart" AJAX link
    var addtocartlink = "";
    var shoppingCartTypeId = (int)ShoppingCartType.ShoppingCart;
    var quantity = 1;
    if (Model.ProductPrice.ForceRedirectionAfterAddingToCart)
    {
        addtocartlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = Model.Id, shoppingCartTypeId = shoppingCartTypeId, quantity = quantity, forceredirection = Model.ProductPrice.ForceRedirectionAfterAddingToCart });
    }
    else
    {
        addtocartlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = Model.Id, shoppingCartTypeId = shoppingCartTypeId, quantity = quantity });
    }

    var addtowishlistlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = Model.Id, shoppingCartTypeId = (int)ShoppingCartType.Wishlist, quantity = quantity });
    var addtocomparelink = Url.RouteUrl("AddProductToCompare", new { productId = Model.Id });

    <div class="product-item" data-productid="@Model.Id">
        <div class="picture">
            <a href="@Url.RouteUrl("Product", new { SeName = Model.SeName })" title="@Model.DefaultPictureModel.Title">
                <img alt="@Model.DefaultPictureModel.AlternateText" src="@Model.DefaultPictureModel.ImageUrl" title="@Model.DefaultPictureModel.Title" />
            </a>
        </div>
        <div class="details">
            <h2 class="product-title">
                <a href="@Url.RouteUrl("Product", new {SeName = Model.SeName})">@Model.Name</a>
            </h2>
            @if (catalogSettings.ShowSkuOnCatalogPages && !string.IsNullOrEmpty(Model.Sku))
            {
                <div class="sku">
                    @Model.Sku
                </div>
            }
            @if (Model.ReviewOverviewModel.AllowCustomerReviews)
            {
                var ratingPercent = 0;
                if (Model.ReviewOverviewModel.TotalReviews != 0)
                {
                    ratingPercent = ((Model.ReviewOverviewModel.RatingSum * 100) / Model.ReviewOverviewModel.TotalReviews) / 5;
                }
                <div class="product-rating-box" title="@string.Format(T("Reviews.TotalReviews").Text, Model.ReviewOverviewModel.TotalReviews)">
                    <div class="rating">
                        <div style="width: @(ratingPercent)%">
                        </div>
                    </div>
                </div>
            }
            <div class="description">
                @Html.Raw(Model.ShortDescription)
            </div>
            <div class="add-info">
                @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ProductBoxAddinfoBefore, additionalData = Model })
                <div class="prices">
                    @if (!string.IsNullOrEmpty(Model.ProductPrice.OldPrice))
                    {
                        <span class="price old-price">@Model.ProductPrice.OldPrice</span>
                    }
                    <span class="price actual-price">@Model.ProductPrice.Price</span>
                    @if (!string.IsNullOrEmpty(Model.ProductPrice.BasePricePAngV))
                    {
                        <div class="base-price-pangv">
                            @Model.ProductPrice.BasePricePAngV
                        </div>
                    }
                </div>
                @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ProductBoxAddinfoMiddle, additionalData = Model })
                <div class="buttons">
                    @*<input type="button" value="@T("Products.Details")" class="button-1 product-box-detail-button" onclick="setLocation('@Url.RouteUrl("Product", new { SeName = Model.SeName })')" />*@
                    @if (!Model.ProductPrice.DisableBuyButton)
                    {
                        var addToCartText = T("ShoppingCart.AddToCart").Text;
                        if (Model.ProductPrice.IsRental)
                        {
                            addToCartText = T("ShoppingCart.Rent").Text;
                        }
                        if (Model.ProductPrice.AvailableForPreOrder)
                        {
                            addToCartText = T("ShoppingCart.PreOrder").Text;
                        }
                        <input type="button" value="@(addToCartText)" class="button-2 product-box-add-to-cart-button" onclick="AjaxCart.addproducttocart_catalog('@addtocartlink');return false;" />
                    }
                    @if (!Model.ProductPrice.DisableAddToCompareListButton)
                    {
                        <input type="button" value="@T("ShoppingCart.AddToCompareList")" title="@T("ShoppingCart.AddToCompareList")" class="button-2 add-to-compare-list-button" onclick="AjaxCart.addproducttocomparelist('@addtocomparelink');return false;" />
                    }
                    @if (!Model.ProductPrice.DisableWishlistButton)
                    {
                        <input type="button" value="@T("ShoppingCart.AddToWishlist")" title="@T("ShoppingCart.AddToWishlist")" class="button-2 add-to-wishlist-button" onclick="AjaxCart.addproducttocart_catalog('@addtowishlistlink');return false;" />
                    }
                </div>
                @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ProductBoxAddinfoAfter, additionalData = Model })
            </div>
        </div>
    </div>

}