﻿@using Nop.Core.Infrastructure
@using Nop.Services.Configuration
@using System.Text.Encodings.Web
@model SearchBoxModel
@{
  string searchQueryString = "q";
}

<li class="header-main-list-item search-item">
  <span class="nav-action valign-center-wrapper search-action has-mega-content"><i class="figure flex-item search icon"></i></span>
  <div class="mega-content mega-fw header-search-container">
    <div class="header-search-block">
      <form asp-route="ProductSearch" method="GET" class="header-search-form">
        <input class="header-mega-menu-search-input" type="search" name="@searchQueryString" spellcheck="false" autocomplete="off" placeholder="@T("Search.SearchBox.Tooltip")">
        <span class="header-mega-menu-search-action"><i class="flex-item search icon"></i></span>
      </form>
    </div>
    <div class="header-search-items-block">@* APPENDING AUTOCOMPLETE DATA *@</div>
  </div>
</li>

@if (Model.SearchTermMinimumLength > 0)
{
  <script asp-location="Footer">
      $('.header-mega-menu-search-action').click(function () {
            if ($('.header-mega-menu-search-input').val() != "" && $('.header-mega-menu-search-input').val().length >= @Model.SearchTermMinimumLength) {
                $('.header-search-form').submit();
            }
            else {
                $('.header-mega-menu-search-input').attr('placeholder', '@Html.Raw(JavaScriptEncoder.Default.Encode(T("Search.EnterSearchTerms", Model.SearchTermMinimumLength).Text))').val('').focus();
            }
      });
  </script>
}

@if (Model.AutoCompleteEnabled)
{
  <script asp-location="Footer">
        $(document).ready(function() {
            var showLinkToResultSearch;
            var searchText;
            $('.header-mega-menu-search-input').autocomplete({
                delay: 100,
                position: { my: "left top", at: "left top", of: '.header-search-items-block' },
                minLength: @(Model.SearchTermMinimumLength.ToString()),
                source: '@(Url.RouteUrl("ProductSearchAutoComplete"))',
                appendTo: '.header-search-items-block',
                select: function(event, ui) {
                    $('.header-mega-menu-search-input').val(ui.item.label);
                    setLocation(ui.item.producturl);
                    return false;
                },
              open: function (event, ui) {
                  if (showLinkToResultSearch) {
                    $('.header-search-items-block ul').addClass('show-link-to-result');
                    searchText = $('.header-mega-menu-search-input').val();
                    @{
                      var searchAutoCompleteShownItemNum = EngineContext.Current.Resolve<ISettingService>().GetSettingByKey<string>("catalogsettings.productsearchautocompletenumberofproducts");
                    }
                    $('.header-search-items-block ul').append('<a href=\"@(Url.RouteUrl("ProductSearch"))?@(searchQueryString)=' + searchText + '\" class=\"action-area flex-item\"><div class=\"valign-center-wrapper action-wrapper\"><div class=\"flex-item\"><span class=\"action-description\">@(string.Format(T("Search.SearchBox.SearchPageLink.Text").Text, searchAutoCompleteShownItemNum)))</span><span class=\"detailed-search-action button button-filled-light-hover-no-bg\">@T("Search.SearchBox.SearchPageLink")</span></div></div></a>');
                  }
                  else {
                    $('.header-search-items-block ul').removeClass('show-link-to-result');
                  }
                }
            })
            .data("ui-autocomplete")._renderItem = function(ul, item) {
                var productName = item.label;
                showLinkToResultSearch = item.showlinktoresultsearch;
                productName = htmlEncode(productName);
                return $('<div class=\"search-item flex-item\"></div>')
                .data("item.autocomplete", item)
                .append("<a class=\"\">@(Model.ShowProductImagesInSearchAutoComplete ? Html.Raw("<img class='ui fluid image' src='\" + item.productpictureurl + \"'>") : null)<div class=\"product-content\"><span class=\"name\">" + productName + "</span></div></a>")
                .appendTo(ul);
            };
        });
  </script>
}