﻿@model ShoppingCartModel
@{
	Layout = "_ColumnsOne";

	//title
	Html.AddTitleParts(T("PageTitle.ShoppingCart").Text);
	//page class
	Html.AppendPageCssClassParts("html-shopping-cart-page");

	Html.AppendCssFileParts($"~/Themes/DefaultClean/Content/css/styles.css");
}
@if (!Model.OnePageCheckoutEnabled)
{
    @await Component.InvokeAsync("CheckoutProgress", new {step = CheckoutProgressStep.Cart})
}




@section Breadcrumb {
<section class="section-product-breadcrumb category-hero" style="background-image: url(https://www.vitamininisec.com/Themes/VitamininiSecTheme/Content/assets/images/category-hero/hero-bg.jpg); ">
    <div class="grid-block small-mobile-force-boxed category-heading-container">
        <div class="category-heading-block">
            <h1 class="category-name">@T("ShoppingCart")</h1>
        </div>
    </div>
    <div class="grid-block small-mobile-force-boxed category-breadcrumb-container">
        <div class="category-breadcrumb-block">
            <div class="category-breadcrumbs">
                <ul class="category-breadcrumb-list">
                    <li class="category-breadcrumb-list-item">
                        <a class="category-breadcrumb-list-action" href="@Url.RouteUrl("HomePage")">@T("Products.Breadcrumb.Top")</a>
                    </li>


                    <li class="category-breadcrumb-list-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a class="category-breadcrumb-list-action" href="javascript:void(0)" itemprop="item">
                            <span itemprop="name">@T("ShoppingCart")</span>
                        </a>


                    </li>






                </ul>
            </div>
        </div>
    </div>
</section>
}














<style>
	.shopping-cart-page{
		padding: 40px 40px;
	}
	.product-picture{
		height:100px;
	}
	.product-picture img{
		height:100%;
	}
	td{
		padding: 10px!important;
	}
</style>

<div class="page shopping-cart-page">
    
    <div class="page-body">
        @await Component.InvokeAsync("OrderSummary", new { overriddenModel = Model})
    </div>
</div>
