﻿@model List<Nop.Plugin.Widgets.SocialMedia.Models.SocialMediaModel>


@{
    Layout = "";

}




<section class="">
    <!--./social-home-center-->
    <div class="social-home-right">
        <ul class="home-social-links" id="instafeed">
            <!--./home-social-link-item-->
            @if (Model.Count > 0)
            {

                <li class="home-social-link-item home-social-link-item-instafeed" style="height:180px;width: 180px;">
                    <a href="@Model[0].Code" target="_blank">
                        <img style="height:180px; object-fit:cover;width: 180px;" src="@Model[0].ImageUri" />
                    </a>
                </li>
            }


            <li class="home-social-link-item twitter" id="twitterFollow">
                <a href="https://twitter.com/kelebekkurumsal" target="_blank">
                    <img src="~/Themes/KelebekMain/Content/images/icons/ui/home-social-twitter.png" />
                </a>
            </li>
            @if (Model.Count > 1)
            {
                <li class="home-social-link-item home-social-link-item-instafeed" style="height:180px;width: 180px;">
                    <a href="@Model[1].Code" target="_blank">
                        <img style="height:180px; object-fit:cover;width: 180px;" src="@Model[1].ImageUri" />
                    </a>
                </li>}

            <!--./home-social-link-item-->
            <li class="home-social-link-item facebook" id="facebookFollow">
                <a href="https://www.facebook.com/kelebekmobilya" target="_blank">
                    <img src="~/Themes/KelebekMain/Content/images/icons/ui/home-social-facebook.png" />
                </a>
            </li>

            @if (Model.Count > 2)
            {
                <li class="home-social-link-item home-social-link-item-instafeed" style="height:180px;width: 180px;">
                    <a href="@Model[2].Code" target="_blank">
                        <img style="height:180px; object-fit:cover;width: 180px;" src="@Model[2].ImageUri" />
                    </a>
                </li>}


            <!--./home-social-link-item-->
            <li class="home-social-link-item instagram">
                <a href="https://www.instagram.com/kelebekmobilya/" target="_blank">
                    <img src="~/Themes/KelebekMain/Content/images/icons/ui/home-social-instagram.png" />
                </a>
            </li>
            <!--./home-social-link-item-->
        </ul>
        <!--./home-social-links-->
    </div>
    <!--./social-home-right-->
</section>

<section class="social-media-section">
    <div class="grid-block large-block social-media-container">
        <div class="social-media-block">
            <div class="social-media-items">
                <div class="social-media-item social-media-follow large valign-center-wrapper">
                    <div class="flex-item">
                        <h1 class="first-part">SOSYAL MEDYADA</h1>
                        <h2 class="second-part">BİZİ TAKİP EDİN</h2>
                    </div>
                </div>
                <a href="javascript:void(0)" class="social-media-item facebook-follow small valign-center-wrapper">
                    <div class="flex-item">
                        <i class="figure facebook f icon"></i>
                    </div>
                </a>
                <a href="javascript:void(0)" class="social-media-item social-media-image small">
                    <div class="image-holder" style="background-image: url('@Url.Content("~/images/uploaded/social-media-images/image-1.jpg")');"></div>
                </a>
                <a href="javascript:void(0)" class="social-media-item social-media-image small">
                    <div class="image-holder" style="background-image: url('@Url.Content("~/images/uploaded/social-media-images/image-2.jpg")');"></div>
                </a>
                <a href="javascript:void(0)" class="social-media-item twitter-follow small valign-center-wrapper">
                    <div class="flex-item">
                        <i class="figure twitter icon"></i>
                    </div>
                </a>
                <a href="javascript:void(0)" class="social-media-item social-media-image small">
                    <div class="image-holder" style="background-image: url('@Url.Content("~/images/uploaded/social-media-images/image-3.jpg")');"></div>
                </a>
                <a href="javascript:void(0)" class="social-media-item instagram-follow small valign-center-wrapper">
                    <div class="flex-item">
                        <i class="figure instagram icon"></i>
                    </div>
                </a>
            </div>
            <div class="social-video-item">
                <div class="image-holder valign-center-wrapper" style="background-image: url('@Url.Content("~/images/uploaded/social-media-images/video.jpg")');">
                    <div class="flex-item">
                        <a class="video-play-action" href="javascript:void(0)">
                            <img class="ui fluid image" src="@Url.Content($"~/Themes/{themeContext.WorkingThemeName}/Content/assets/images/icons/play-icon.svg")">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
