﻿@model CatalogPagingFilteringModel
@inject IWebHelper webHelper
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor httpContextAccessor
@if (false)
{

    <div class="product-selectors">
        @*view mode*@
        @if (Model.AllowProductViewModeChanging)
        {
            <div class="product-viewmode">
                <span>@T("Catalog.ViewMode")</span>
                @if (Model.AvailableViewModes.Count > 1)
                {
                    var gridMode = Model.AvailableViewModes[0];
                    var listMode = Model.AvailableViewModes[1];

                    <a class="viewmode-icon grid @if(gridMode.Selected){<text>selected</text>}" href="@gridMode.Value" title="@gridMode.Text">@gridMode.Text</a>
                    <a class="viewmode-icon list @if (listMode.Selected){<text>selected</text>}" href="@listMode.Value" title="@listMode.Text">@listMode.Text</a>
                }
            </div>
        }
        @*sorting*@
        @if (Model.AllowProductSorting)
        {
            <div class="product-sorting">
                <span>@T("Catalog.OrderBy")</span>
                @Html.DropDownList("products-orderby", Model.AvailableSortOptions, new { onchange = "setLocation(this.value);", aria_label = T("Catalog.OrderBy.Label") })
            </div>
        }
        @*page size*@
        @if (Model.AllowCustomersToSelectPageSize)
        {
            <div class="product-page-size">
                <span>@T("Catalog.PageSize")</span>
                @Html.DropDownList("products-pagesize", Model.PageSizeOptions, new { onchange = "setLocation(this.value);", aria_label = T("Catalog.PageSize.Label") })
                <span>@T("Catalog.PageSize.PerPage")</span>
            </div>
        }
    </div>

}

@*sorting*@





@if (Model.AllowProductSorting)
{

  

    <div class="category-selector-list valign-center-wrapper">
        <div class="category-selector-list-trigger">
            <span class="flex-item">
                <span class="text">ÜRÜNLERİ SIRALA</span>
                <i class="figure chevron down icon"></i>
            </span>
        </div>
        <div class="category-selector-item-holder">
            <div class="category-selector-items-wrapper valign-center-wrapper">
                @foreach (var item in Model.AvailableSortOptions)
                {
                    string active = "";
                    if (item.Selected)
                    {
                        active = " active ";
                    }
                    else
                    {
                        active = "";
                    }
                    <a class="category-selector-item flex-item @active" href="@item.Value"> @item.Text</a>
                }

            </div>
        </div>
        @*	<div class="category-list-grid-sizer valign-center-wrapper">
                <a class="category-grid-sizer flex-item Cat_ViewListBtn" href="javascript:void(0)"><i class="flex-item figure th list icon"></i></a>
                <span class="category-grid-sizer flex-item Cat_ViewBoxedBtn active"><i class="flex-item figure th icon"></i></span>
            </div>*@
    </div>



    @if (Model.SpecificationFilter.AlreadyFilteredItems.Count > 0)
    {

    
    var rawUrl = @httpContextAccessor.HttpContext.Request;
    var mahmut = @webHelper.GetRawUrl(rawUrl);
    var hat = @webHelper.GetThisPageUrl(true);




    <div class="category-list-active-filters">
        <a href="@Model.SpecificationFilter.RemoveFilterUrl" class="category-clear-filters-button valign-center-wrapper">
            <i class="trash alternate outline icon"></i>


            <span class="category-clear-filters-button-text">
                <span>TEMİZLE</span>

            </span>
        </a>









        @foreach (var item in Model.SpecificationFilter.AlreadyFilteredItems)
        {
            var removeFilter = "";
            var asdasdasdmahmu = webHelper.QueryString<string>("specs");
            int t = 0;
            var newSpecs = "";
            int count = asdasdasdmahmu.Split(',', StringSplitOptions.None).Length;
            if (count > 0)
            {

                foreach (var amhm in asdasdasdmahmu.Split(','))
                {
                    if (amhm != item.FilterUrl)
                    {
                        if (t == 0)
                        {
                            newSpecs += amhm;
                            t++;
                        }
                        else
                        {
                            newSpecs += "," + amhm;
                        }
                    }
                }
                removeFilter = @webHelper.ModifyQueryString(hat, "specs", newSpecs.Split(','));
            }
            else
            {
                removeFilter = @webHelper.RemoveQueryString(hat, "specs");
            }





            if (count > 0)
            {


<a href=" @removeFilter">

    <div class="category-filter-tag valign-center-wrapper">
        <div  class="filter-tag-remove-button valign-center-wrapper">
            <i class="close icon"></i>


                </div>
                <div class="filter-tag-details">
                    <span class="filter-property">    @item.SpecificationAttributeName</span>
                    <span class="filter-value">

                        
                        
                        @item.SpecificationAttributeOptionName
                    </span>
                </div>
            </div>
        </a>
            <!--  -->
            }
        }







    </div>

    }
}