﻿@model CatalogPagingFilteringModel.SpecificationFilterModel
@{
    var notFilteredItemsGroups = Model.NotFilteredItems.GroupBy(x => x.SpecificationAttributeName);
    var alreadyFilteredItemsGroups = Model.AlreadyFilteredItems.GroupBy(x => x.SpecificationAttributeName);








}
@if (Model.Enabled)
{

            if (Model.NotFilteredItems.Count > 0)
            {
           
                    foreach (var group in notFilteredItemsGroups)
                    {
                        var groupList = group.ToList();
                        
                        <div class=" category-filter-option-box  @(groupList.Any(x => !string.IsNullOrEmpty(x.SpecificationAttributeOptionColorRgb)) ? "product-spec-color" : null )">
                            	<div class="filter-option-heading">
									<i class="figure caret down icon"></i>
                                <div class="filter-option-title">@groupList[0].SpecificationAttributeName</div>
                            </div>
                            <div style="max-height: 300px;overflow-y: scroll;">
                            @foreach (var spec in groupList)
                            {<ul class="filter-option-item-list">
                                <li class="category-filter-item @(!string.IsNullOrEmpty(spec.SpecificationAttributeOptionColorRgb) ? "color-item" : null)">
                                    <a class="category-filter-action" href="@spec.FilterUrl">
                                        @if (string.IsNullOrEmpty(spec.SpecificationAttributeOptionColorRgb))
                                        {
                                            @spec.SpecificationAttributeOptionName
                                      
                                        }
                                        else
                                        {
                                            <div class="attribute-squares color-squares">
                                                <span class="attribute-square-container" title="@spec.SpecificationAttributeOptionName">
                                                    <span class="attribute-square" style="background-color: @(spec.SpecificationAttributeOptionColorRgb);">&nbsp;</span>
                                                </span>
                                            </div>
                                        }
                                    </a>
                                </li>
                                </ul>
                            }
                        </div>
</div>
                    }
            
            }
            @if (Model.AlreadyFilteredItems.Count > 0&&false)
            {
                <div class="filtered-items">
                    <ul>
                        <li class="title">
                            @T("Filtering.SpecificationFilter.CurrentlyFilteredBy")
                        </li>
                        @foreach (var group in alreadyFilteredItemsGroups)
                        {
                        <li class="item">
                            <strong>@group.First().SpecificationAttributeName</strong>:
                          
                            @group.ToList().Aggregate(string.Empty, (current, next) =>
                                $"{(string.IsNullOrEmpty(current) ? string.Empty : $"{current} {T("Filtering.SpecificationFilter.Separator")}")}{next.SpecificationAttributeOptionName}")
                        </li>
                        }
                    </ul>
                </div>
                <div class="remove-filter">
                    <a href="@Model.RemoveFilterUrl">@T("Filtering.SpecificationFilter.Remove")</a>
                </div>
            }
   
}
