﻿@inject ISettingService settingService
@inject IProductService productService
@inject IPictureService pictureService
@inject IPriceFormatter priceFormatter
@inject IUrlRecordService urlRecordService
@inject ISpecificationAttributeService specificationAttributeService
@functions{
	string getSettingByKey(string settingKey)
	{
		var settingByKey = settingService.GetSettingByKey<string>(settingKey);
		var settingValue = !String.IsNullOrEmpty(settingByKey) ? settingByKey.Replace(" ", String.Empty) : null;
		return (settingValue);
	}
	int[] getArrayListFromSettingsByKey(string settingKey)
	{
		var settingByKey = settingService.GetSettingByKey<string>(settingKey);
		var settingValue = !String.IsNullOrEmpty(settingByKey) ? settingByKey.Replace(" ", String.Empty) : null;
		string[] valuesStrArray = !String.IsNullOrEmpty(settingValue) ? settingValue.Split(',') : null;
		bool valueIsNumeric = !String.IsNullOrEmpty(settingValue) ? Regex.IsMatch(settingValue, @"\d") : false;
		int[] valuesIntArray = valueIsNumeric ? Array.ConvertAll(valuesStrArray, int.Parse) : null;
		return (valuesIntArray);
	}
	string getRelatedContentContentImageFullPath(string imageFolderPath, int itemID)
	{
		string prepareFullPath = String.Format($"{imageFolderPath}{itemID}.jpg");
		return (prepareFullPath);
	}
	string getLocalizedString(string localizedStringName)
	{
		LocalizedString localizedString = T(localizedStringName);
		string checkedLocalizedString = localizedString.ToString() != localizedStringName.ToLowerInvariant() ? localizedString.ToString() : null;
		return (checkedLocalizedString);
	}

	string productTypeName(int productID)
	{
		var productTypeSpecAttr = specificationAttributeService.GetProductSpecificationAttributes(productId: productID).Where(x => x.SpecificationAttributeOption.SpecificationAttribute.Name == "Hidden.Product.Type").ToList();
		var productTypeSpecAttrOptionID = (productTypeSpecAttr.Count > 0) ? productTypeSpecAttr.FirstOrDefault().SpecificationAttributeOption.Id : 0;
		string productTypeName = (productTypeSpecAttrOptionID != 0) ? specificationAttributeService.GetSpecificationAttributeOptionById(productTypeSpecAttrOptionID).Name : null;
		return (productTypeName);
	}
	string productPictureUrl(int productID)
	{
		var productFirstPicture = pictureService.GetPicturesByProductId(productID);
		var productFirstPictureID = productFirstPicture.Count > 0 ? productFirstPicture.FirstOrDefault().Id : 0;
		string productPictureURL = pictureService.GetPictureUrl(productFirstPictureID);
		return (productPictureURL);
	}
	string productPriceFormat(decimal productPrice)
	{
		string formattedProductPrice = priceFormatter.FormatPrice(productPrice);
		return (formattedProductPrice);
	}
	int productDiscountDegree(decimal oldPrice, decimal currentPrice)
	{
		var discountDegree = Convert.ToInt32(Math.Ceiling(((oldPrice - currentPrice) / currentPrice) * 100));
		return (discountDegree);
	}
	ProductManufacturer getProductManufacturer(Product product)
	{
		ProductManufacturer productManufacturer = product.ProductManufacturers.FirstOrDefault();
		return (productManufacturer);
	}
	string getLocalizedSlug(int entityID, string entityName)
	{
		string LocalizedSlug = urlRecordService.GetSeName(entityId: entityID, entityName: entityName);
		return (LocalizedSlug);
	}
	string productAddToCartLink(int productId)
	{
		bool forceCartRedirection = settingService.GetSettingByKey<string>("ShoppingCartSettings.DisplayCartAfterAddingProduct") == "True" ? true : false;
		string addToCartLink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = productId, shoppingCartTypeId = (int)ShoppingCartType.ShoppingCart, quantity = 1, forceredirection = forceCartRedirection });
		return (addToCartLink);
	}
	string productAddToWishlist(int productId)
	{
		string addToWishlist = Url.RouteUrl("AddProductToCart-Catalog", new { productId = productId, shoppingCartTypeId = (int)ShoppingCartType.Wishlist, quantity = 1 });
		return (addToWishlist);
	}
	string productAddCompareList(int productId)
	{
		string addToCompareList = Url.RouteUrl("AddProductToCompare", new { productId = productId });
		return (addToCompareList);
	}
	  
}
@{
    var relatedContentsIDs = getArrayListFromSettingsByKey("Homepage.Related.Contents.Item.IDs");
    string contentImageFolderPath = "~/images/uploaded/homepage-related-contents/content-images/";
    bool shouldRender = false;
    if (relatedContentsIDs != null)
    {
        shouldRender = true;
    }
}
@if (shouldRender)
{
	<section class="homepage-related-contents">
		<div class="grid-block related-contents-container">
			<div class="homepage-related-contents-block">
				<div class="slide-items">
					@foreach (var item in relatedContentsIDs)
					{
						var getProductID = getSettingByKey($"Homepage.Related.Contents.Item.{item}.ProductID");
						Product thisProduct = productService.GetProductById(Convert.ToInt32(getProductID));

						if (thisProduct != null)
						{
							var contentTitle = getLocalizedString($"Homepage.Related.Contents.Item.{item}.Title");
							var contentSubTitle = getLocalizedString($"Homepage.Related.Contents.Item.{item}.SubTitle");
							var contentDescription = getLocalizedString($"Homepage.Related.Contents.Item.{item}.Description");
							var contentURL = getLocalizedString($"Homepage.Related.Contents.Item.{item}.URL");
							var contentButtonTextForItem = getLocalizedString($"Homepage.Related.Contents.Item.{item}.Button.Text");
							var contentCommonButtonText = T("Homepage.Related.Contents.Item.Common.Button.Text").ToString();
							var contentButtonText = !String.IsNullOrEmpty(contentButtonTextForItem) ? contentButtonTextForItem : contentCommonButtonText;

							bool isProductOldPriceShown = thisProduct.OldPrice != 0 ? true : false;

							<div class="slide-item">
								<div class="content-area" style="background-image: url('@Url.Content(getRelatedContentContentImageFullPath(contentImageFolderPath, item))');">
									<div class="valign-center-wrapper content-wrapper">
										<div class="flex-item">
											@if (!String.IsNullOrEmpty(contentTitle))
											{
												<h1 class="content-area-title">@contentTitle</h1>
											}
											@if (!String.IsNullOrEmpty(contentSubTitle))
											{
												<h2 class="content-area-subtitle">@contentSubTitle</h2>
											}
											@if (!String.IsNullOrEmpty(contentDescription))
											{
												<div class="content-area-text">
													<p>@contentDescription</p>
												</div>
											}
											@if (!String.IsNullOrEmpty(contentURL))
											{
												<div class="content-actions">
													<a class="content-action button button-transparent-blue" href="@contentURL"><span>@contentButtonText</span></a>
												</div>
											}
										</div>
									</div>
								</div>
								<div class="product-showcase">
									<div class="product-box filled-box full-width">
									  
							
										@if (isProductOldPriceShown)
										{
											<div class="product-additional-tags">
												<span class="discount-label">
													<span class="degree">%</span>
													<span class="amount">@productDiscountDegree(thisProduct.OldPrice, thisProduct.Price)</span>
												</span>
											</div>
										}
										<img class="ui fluid image product-box-image" title="@thisProduct.Name" alt="@thisProduct.Name" src="@productPictureUrl(thisProduct.Id)" style="display: block;   
    object-position: center;
    overflow: hidden;
	height: 400px;
	padding:0;
    object-fit: contain;">
										<div class="product-content">
											<div class="valign-center-wrapper content-wrapper">
												<div class="product-property">
													@if (getProductManufacturer(thisProduct) != null)
													{
														<a href="@Url.RouteUrl("Manufacturer", new { SeName = getLocalizedSlug(getProductManufacturer(thisProduct).ManufacturerId, "Manufacturer") })" class="first-line">@getProductManufacturer(thisProduct).Manufacturer.Name</a>
													}
													<a href="@Url.RouteUrl("Product", new { SeName = getLocalizedSlug(thisProduct.Id, "Product") })" class="second-line">@thisProduct.Name</a>
													<span class="third-line">@productTypeName(thisProduct.Id)</span>
												</div>
												<div class="product-price @(isProductOldPriceShown ? string.Empty : "single-price")">
													@if (isProductOldPriceShown)
													{
														<span class="old-price">@productPriceFormat(thisProduct.OldPrice)</span>
													}
													<span class="actual-price">@productPriceFormat(thisProduct.Price)</span>
												</div>
											</div>
											<div class="product-actions">
												<div class="additional-buttons">
													<span onclick="AjaxCart.addproducttocart_catalog('@productAddToWishlist(thisProduct.Id)');return false;" class="circle-button add-to-wishlist-button"><i class="figure heart outline icon"></i></span>
													<span onclick="AjaxCart.addproducttocomparelist('@productAddCompareList(thisProduct.Id)');return false;" class="circle-button add-to-compare-button"><i class="figure clone outline icon"></i></span>
												</div>
												<span onclick="AjaxCart.addproducttocart_catalog('@productAddToCartLink(thisProduct.Id)');return false;" class="button button-transparent-blue add-to-cart-button"><i class="figure left-figure cart plus icon"></i> <span>@T("ProductBox.AddToCartButton.Text")</span></span>
											</div>
										</div>
									</div>
								</div>
							</div>
						}
					}

				</div>
				@if (relatedContentsIDs.Length > 1)
				{
					<div class="slide-controllers valign-center-wrapper">
						<div class="flex-item">
							<div class="slide-track-navigation">
								<i class="navigation left-navigation chevron left icon"></i>
								<div class="slide-dots"></div>
								<i class="navigation right-navigation chevron right icon"></i>
							</div>
						</div>
					</div>
				}
			</div>
		</div>
	</section>
}