﻿@model CategoryNavigationModel
@if (Model.Categories.Count > 0)
{
    <div class="category-filter-option-box">
        <div class="filter-option-heading">
        	<i class="figure caret down icon"></i>
            <div class="filter-option-title">@T("Categories")</div>
        </div>
        
                @foreach (var category in Model.Categories)
                {
                    var categoryLineModel = new CategoryNavigationModel.CategoryLineModel
                    {
                        CurrentCategoryId = Model.CurrentCategoryId,
                        Category = category
                    };
                    @await Html.PartialAsync("_CategoryLine.Navigation", categoryLineModel)
                }
         
    </div>
}


