﻿@model ProductDetailsModel.AddToCartModel
@using Nop.Core.Domain.Orders
@if (Model.UpdatedShoppingCartItemId > 0)
{
    <input asp-for="UpdatedShoppingCartItemId" type="hidden"/>
}
@if (!Model.DisableBuyButton || Model.CustomerEntersPrice)
{string justifyContent="flex-end";
           if (!string.IsNullOrEmpty(Model.MinimumQuantityNotification)){
justifyContent="space-between";
           }
    <div class="product-shopping-area" style="justify-content: @justifyContent;">
        @if (Model.CustomerEntersPrice)
        {
            <div class="customer-entered-price">
                <div class="price-input">
                    <label asp-for="CustomerEnteredPrice" asp-postfix=":" class="enter-price-label"></label>
                    @*round price*@
                    <input asp-for="CustomerEnteredPrice" value="@Convert.ToInt32(Math.Ceiling(Model.CustomerEnteredPrice))" class="enter-price-input" />
                </div>
                <div class="price-range">
                    @Model.CustomerEnteredPriceRange
                </div>
            </div>
        }
        @if (!string.IsNullOrEmpty(Model.MinimumQuantityNotification))
        {

               <span class="stock-status-box">
                                            <span class="stock-status-text">@Model.MinimumQuantityNotification</span>
                                        </span>
         @*   <div class="min-qty-notification">@Model.MinimumQuantityNotification</div>*@
        }
              
        @if (!Model.DisableBuyButton)
        {
            <div class="shopping-steps-box">
                @*<label asp-for="EnteredQuantity" asp-postfix=":" class="qty-label"></label>*@
                @if (Model.AllowedQuantities.Count > 0)
                {
                    <select asp-for="EnteredQuantity" asp-items="Model.AllowedQuantities" class="qty-dropdown"></select>
                }
                else
                {


                                     
                                      
                                            <div class="shopping-input-box">
                                                <i id="minus_product" class="shopping-input-icon minus icon"  style="padding-top:0px;padding-bottom:0px;"></i>
                               
                    <input asp-for="EnteredQuantity" class=" shopping-input" type="text" style="border:none" id="_quantity" />
                                                <i id="plus_product" class="shopping-input-icon plus icon"  style="padding-top:0px;padding-bottom:0px;"></i>


</div>


                            















                    
                    <script asp-location="Footer">
                        //when a customer clicks 'Enter' button we submit the "add to cart" button (if visible)
                        $(document).ready(function() {
                            $("#@Html.IdFor(model => model.EnteredQuantity)").on("keydown", function(event) {
                                if (event.keyCode == 13) {
                                    $("#add-to-cart-button-@Model.ProductId").trigger("click");
                                    return false;
                                }
                            });
                        });
                    </script>
                }
                @{
                    var addToCartText = "";
                    if (Model.UpdatedShoppingCartItemId > 0 && Model.UpdateShoppingCartItemType.HasValue && Model.UpdateShoppingCartItemType.Value == ShoppingCartType.ShoppingCart)
                    {
                        addToCartText = T("ShoppingCart.AddToCart.Update").Text;
                    }
                    else
                    {
                        addToCartText = T("ShoppingCart.AddToCart").Text;
                        if (Model.IsRental)
                        {
                            addToCartText = T("ShoppingCart.Rent").Text;
                        }
                        if (Model.AvailableForPreOrder)
                        {
                            addToCartText = T("ShoppingCart.PreOrder").Text;
                        }
                    }

                <div class="shopping-add-to-basket">
                                                <i class="basket-icon shopping cart icon" ></i>
                                                
                    <input type="button" id="add-to-cart-button-@Model.ProductId" class="basket-text add-to-cart-button" value="@addToCartText" data-productid="@Model.ProductId" onclick="AjaxCart.addproducttocart_details('@Url.RouteUrl("AddProductToCart-Details", new {productId = Model.ProductId, shoppingCartTypeId = (int) ShoppingCartType.ShoppingCart})', '#product-details-form');return false;"/>
                                            </div>
                                      
                          


                }
            </div>
            if (!string.IsNullOrEmpty(Model.PreOrderAvailabilityStartDateTimeUserTime))
            {
                <div class="pre-order-availability-date">
                    <label>@T("ShoppingCart.PreOrderAvailability"):</label>
                    @Html.Raw(Model.PreOrderAvailabilityStartDateTimeUserTime)
                </div>
            }
        }
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ProductDetailsAddInfo, additionalData = Model })
    </div>
}


<script asp-location="Footer">
  


    $("#minus_product").on("click", function (e) {e.preventDefault();
      var _value = $("#_quantity").val();
        if (_value > 1) {
           _value--;
             

        }
        $("#_quantity").val(_value);
    });
    $("#plus_product").on("click", function (e) {e.preventDefault();
      var _value = $("#_quantity").val();

        _value++;

        $("#_quantity").val(_value);

    });


</script>