﻿@model IList<ProductSpecificationModel>
@using Nop.Core.Domain.Catalog;
@if (Model.Count > 0)
{
    <div class="product-specs-box">
        <div class="title">
            <strong>@T("Products.Specs")</strong>
        </div>
        <div class="tab-content-table-area accordion-hidable-content">
            <table class="tab-content-table">
                <colgroup>
                    <col width="25%" />
                    <col />
                </colgroup>
                <tbody>
                    @for (var i = 0; i < Model.Count; i++)
                    {
                        var item = Model[i];
                        <tr @(i % 2 == 0 ? Html.Raw(" class=\"odd table-minibox\"") : Html.Raw(" class=\"even table-minibox\""))>
                            <td class="table-minibox-title">
                                @item.SpecificationAttributeName
                            </td>
                            <td class="table-minibox-text">
                                @if (!string.IsNullOrEmpty(item.ColorSquaresRgb) && (item.AttributeTypeId == (int)SpecificationAttributeType.Option) )
                                {
                                    <div class="table-minibox">
                                        <span class="table-minibox-title" title="@Html.Raw(item.ValueRaw)">
                                            <span class="table-minibox-text" style="background-color: @(item.ColorSquaresRgb);">&nbsp;</span>
                                        </span>
                                    </div>
                                }
                                else
                                {
                                    @Html.Raw(item.ValueRaw)
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}



