﻿@using Nop.Core
@using Nop.Services.Common;
@using Nop.Services.Customers;
@inject ICustomerService customerService
@inject IGenericAttributeService genericAttributeService
@model ProductReviewsModel



@{
    Layout = "";// "_ColumnsOne";

    //title
    //  Html.AddTitleParts(Model.ProductName);
    //  Html.AddTitleParts(T("PageTitle.ProductReviews").Text);
    //  //page class
    //  Html.AppendPageCssClassParts("html-product-reviews-page");
}



<div class="tab-description-area accordion-hidable-content">

    @* <div class="page-title">
            <h1>@T("Reviews.ProductReviewsFor") <a href="@Url.RouteUrl("Product", new { SeName = Model.ProductSeName })">@Model.ProductName</a></h1>
        </div>*@
    <div class="ui fluid accordion comment-accordion-box">

        <div class="title comment-accordion-title">
            <span class="comment-accordion-icon">
                <i class="dropdown icon comment-icon"></i>
            </span>
            <span class="comment-title">Yorum Yaz</span>
        </div>


        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ProductReviewsPageTop, additionalData = Model })
        @if (Model.AddProductReview.SuccessfullyAdded)
        {
            <div class="result">
                @Model.AddProductReview.Result
            </div>
        }
        else
        {
            <div class=" content comment-accordion-content" >
                @*   <div class="title">
                        <strong>@T("Reviews.Write")</strong>
                    </div>*@
                <form asp-route="ProductReviews" method="post">
                    @*  <div asp-validation-summary="ModelOnly" class="message-error"></div>*@
                    <div class="comment-accordion-content-box">

                        <div class="">
                            <div class="comment-content-box-title">
                                @*<label asp-for="AddProductReview.Title" asp-postfix=":"></label>*@
                                <input asp-for="AddProductReview.Title" class="comment-content-title" onkeyup="countCharTitle(this)" placeholder="Başlık Yazınız" asp-disabled="@(!Model.AddProductReview.CanCurrentCustomerLeaveReview)" />
                                @*<nop-required />*@
                                <span asp-validation-for="AddProductReview.Title"></span>
                            </div>
                            <div class="comment-content-box-text">
                                @* <label asp-for="AddProductReview.ReviewText" asp-postfix=":"></label>*@
                                <textarea asp-for="AddProductReview.ReviewText" class="comment-content-text" onkeyup="countChar(this)" placeholder="Yorum Yazınız" asp-disabled="@(!Model.AddProductReview.CanCurrentCustomerLeaveReview)"></textarea>
                                @* <nop-required />*@
                                <span asp-validation-for="AddProductReview.ReviewText"></span>
                            </div>
                            <div class="review-rating">
                                <div class="name-description">
                                    @*  <label asp-for="AddProductReview.Rating" asp-postfix=":"></label>*@
                                </div>
                                <div class="rating-wrapper" style="display:inline-flex;    margin-top: 25px;">
                                    <div class="label first" style="padding:15px">@T("Reviews.Fields.Rating.Bad")</div>
                                    <div class="rating-options" style="padding:15px">
                                        <input asp-for="AddProductReview.Rating" value="1" type="radio" style="width:20px" id="addproductrating_1" />
                                        <input asp-for="AddProductReview.Rating" value="2" type="radio" style="width:20px" id="addproductrating_2" />
                                        <input asp-for="AddProductReview.Rating" value="3" type="radio" style="width:20px" id="addproductrating_3" />
                                        <input asp-for="AddProductReview.Rating" value="4" type="radio" style="width:20px" id="addproductrating_4" />
                                        <input asp-for="AddProductReview.Rating" value="5" type="radio" style="width:20px" id="addproductrating_5" />
                                    </div>
                                    <div class="label last" style="padding:15px">@T("Reviews.Fields.Rating.Excellent")</div>
                                </div>
                                 @if (Model.AddProductReview.DisplayCaptcha)
                            {
                                <div class="captcha-box" style="float:right;padding-top:25px;">
                                    <nop-captcha />
                                </div>
                            }
                            </div>
                            @if (Model.ReviewTypeList.Count > 0)
                            {
                                foreach (var additionalReview in Model.AddAdditionalProductReviewList.OrderBy(ob => ob.DisplayOrder).ToList())
                                {
                                    var curAdditionalReview = Model.AddAdditionalProductReviewList.IndexOf(additionalReview);
                                    <div class="review-rating">
                                        <div class="name-description">
                                            <div class="tooltip">
                                                <label>@Html.Raw(additionalReview.Name):</label>
                                                <span class="tooltiptext">@Html.Raw(additionalReview.Description)</span>
                                            </div>
                                        </div>
                                        <div class="rating-wrapper">
                                            <div class="label first">@T("Reviews.Fields.Rating.Bad")</div>
                                            <div class="rating-options">
                                                <input asp-for="@Model.AddAdditionalProductReviewList[curAdditionalReview].ReviewTypeId" value="@(additionalReview.ReviewTypeId)" type="hidden" />
                                                <input asp-for="@Model.AddAdditionalProductReviewList[curAdditionalReview].Name" value="@(additionalReview.Name)" type="hidden" />
                                                <input asp-for="@Model.AddAdditionalProductReviewList[curAdditionalReview].Description" value="@(additionalReview.Description)" type="hidden" />
                                                <input asp-for="@Model.AddAdditionalProductReviewList[curAdditionalReview].DisplayOrder" value="@(additionalReview.DisplayOrder)" type="hidden" />
                                                <input asp-for="@Model.AddAdditionalProductReviewList[curAdditionalReview].IsRequired" value="@(additionalReview.IsRequired)" type="hidden" />

                                                <input asp-for="@Model.AddAdditionalProductReviewList[curAdditionalReview].Rating" value="0" type="radio" id="addproductratingext_0_@(additionalReview.ReviewTypeId)" style="display: none;" />
                                                <input asp-for="@Model.AddAdditionalProductReviewList[curAdditionalReview].Rating" value="1" type="radio" id="addproductratingext_1_@(additionalReview.ReviewTypeId)" />
                                                <input asp-for="@Model.AddAdditionalProductReviewList[curAdditionalReview].Rating" value="2" type="radio" id="addproductratingext_2_@(additionalReview.ReviewTypeId)" />
                                                <input asp-for="@Model.AddAdditionalProductReviewList[curAdditionalReview].Rating" value="3" type="radio" id="addproductratingext_3_@(additionalReview.ReviewTypeId)" />
                                                <input asp-for="@Model.AddAdditionalProductReviewList[curAdditionalReview].Rating" value="4" type="radio" id="addproductratingext_4_@(additionalReview.ReviewTypeId)" />
                                                <input asp-for="@Model.AddAdditionalProductReviewList[curAdditionalReview].Rating" value="5" type="radio" id="addproductratingext_5_@(additionalReview.ReviewTypeId)" />
                                            </div>
                                            <div class="label last">@T("Reviews.Fields.Rating.Excellent")</div>
                                        </div>
                                    </div>
                                }
                            }

                           


                                <div class="comment-content-box-submit" style="display: inline-flex;width: 100%;">
                                    <div class="count-letter-box">
                                        <p class="count-letter">
                                            <span id="charNum" class="count-first-part">0</span>
                                            <span class="count-second-part">/ 400</span>
                                        </p>
                                        <p class="message-alert">
                                            Yorumunuz moderatör onayından sonra yayına alınacaktır.
                                        </p>
                                        <p asp-validation-summary="ModelOnly" class="message-alert">

                                        </p>

                                    </div>
                               
                                        <input type="submit" name="add-review" style="max-width: 195px;color: aliceblue;text-align: center;font-size: 20px;" class="submit-button submit-text" value="Yorumu Paylaş" />
                             
                        
                                </div>
                        </div>
                    </div>
                
                </form>

            </div>
        }











        @if (Model.Items.Count > 0)
        {





            <div class="all-comment-box" style="margin-top:20px;">

                @foreach (var review in Model.Items)
                {
                   
                    var ratingPercent = review.Rating * 20;


                <div class="comment-box">
                    @await Html.PartialAsync("_ProductReviewHelpfulness", review.Helpfulness)
                    <div class="comment-text-box" style="width:100%">

                        <div class="product-review-box" style="width:100%">
                            <p class="comment-name" style=" float:left">
                                @review.CustomerName 
                            </p>
                            <div class="rating" style="float:right">
                                <div style="width: @(ratingPercent)%">
                                </div>
                            </div>

                        </div>


                        <div class="comment-text" style="float:left;width:100%;margin:0">

                            <span style=" font-size:18px;   font-family: SamsungSharpSans;">@review.Title</span>
                            <span style=" font-size:15px;float:right;   font-family: SamsungSharpSans;">  @review.WrittenOnStr</span>


                        </div>
                        <p class="comment-text" style="width:100%;font-family: 'SamsungSharpSans-Regular';padding: 26px 0px;font-size: 17px;color: #526C79;">
                            @Html.Raw(Nop.Core.Html.HtmlHelper.FormatText(review.ReviewText, false, true, false, false, false, false))
                        </p>
                        <div style="height:15px;padding:2px; font-size:14px;   font-family: SamsungSharpSans-Bold;">

                        <span class="result" id="helpfulness-vote-result-@(review.Id)">
                          
                        </span>
                        </div>
                    </div>
                </div>


                }
            </div>
        }


    </div>
</div>


