﻿@model CheckoutCompletedModel
@inject IOrderService orderService
@using Nop.Services.Orders
@using Newtonsoft.Json
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
    //page class
    Html.AppendPageCssClassParts("html-checkout-page");
    Html.AppendPageCssClassParts("html-order-completed-page");
}
    @{

        var order = orderService.GetOrderById(Model.OrderId);

        var total = order.OrderTotal;
        var tax = total * 0.18m;
        var shippingPrice = order.OrderShippingInclTax;
        var odemeId = order.AuthorizationTransactionId;
        var orderId = order.Id;
        var jsonObjString = "";
        int productOrder = 0;


        var asdasdasd = new
        {
            transactionProducts = order.OrderItems.Select(item => new
            {
                sku = item.Product.Sku.ToString(),
                name = item.Product.Name,
                category = "Besin Takviyesi",
                price = item.PriceInclTax.ToString(),
                quantity = item.Quantity.ToString()
            })
        };
        

       
var productsInfo = JsonConvert.SerializeObject(asdasdasd.transactionProducts);
       
       
  


    }

@*
    <script asp-location="Footer">

        
    window.dataLayer = window.dataLayer || []
    dataLayer.push({
        'transactionId': '@odemeId.ToString()',
        'transactionAffiliation': 'DoctorMito',
        'transactionTotal': '@total.ToString()',
        'transactionTax': '@tax.ToString()',
        'transactionShipping': '@shippingPrice.ToString()',
        'transactionProducts': @Html.Raw(productsInfo),
        'event': 'orderCompleted'
    });
    </script>
*@






<div class="page checkout-page order-completed-page">
    @if (!Model.OnePageCheckoutEnabled)
    {
        @await Component.InvokeAsync("CheckoutProgress",  new { step = CheckoutProgressStep.Complete })
    }
    <div class="page-title">
        <h1>@T("Checkout.ThankYou")</h1>
    </div>
    <div class="page-body checkout-data">
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.CheckoutCompletedTop, additionalData = Model })
        <div class="section order-completed">
            <div class="title">
                <strong>@T("Checkout.YourOrderHasBeenSuccessfullyProcessed")</strong>
            </div>
            <div class="details">
                <div class="order-number">
                    <strong>@T("Checkout.OrderNumber"): @Model.CustomOrderNumber</strong>
                </div>
                <div class="details-link">
                    <a href="@Url.RouteUrl("OrderDetails", new { orderID = Model.OrderId })">@T("Checkout.PlacedOrderDetails")</a>
                </div>
            </div>
            <div class="buttons">
                <input type="button" value="@T("Checkout.ThankYou.Continue")" class="button-1 order-completed-continue-button" onclick="setLocation('@Url.RouteUrl("HomePage")')" />
            </div>
        </div>
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.CheckoutCompletedBottom, additionalData = Model })
    </div>


    
</div>
