﻿@inject ISettingService settingService
@inject IProductService productService
@inject IPictureService pictureService
@inject IPriceFormatter priceFormatter
@inject IUrlRecordService urlRecordService
@inject ISpecificationAttributeService specificationAttributeService
@functions{
                string getSettingByKey(string settingKey)
                {
                    var settingByKey = settingService.GetSettingByKey<string>(settingKey);
                    var settingValue = !String.IsNullOrEmpty(settingByKey) ? settingByKey.Replace(" ", String.Empty) : null;
                    return (settingValue);
                }
                int[] getArrayListFromSettingsByKey(string settingKey)
                {
                    var settingByKey = settingService.GetSettingByKey<string>(settingKey);
                    if (!String.IsNullOrEmpty(settingByKey))
                    {

                        var settingValue = !String.IsNullOrEmpty(settingByKey) ? settingByKey.Replace(" ", String.Empty) : null;
                        string[] valuesStrArray = !String.IsNullOrEmpty(settingValue) ? settingValue.Split(',') : null;
                        bool valueIsNumeric = !String.IsNullOrEmpty(settingValue) ? Regex.IsMatch(settingValue, @"\d") : false;
                        int[] valuesIntArray = valueIsNumeric ? Array.ConvertAll(valuesStrArray, int.Parse) : null;
                        return (valuesIntArray);
                    }
                    else {
                        int[] valuesIntArray = { };
                        return valuesIntArray;
                    }
                }
                string getRelatedContentContentImageFullPath(string imageFolderPath, int itemID)
                {
                    string prepareFullPath = String.Format($"{imageFolderPath}{itemID}.jpg");
                    return (prepareFullPath);
                }
                string getLocalizedString(string localizedStringName)
                {
                    LocalizedString localizedString = T(localizedStringName);
                    string checkedLocalizedString = localizedString.ToString() != localizedStringName.ToLowerInvariant() ? localizedString.ToString() : null;
                    return (checkedLocalizedString);
                }

                string productTypeName(int productID)
                {
                    var productTypeSpecAttr = specificationAttributeService.GetProductSpecificationAttributes(productId: productID).Where(x => x.SpecificationAttributeOption.SpecificationAttribute.Name == "Hidden.Product.Type").ToList();
                    var productTypeSpecAttrOptionID = (productTypeSpecAttr.Count > 0) ? productTypeSpecAttr.FirstOrDefault().SpecificationAttributeOption.Id : 0;
                    string productTypeName = (productTypeSpecAttrOptionID != 0) ? specificationAttributeService.GetSpecificationAttributeOptionById(productTypeSpecAttrOptionID).Name : null;
                    return (productTypeName);
                }
                string productPictureUrl(int productID)
                {
                    var productFirstPicture = pictureService.GetPicturesByProductId(productID);
                    var productFirstPictureID = productFirstPicture.Count > 0 ? productFirstPicture.FirstOrDefault().Id : 0;
                    string productPictureURL = pictureService.GetPictureUrl(productFirstPictureID);
                    return (productPictureURL);
                }
                string productPriceFormat(decimal productPrice)
                {
                    string formattedProductPrice = priceFormatter.FormatPrice(productPrice);
                    return (formattedProductPrice);
                }
                int productDiscountDegree(decimal oldPrice, decimal currentPrice)
                {
                    var discountDegree = Convert.ToInt32(Math.Ceiling(((oldPrice - currentPrice) / currentPrice) * 100));
                    return (discountDegree);
                }
                ProductManufacturer getProductManufacturer(Product product)
                {
                    ProductManufacturer productManufacturer = product.ProductManufacturers.FirstOrDefault();
                    return (productManufacturer);
                }
                string getLocalizedSlug(int entityID, string entityName)
                {
                    string LocalizedSlug = urlRecordService.GetSeName(entityId: entityID, entityName: entityName);
                    return (LocalizedSlug);
                }
                string productAddToCartLink(int productId)
                {
                    bool forceCartRedirection = settingService.GetSettingByKey<string>("ShoppingCartSettings.DisplayCartAfterAddingProduct") == "True" ? true : false;
                    string addToCartLink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = productId, shoppingCartTypeId = (int)ShoppingCartType.ShoppingCart, quantity = 1, forceredirection = forceCartRedirection });
                    return (addToCartLink);
                }
                string productAddToWishlist(int productId)
                {
                    string addToWishlist = Url.RouteUrl("AddProductToCart-Catalog", new { productId = productId, shoppingCartTypeId = (int)ShoppingCartType.Wishlist, quantity = 1 });
                    return (addToWishlist);
                }
                string productAddCompareList(int productId)
                {
                    string addToCompareList = Url.RouteUrl("AddProductToCompare", new { productId = productId });
                    return (addToCompareList);
                }
            }
@{
    var campaignProductIDs = getArrayListFromSettingsByKey("Homepage.Campaign.Products.Item.IDs");


            bool shouldRender = false;
    foreach (var item in campaignProductIDs)
    {
       
            shouldRender = true;
            break;
        
    }
    IList<Product> campaignProducts = productService.GetProductsByIds(campaignProductIDs);
        }
        @if (shouldRender)
    {

    <section class="homepage-campaign-products">
		<div class="grid-block products-container">
			<div class="homepage-products-block">
				<div class="header-bar">
					<h1 class="title">KAMPANYA SEPETİ</h1>
					<div class="slide-track-navigation">
						<i class="navigation left-navigation chevron left icon"></i>
						<i class="navigation right-navigation chevron right icon"></i>
					</div>
				</div>
				<div class="product-list">
					@foreach (var product in campaignProducts)
    {
        bool isProductOldPriceShown = product.OldPrice != 0 ? true : false;

                        <div class="product-box half-box">
							<img class="ui fluid image product-box-image" title="@product.Name" alt="@product.Name" src="@productPictureUrl(product.Id)">
							<div class="product-content">
								<div class="valign-center-wrapper content-wrapper">
									<div class="product-property">
										@if (getProductManufacturer(product) != null)
    {

                                            <a href="@Url.RouteUrl("Manufacturer", new { SeName = getLocalizedSlug(getProductManufacturer(product).Id, "Manufacturer") })" class="first-line">@getProductManufacturer(product).Manufacturer.Name</a>
    }
										<a href="@Url.RouteUrl("Product", new { SeName = getLocalizedSlug(product.Id, "Product") })" class="second-line">@product.Name</a>
										<span class="third-line">@productTypeName(product.Id)</span>
									</div>
									<div class="product-price @(isProductOldPriceShown ? string.Empty : "single-price")">
										@if (isProductOldPriceShown)
    {

                                            <span class="old-price">@productPriceFormat(product.OldPrice)</span>
										}
										<span class="actual-price">@productPriceFormat(product.Price)</span>
									</div>
								</div>
								<div class="product-actions">
									<div class="additional-buttons">
										<span onclick="AjaxCart.addproducttocart_catalog('@productAddToWishlist(product.Id)');return false;" class="circle-button add-to-wishlist-button"><i class="figure heart outline icon"></i></span>
										<span onclick="AjaxCart.addproducttocomparelist('@productAddCompareList(product.Id)');return false;" class="circle-button add-to-compare-button"><i class="figure clone outline icon"></i></span>
									</div>
									<span onclick="AjaxCart.addproducttocart_catalog('@productAddToCartLink(product.Id)');return false;" class="button button-transparent-blue add-to-cart-button"><i class="figure left-figure cart plus icon"></i> <span>@T("ProductBox.AddToCartButton.Text")</span></span>
								</div>
							</div>
						</div>
					}
				</div>
			</div>
		</div>
	</section>
}