﻿@using Nop.Core.Domain
@using Nop.Core.Domain.Common
@using Nop.Core.Domain.Seo
@using Nop.Services.Events
@using Nop.Services.Security
@using Nop.Web.Framework.Events
@using Nop.Core
@inject CommonSettings commonSettings
@inject IEventPublisher eventPublisher
@inject IPermissionService permissionService
@inject IWorkContext workContext
@inject SeoSettings seoSettings
@inject StoreInformationSettings storeInformationSettings
@inject Nop.Services.Localization.ILanguageService languageService
@{
    if (!string.IsNullOrEmpty(seoSettings.CustomHeadTags))
    {   
        Html.AppendHeadCustomParts(seoSettings.CustomHeadTags);
    }
    var displayMiniProfiler = storeInformationSettings.DisplayMiniProfilerInPublicStore && (!storeInformationSettings.DisplayMiniProfilerForAdminOnly || permissionService.Authorize(StandardPermissionProvider.AccessAdminPanel));
    eventPublisher.Publish(new PageRenderingEvent(this.Html));
}
<!DOCTYPE html>
<html lang="@languageService.GetTwoLetterIsoLanguageName(workContext.WorkingLanguage)">
<head>
    <meta name="yandex-verification" content="e23e48c602142201" />
    <meta http-equiv="content-language" content="@languageService.GetTwoLetterIsoLanguageName(workContext.WorkingLanguage)">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@Html.NopTitle()</title>
    @Html.NopCanonicalUrls()
    <meta name="keywords" content="@(Html.NopMetaKeywords())" />
    <meta name="description" content="@(Html.NopMetaDescription())" />
    <meta name="abstract" content="@(Html.NopMetaDescription())" />
    @await Component.InvokeAsync("Favicon")
    @await Html.PartialAsync("Head")
    @Html.NopCssFiles(this.Url, ResourceLocation.Head)
    @Html.NopScripts(this.Url, ResourceLocation.Head)
    @Html.NopInlineScripts(this.Url, ResourceLocation.Head)
    @Html.NopHeadCustom()
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeadHtmlTag })
    @if (displayMiniProfiler)
    {
        <mini-profiler />
    }
</head>
<body class="@Html.NopPageCssClasses(includeClassElement:false)">
    @RenderBody()
    @Html.NopCssFiles(this.Url, ResourceLocation.Footer)
    @Html.NopScripts(this.Url, ResourceLocation.Footer)
    @Html.NopInlineScripts(this.Url, ResourceLocation.Footer)
</body>
</html>