﻿<section class="homepage-main-slider">
	<div class="container">
		<div class="block">
			<div class="homepage-slider">
				<div class="redirection-area">
					<div class="redirection-actions">
						<span class="redirection-action-holder">
							<a class="redirection-action" href="javascript:void(0)">@T("Store.ProductMainslider.Catalog.ButtonText")</a>
						</span>
						<span class="redirection-action-holder">
							<a class="redirection-action" href="javascript:void(0)">@T("Store.ProductMainslider.Stores.ButtonText")</a>
						</span>
					</div>
				</div>
				<div class="slide-items" data-slides-time="10">
					<div class="slide-item" style="background-image: url('http://dogtasnew.taigalab.com/images/thumbs/000/0003321_piante-yemek-odasi.jpeg');">
						<a href="http://dogtasnew.taigalab.com/piante-yemek-odasi" class="slide-item-wrapper">
							<div class="title">PIANTE</div>
							<div class="subtitle">YEMEK ODASI</div>
						</a>
					</div>
					<div class="slide-item" style="background-image: url('http://dogtasnew.taigalab.com/images/thumbs/000/0003170_monarch-prime-koltuk-takimi.jpeg');">
						<a href="http://dogtasnew.taigalab.com/monarch-prime-koltuk-takimi" class="slide-item-wrapper">
							<div class="title">MONARCH PRIME</div>
							<div class="subtitle">KOLTUK TAKMI</div>
						</a>
					</div>
					<div class="slide-item" style="background-image: url('http://dogtasnew.taigalab.com/images/thumbs/000/0002767_gold-yemek-odasi.jpeg');">
						<a href="http://dogtasnew.taigalab.com/gold-yemek-odasi" class="slide-item-wrapper">
							<div class="title">GOLD</div>
							<div class="subtitle">YEMEK ODASI</div>
						</a>
					</div>
				</div>
				<div class="slide-controllers valign-center-wrapper">
					<div class="flex-item">
						<div class="slide-track-navigation">
							<i class="navigation left-navigation chevron left icon" style="background-image: url('');"></i>
							<span class="navigation current-item"></span>
							<i class="navigation right-navigation chevron right icon" style="background-image: url('');"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<script asp-location="Footer">
	var homepageMainSliderRoot = $('.homepage-main-slider .homepage-slider');
	var homepageMainSlides = homepageMainSliderRoot.find('.slide-items');
	var homepageMainSlider_LeftNav = homepageMainSliderRoot.find('.slide-track-navigation .left-navigation');
	var homepageMainSlider_RightNav = homepageMainSliderRoot.find('.slide-track-navigation .right-navigation');

	homepageMainSlides.slick(homepageMainSliderConfig);

	slick_SetNavBackground(homepageMainSliderRoot);

	$(homepageMainSlider_LeftNav).add(homepageMainSlider_RightNav).click(function () {
		slick_SetNavBackground(homepageMainSliderRoot);
	});

	homepageMainSliderRoot.on('afterChange', function () {
		slick_SetNavBackground(homepageMainSliderRoot);
	});
</script>