﻿@inject IProductService productService
@inject ISettingService settingService
@inject IPictureService pictureService
@inject IUrlRecordService urlRecordService
@functions{
	string getSettingByKey(string settingKey)
	{
		var settingByKey = settingService.GetSettingByKey<string>(settingKey);
		var settingValue = !String.IsNullOrEmpty(settingByKey) ? settingByKey.Replace(" ", String.Empty) : null;
		return (settingValue);
	}
	string productPictureUrl(int productID)
	{
		var productFirstPicture = pictureService.GetPicturesByProductId(productID);
		var productFirstPictureID = productFirstPicture.Count > 0 ? productFirstPicture.FirstOrDefault().Id : 0;
		string productPictureURL = pictureService.GetPictureUrl(productFirstPictureID);
		return (productPictureURL);
	}
	string getLocalizedSlug(int entityID, string entityName)
	{
		string LocalizedSlug = urlRecordService.GetSeName(entityId: entityID, entityName: entityName);
		return (LocalizedSlug);
	}
}
@{
	int homepageRelatedContentFirstProductID = Convert.ToInt32(getSettingByKey("Store.HomepageRelatedContents.FirstProduct.ID"));
	Product firstProduct = productService.GetProductById(homepageRelatedContentFirstProductID);

	int homepageRelatedContentSecondProductID = Convert.ToInt32(getSettingByKey("Store.HomepageRelatedContents.SecondProduct.ID"));
	Product secondProduct = productService.GetProductById(homepageRelatedContentSecondProductID);
	ProductManufacturer secondProductManufacturer = secondProduct != null ? secondProduct.ProductManufacturers.FirstOrDefault() : null;
	string secondProductManufacturerName = secondProductManufacturer != null ? secondProductManufacturer.Manufacturer.Name : null;
	string secondProductName = !String.IsNullOrEmpty(secondProductManufacturerName) ? secondProduct.Name.Replace(secondProductManufacturerName, null).Trim() : secondProduct != null ? secondProduct.Name : null;

	int homepageRelatedContentThirdProductID = Convert.ToInt32(getSettingByKey("Store.HomepageRelatedContents.ThirdProduct.ID"));
	Product thirdProduct = productService.GetProductById(homepageRelatedContentThirdProductID);
	ProductManufacturer thirdProductManufacturer = thirdProduct != null ? thirdProduct.ProductManufacturers.FirstOrDefault() : null;
	string thirdProductManufacturerName = thirdProductManufacturer != null ? thirdProductManufacturer.Manufacturer.Name : null;
	string thirdProductName = !String.IsNullOrEmpty(thirdProductManufacturerName) ? thirdProduct.Name.Replace(thirdProductManufacturerName, null).Trim() : thirdProduct != null ? thirdProduct.Name : null;
	
	string firstContentUrl = getSettingByKey("Store.HomepageRelatedContents.FirstContent.Url");
	string secondContentUrl = getSettingByKey("Store.HomepageRelatedContents.SecondContent.Url");
}
@if (firstProduct != null && secondProduct != null && thirdProduct != null)
{
	<section class="homepage-related-contents bg-noise bg-gradient rightToLeft-gradient">
		<div class="container small-container">
			<div class="block">
				<div class="title-area">
					<h1 class="title">@T("Store.HomepageRelatedContents.Title")</h1>
				</div>
				<div class="boxed-area ui grid">
					<div class="stretched row">
						@if (firstProduct != null)
						{
							<a href="@Url.RouteUrl("Product", new { SeName = getLocalizedSlug(firstProduct.Id, "Product") })" class="large-content-area eight wide computer sixteen wide tablet column">
								<div class="large-content-wrapper valign-bottom-wrapper" style="background-image: url('@productPictureUrl(firstProduct.Id)');">
									<div class="flex-item">
										<span class="title">@firstProduct.Name</span>
										<div class="description-area">
											<p>Lorem ipsum dolor sit amett, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
										</div>
									</div>
								</div>
							</a>
						}
						<div class="small-contents-area eight wide computer sixteen wide tablet column">
							<div class="ui grid">
								<a href="@firstContentUrl" class="small-content-wrapper with-button-wrapper valign-bottom-wrapper eight wide computer eight wide tablet sixteen wide mobile column">
									<div class="flex-item">
										<h2 class="title">@T("Store.HomepageRelatedContents.FirstContent.Title")</h2>
										<div class="description-area">
											<p>@T("Store.HomepageRelatedContents.FirstContent.Description")</p>
										</div>
										<div class="action-area">
											<span class="button circle-icon-button">
												<i class="chevron right icon"></i>
											</span>
										</div>
									</div>
								</a>
								@if (secondProduct != null)
								{
									<a href="@Url.RouteUrl("Product", new { SeName = getLocalizedSlug(secondProduct.Id, "Product") })" class="small-content-wrapper with-bg-image-wrapper valign-bottom-wrapper eight wide computer eight wide tablet sixteen wide mobile column" style="background-image: url('@productPictureUrl(secondProduct.Id)');">
										<div class="flex-item">
											<span class="title">
												<span class="collection-name">@secondProductManufacturerName</span>
												<span class="product-name">@secondProductName</span>
											</span>
										</div>
									</a>
								}
								@if (thirdProduct != null)
								{
									<a href="@Url.RouteUrl("Product", new { SeName = getLocalizedSlug(thirdProduct.Id, "Product") })" class="small-content-wrapper with-bg-image-wrapper valign-bottom-wrapper eight wide computer eight wide tablet sixteen wide mobile column" style="background-image: url('@productPictureUrl(thirdProduct.Id)');">
										<div class="flex-item">
											<span class="title">
												<span class="collection-name">@thirdProductManufacturerName</span>
												<span class="product-name">@thirdProductName</span>
											</span>
										</div>
									</a>
								}
								<a href="@secondContentUrl" class="small-content-wrapper with-button-wrapper valign-bottom-wrapper eight wide computer eight wide tablet sixteen wide mobile column">
									<div class="flex-item">
										<span class="title">@T("Store.HomepageRelatedContents.SecondContent.Title")</span>
										<div class="description-area">
											<p>@T("Store.HomepageRelatedContents.SecondContent.Description")</p>
										</div>
										<div class="action-area">
											<span class="button circle-icon-button">
												<i class="chevron right icon"></i>
											</span>
										</div>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
}