@model ShoppingCartModel
@using Nop.Core
@using Nop.Core.Domain.Orders
@using Nop.Core.Domain.Tax
@using Nop.Services.Orders

@inject IWebHelper webHelper
@inject IWorkContext workContext
@inject OrderSettings orderSettings

@inject IOrderTotalCalculationService orderTotalService


<div class="order-summary-content" >
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.OrderSummaryContentBefore })
    @await Html.PartialAsync("_OrderReviewData", Model.OrderReviewData)
    @if (Model.Items.Count > 0)
    {
        if (Model.Warnings.Count > 0)
        {
            <div class="message-error">
                <ul>
                    @foreach (var warning in Model.Warnings)
                    {
                        <li>@warning</li>
                    }
                </ul>
            </div>
        }
        @*we add enctype = "multipart/form-data" because "File upload" attribute control type requires it*@
        <form asp-route="ShoppingCart" method="post" enctype="multipart/form-data" id="shopping-cart-form">
            <div class="table-wrapper">
                <table class="cart">
                    <colgroup>
                        @if (Model.IsEditable)
                        {
                            <col width="1" />
                        }
                        @if (Model.ShowSku)
                        {
                            <col width="1" />
                        }
                        @if (Model.ShowProductImages)
                        {
                            <col width="1" />
                        }
                        <col />
                        @if (Model.ShowVendorName)
                        {
                            <col width="1" />
                        }
                        <col width="1" />
                        <col width="1" />
                        <col width="1" />
                    </colgroup>
                    <thead>
                        <tr>
                            @if (Model.IsEditable)
                            {
                                <th class="remove-from-cart"> 
                                    @T("ShoppingCart.Remove")
                                </th>
                            }
                            @if (Model.ShowSku)
                            {
                                <th class="sku">
                                    @T("ShoppingCart.SKU")
                                </th>
                            }
                            @if (Model.ShowProductImages)
                            {
                                <th class="product-picture">
                                    @T("ShoppingCart.Image")
                                </th>
                            }
                            <th class="product">
                                @T("ShoppingCart.Product(s)")
                            </th>
                            @if (Model.ShowVendorName)
                            {
                                <th class="vendor">
                                    @T("ShoppingCart.VendorName")
                                </th>
                            }
                            <th class="unit-price">
                                @T("ShoppingCart.UnitPrice")
                            </th>
                            <th class="quantity">
                                @T("ShoppingCart.Quantity")
                            </th>
                            <th class="subtotal">
                                @T("ShoppingCart.ItemTotal")
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr>
                                @if (Model.IsEditable)
                                {
                                    <td class="remove-from-cart">
                                        @if (item.DisableRemoval)
                                        {
                                            <text>&nbsp;</text>
                                        }
                                        else
                                        {
                                     
                                <input type="checkbox" id="remove-from-cart-@item.Id" name="removefromcart" value="@(item.Id)" />
                                <span data-checkbox-id="remove-from-cart-@item.Id" class="remove-from-cart-item-action ico ico-delete"> <i class="trash icon"></i></span>
                                      
                                        
<script type="text/javascript" asp-location="Footer">
    $(document).ready(function () {
        var container = '.order-summary-content';
        $('.remove-from-cart span.remove-from-cart-item-action', container).on('click', function () {
            $('#' + $(this).data('checkbox-id'), container).prop('checked', true);
            $('.update-cart-button', container).click();
        });
    });
</script>
                                        <style type="text/css">
                                            .order-summary-content .remove-from-cart > input[type='checkbox'] {
                        display: none;
                    }
                    .order-summary-content .ico {
                        display: inline-block;
                        height: 16px;
                        width: 16px;
                        top: -5px;

                    position: relative;
                    }
                    .order-summary-content .ico :hover{
                        cursor: pointer;
                    }

                      </style>                  
                                        
                                        }
                                    </td>
                                }
                                @if (Model.ShowSku)
                                {
                                    <td class="sku">
                                        <label class="td-title">@T("ShoppingCart.SKU"):</label>
                                        <span class="sku-number">@item.Sku</span>
                                    </td>
                                }
                                @if (Model.ShowProductImages)
                                {
                                    <td class="product-picture">
                                        <a href="@Url.RouteUrl("Product", new {SeName = item.ProductSeName})"><img alt="@item.Picture.AlternateText" src=@Cdn.Content(@item.Picture.ImageUrl) title="@item.Picture.Title" /></a>
                                    </td>
                                }
                                <td class="product">
                                    <a href="@Url.RouteUrl("Product", new {SeName = item.ProductSeName})" class="product-name">@item.ProductName</a>
                                    @if (!string.IsNullOrEmpty(item.AttributeInfo))
                                    {
                                        <div class="attributes">
                                            @Html.Raw(item.AttributeInfo)
                                        </div>
                                    }
                                    @if (!string.IsNullOrEmpty(item.RecurringInfo))
                                    {
                                        <div class="recurring-info">
                                            @Html.Raw(item.RecurringInfo)
                                        </div>
                                    }
                                    @if (!string.IsNullOrEmpty(item.RentalInfo))
                                    {
                                        <div class="rental-info">
                                            @Html.Raw(item.RentalInfo)
                                        </div>
                                    }
                                    @if (Model.IsEditable && item.AllowItemEditing)
                                    {
                                        var editCartItemUrl = Url.RouteUrl("Product", new { SeName = item.ProductSeName }, webHelper.CurrentRequestProtocol);
                                        editCartItemUrl = webHelper.ModifyQueryString(editCartItemUrl, "updatecartitemid", item.Id.ToString());
                                        <div class="edit-item">
                                            <a href="@editCartItemUrl">@T("Common.Edit")</a>
                                        </div>
                                    }
                                    @if (item.Warnings.Count > 0)
                                    {
                                        <div class="message-error">
                                            <ul>
                                                @foreach (var warning in item.Warnings)
                                                {
                                                    <li>@Html.Raw(warning)</li>
                                                }
                                            </ul>
                                        </div>
                                    }
                                </td>
                                @if (Model.ShowVendorName)
                                {
                                    <td class="vendor">
                                        <label class="td-title">@T("ShoppingCart.VendorName"):</label>
                                        <span class="vendor-name">@item.VendorName</span>
                                    </td>
                                }
                                <td class="unit-price">
                                    <label class="td-title">@T("ShoppingCart.UnitPrice"):</label>
                                    <span class="product-unit-price">@item.UnitPrice</span>
                                </td>
                                <td class="quantity">
                                    <label class="td-title" for="itemquantity@(item.Id)">@T("ShoppingCart.Quantity"):</label>
                                    @if (Model.IsEditable)
                                    {
                                        if (item.AllowedQuantities.Count > 0)
                                        {
                                            <select name="itemquantity@(item.Id)" id="itemquantity@(item.Id)" class="qty-dropdown">
                                                @foreach (var qty in item.AllowedQuantities)
                                                {
                                                    <option selected="@qty.Selected" value="@qty.Value">@qty.Value</option>
                                                }
                                            </select>
                                        }
                                        else
                                        {
                                            <input name="itemquantity@(item.Id)" id="itemquantity@(item.Id)" type="text" value="@(item.Quantity)" class="qty-input"/>
                                        }
                                    }
                                    else
                                    {
                                        <span class="product-quantity">@item.Quantity</span>
                                    }
                                </td>
                                <td class="subtotal">
                                    <label class="td-title">@T("ShoppingCart.ItemTotal"):</label>
                                    <span class="product-subtotal">@item.SubTotal</span>
                                    @if (!string.IsNullOrEmpty(item.Discount))
                                    {
                                        <div class="discount">
                                            @T("ShoppingCart.ItemYouSave", item.Discount)
                                        </div>
                                        if (item.MaximumDiscountedQty.HasValue)
                                        {
                                            <div class="discount-additional-info">
                                                @T("ShoppingCart.MaximumDiscountedQty", item.MaximumDiscountedQty.Value)
                                            </div>
                                        }
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

  

            @if (Model.IsEditable && Model.Items.Count > 0 && Model.DisplayTaxShippingInfo)
            {
                var inclTax = workContext.TaxDisplayType == TaxDisplayType.IncludingTax;
                //tax info is already included in the price (incl/excl tax). that's why we display only shipping info here
                //of course, you can modify appropriate locales to include VAT info there
                <div class="tax-shipping-info">
                    @T(inclTax ? "ShoppingCart.TaxShipping.InclTax" : "ShoppingCart.TaxShipping.ExclTax", Url.RouteUrl("Topic", new { SeName = Html.GetTopicSeName("shippinginfo") }))
                </div>
            }
            <div class="cart-options" style="float:right;margin-top:30px;">
                @if (Model.IsEditable)
                {
                    <div class="common-buttons" style="margin: 0">
                        <input type="submit" name="updatecart" value="@T("ShoppingCart.UpdateCart")" class="button-2 update-cart-button" />
                        <input type="submit" name="continueshopping" value="@T("ShoppingCart.ContinueShopping")" class="button-2 continue-shopping-button" />
                    </div>
                }
               @if (Model.IsEditable)
                {
                    @await Html.PartialAsync("_CheckoutAttributes", Model)
                }
                @await Component.InvokeAsync("SelectedCheckoutAttributes")
            </div>
            <div class="cart-footer">
                @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.OrderSummaryCartFooter })
                @if (Model.IsEditable)
                {
                    <div class="cart-collaterals">
                        <div class="deals">
                            @await Html.PartialAsync("_DiscountBox", Model.DiscountBox)
                            @await Html.PartialAsync("_GiftCardBox", Model.GiftCardBox)
                            @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.OrderSummaryContentDeals })
                        </div>
                        @await Component.InvokeAsync("EstimateShipping")
                    </div>
                }
                <div class="totals">
                    @await Component.InvokeAsync("OrderTotals", new { isEditable = Model.IsEditable })
                    @if (Model.IsEditable)
                    {
                        if (!string.IsNullOrEmpty(Model.MinOrderSubtotalWarning))
                        {
                            <div class="min-amount-warning">
                                @Model.MinOrderSubtotalWarning
                            </div>
                        }
                    }
                    @if (Model.IsEditable)
                    {
                        if (Model.TermsOfServiceOnShoppingCartPage)
                        {
                            <div id="terms-of-service-warning-box" title="@T("Checkout.TermsOfService")" style="display: none;">
                                <p>@T("Checkout.TermsOfService.PleaseAccept")</p>
                            </div>
                            <div class="terms-of-service">
                                <input id="termsofservice" type="checkbox" name="termsofservice" />
                                <label for="termsofservice">@T("Checkout.TermsOfService.IAccept")</label>
                                @if (Model.TermsOfServicePopup)
                                {
                                    <a class="read" id="read-terms">@T("Checkout.TermsOfService.Read")</a>
                                    <script asp-location="Footer">
                                        $(document).ready(function() {
                                            $('#read-terms').on('click',
                                                function(e) {
                                                    e.preventDefault();
                                                    displayPopupContentFromUrl(
                                                        '@Url.RouteUrl("TopicPopup", new {SystemName = "conditionsofuse"})',
                                                        '@T("Checkout.TermsOfService")');
                                                });
                                        });
                                    </script>
                                }
                                else
                                {
                                    <a class="read" id="read-terms" href="@Url.RouteUrl("Topic", new {SeName = Html.GetTopicSeName("conditionsofuse") })">@T("Checkout.TermsOfService.Read")</a>
                                }
                            </div>
                        }
                        <div class="checkout-buttons">
                            @if (string.IsNullOrEmpty(Model.MinOrderSubtotalWarning) && !Model.HideCheckoutButton)
                            {
                                <script asp-location="Footer">
                                    $(document).ready(function () {
                                        $('#checkout').on('click', function () {
                                            //terms of service
                                            var termOfServiceOk = true;
                                            if ($('#termsofservice').length > 0) {
                                                //terms of service element exists
                                                if (!$('#termsofservice').is(':checked')) {
                                                    $("#terms-of-service-warning-box").dialog();
                                                    termOfServiceOk = false;
                                                } else {
                                                    termOfServiceOk = true;
                                                }
                                            }
                                            return termOfServiceOk;
                                        });
                                    });
                                </script>
                                if (orderSettings.CheckoutDisabled)
                                {
                                    <div class="checkout-disabled">
                                        @T("Checkout.Disabled")
                                    </div>
                                }
                                else
                                {
                                    <button type="submit" id="checkout" name="checkout" value="checkout" class="button-1 checkout-button">
                                        @T("Checkout.Button")
                                    </button>
                                }
                            }
                        </div>
                        <div class="addon-buttons">
                            @*Payment method buttons (e.g. GoogleCheckoutButton, Paypal Express)*@
                            @foreach (var pm in Model.ButtonPaymentMethodViewComponentNames)
                            {
                                @await Component.InvokeAsync(pm)
                            }
                        </div>
                    }
                </div>
            </div>
            @if (Model.IsEditable)
            {
                @await Component.InvokeAsync("CrossSellProducts")
            }
        </form>
    }
    else
    {
        <div class="no-data">
            @T("ShoppingCart.CartIsEmpty")
        </div>
    }
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.OrderSummaryContentAfter })
</div>

<div class="ui longer modal reponsiveModal" id="MesafeliSatisSozlesmesiModal" >
   <i class="close icon"></i>

<section class="section-privacy">
<div class="small-container">
<div class="block privacy-block">
<h1 class="privacy-heading">TANIMLAR</h1>
<p class="privacy-text">İşbu sözleşmenin uygulanmasında ve yorumlanmasında aşağıda yazılı terimler karşılarındaki yazılı açıklamaları ifade edeceklerdir. <span class="text-span-part">BAKAN: Gümrük ve Ticaret Bakanı’nı,</span> <span class="text-span-part">BAKANLIK: Gümrük ve Ticaret Bakanlığı’nı,</span> <span class="text-span-part">KANUN: 6502 sayılı Tüketicinin Korunması Hakkında Kanun’u,</span> <span class="text-span-part">YÖNETMELİK: Mesafeli Sözleşmeler Yönetmeliği’ni (RG:27.11.2014/29188)</span> <span class="text-span-part">HİZMET: Bir ücret veya menfaat karşılığında yapılan ya da yapılması taahhüt edilen mal sağlama dışındaki her türlü tüketici işleminin konusunu,</span> <span class="text-span-part">SATICI: Ticari veya mesleki faaliyetleri kapsamında tüketiciye mal sunan veya mal sunan adına veya hesabına hareket eden şirketi,</span> <span class="text-span-part">ALICI: Bir mal veya hizmeti ticari veya mesleki olmayan amaçlarla edinen, kullanan veya yararlanan gerçek ya da tüzel kişiyi,</span> <span class="text-span-part">SİTE: SATICI’ya ait internet sitesini,</span> <span class="text-span-part">SİPARİŞ VEREN: Bir mal veya hizmeti SATICI’ya ait internet sitesi üzerinden talep eden gerçek ya da tüzel kişiyi,</span> <span class="text-span-part">TARAFLAR: SATICI ve ALICI’yı,</span> <span class="text-span-part">SÖZLEŞME: SATICI ve ALICI arasında akdedilen işbu sözleşmeyi,</span> <span class="text-span-part">MAL/ÜRÜN: Alışverişe konu olan taşınır eşyayı ve elektronik ortamda kullanılmak üzere hazırlanan yazılım, ses, görüntü ve benzeri gayri maddi malları ifade eder.</span></p>
</div>
</div>
</section>
<section class="section-privacy">
<div class="small-container">
<div class="block privacy-block">
<h1 class="privacy-heading">MADDE 1: SÖZLEŞMENİN TARAFLARI</h1>
<p class="privacy-text">İşbu sözleşme bir tarafta Namık Kemal Mahallesi 121 Sokak No:34/3 Esenyurt/İstanbul/Türkiye adresinde faaliyet gösteren (www.doctormito.com) Kampotu İlaç Gıda Sanayi ve Ticaret Anonim Şirketi (Bundan böyle SATICI olarak anılacaktır) ile diğer tarafta Son Kullanıcı (Bundan böyle ALICI olarak anılacaktır) arasında akdedilmiştir.</p>
</div>
</div>
</section>
<section class="section-privacy">
<div class="small-container">
<div class="block privacy-block">
<h1 class="privacy-heading">MADDE 2: KONU</h1>
<p class="privacy-text">İşbu sözleşmenin konusu, ALICI`nın SATICI`ya ait www.doctormito.com internet sitesinden elektronik ortamda sipariş verdiği, sözleşmede bahsi geçen nitelikleri haiz, internet sitesinde içeriği ve satış fiyatı belirtilen ürünlerin satışı ve teslimi ile ilgili olarak 4077 sayılı Tüketicilerin Korunması Hakkındaki Kanun ve Mesafeli Sözleşmeler Uygulama Esas ve Usulleri Hakkında Yönetmelik hükümleri gereğince tarafların hak ve yükümlülüklerinin saptanmasıdır. ALICI, satışa konu ürünlerin temel nitelikleri, satış fiyatı, ödeme şekli, teslimat koşulları vs. satışa konu ürün ile ilgili tüm ön bilgiler ve cayma hakkı konusunda bilgi sahibi olduğunu, bu ön bilgileri elektronik ortamda teyit ettiğini ve sonrasında ürünü sipariş verdiğini, işbu sözleşme hükümlerince kabul ve beyan eder. www.doctormito.com sitesinde yer alan ön bilgilendirme ve fatura işbu sözleşmenin ayrılmaz parçalarıdır. Sipariş gerçekleştiği anda ALICI bu sözleşmenin tüm koşullarını kabul etmiş sayılır.</p>
</div>
</div>
</section>
<section class="section-privacy">
<div class="small-container">
<div class="block privacy-block">
<h1 class="privacy-heading">MADDE 3: GENEL HÜKÜMLER</h1>
<p class="privacy-text">3.1- ALICI, SATICI'nın internet sitesinde işbu sözleşme konusunu oluşturan ürünün/ürünlerin esaslı nitelikleri, özellikleri, KDV dahil satış fiyatı, ödeme şekli ve teslimatına ilişkin esaslı bilgileri okuyup ürün/ürünler hakkında tüm bilgilere sahip olduğunu ve bu bilgiler doğrultusunda elektronik ortamda satın almaya ilişkin onayı verdiğini kabul ve beyan eder.</p>
<p class="privacy-text">3.2- Sözleşme konusu ürün / ürünler, ALICI'nın yasal olarak düzenlenmiş olan ürünün 30 günlük süreyi aşmamak koşulu ile teslimine ilişkin hakkı saklı kalmak kaydıyla, her bir ürün için ALICI'nın teslimat adresinin SATICI'ya olan mesafe uzaklığına bağlı olarak internet sitesinde ürün bilgileri içinde açıklanan teslimat süresi dahilinde ALICI tarafından gösterilen adresteki kişi/kuruluşa teslim edilir.</p>
<p class="privacy-text">3.3- Sözleşme konusu ürünün ALICI tarafından belirtilen adreste bulunan teslim edilecek kişi veya kuruluşca teslim alınmamasından / teslimi kabul etmemesinden SATICI sorumlu tutulamaz.</p>
<p class="privacy-text">3.4- SATICI, sözleşme konusu ürünün ayıpsız, eksiksiz, sözleşmede belirtilen niteliklere uygun teslim edilmesinden ALICI'ya karşı sorumludur.</p>
<p class="privacy-text">3.5- Sözleşme konusu ürünün teslimatı için işbu sözleşmenin imzalı nüshasının SATICI'ya ulaştırılmış olması ve bedelinin ALICI'nın tercih ettiği ödeme şekli ile ödenmiş olması şarttır. Elektronik ortamda yapılan sözleşmelerde teyid işlemi, yine elektronik ortamda yapılır. Sözleşme konusu ürün/ürünlerin bedelinin her ne nedenle olursa olsun ödenmemesi veya ödeme talimatının banka nezdinde iptal edilmesi halinde SATICI'nın ürünü teslim yükümlülüğü ortadan kalkar.</p>
<p class="privacy-text">3.6- ALICI'ya ait kredi kartının ALICI'nın kusurundan kaynaklanmayan bir şekilde yetkisiz kişilerce haksız veya hukuka aykırı olarak kullanılması nedeni ile ilgili banka veya finans kuruluşunun ürün bedelini SATICI'ya ödememesi halinde, Ürünün ALICI'ya teslim edilmiş olması kaydıyla ürünün teslimat tarihinden itibaren 3 gün içinde, geri gönderim bedeli ALICI'ya ait olmak üzere SATICI'ya gönderilmesi zorunludur.</p>
<p class="privacy-text">3.7- SATICI mücbir sebepler veya nakliyeyi engelleyen hava muhalefeti, ulaşımın kesilmesi gibi olağanüstü durumlar nedeni ile sözleşme konusu ürünü süresi içinde teslim edemez ise, durumu ALICI'ya bildirmekle yükümlüdür. Bu takdirde ALICI siparişin iptal edilmesini, sözleşme konusu ürünün varsa emsali ile değiştirilmesini, ve/veya teslimat süresinin engelleyici durumun ortadan kalkmasına kadar teslimatın ertelenmesi haklarından birini kullanabilir. ALICI'nın siparişi iptal etme hakkını kullanması halinde ALICI'nın ödediği tutar 10 gün içinde kendisine nakten ve defaten ödenir.</p>
<p class="privacy-text">3.8- Kargodaki gecikmelerden firmamız sorumlu değildir.</p>
<p class="privacy-text">3.9- İşbu sözleşme, ALICI tarafından elektronik ortamda teyit edilmesinin ardından geçerlilik kazanır.</p>
</div>
</div>
</section>
<section class="section-privacy">
<div class="small-container">
<div class="block privacy-block">
<h1 class="privacy-heading">MADDE 4: CAYMA HAKKI</h1>
<p class="privacy-text">Ambalajında, etiketinde, tanıtma ve kullanma kılavuzunda ya da reklam ve ilanlarında yer alan veya satıcı tarafından bildirilen, standardında veya teknik düzenlemesinde tespit edilen nitelik veya niteliği etkileyen niceliğine aykırı olan ya da tahsis veya kullanım amacı bakımından değerini veya tüketicinin ondan beklediği faydaları azaltan veya ortadan kaldıran maddi, hukuki veya ekonomik eksiklikler içeren mallar, ayıplı mal olarak kabul edilir. Satın aldığınız malın ayıplı olduğunu anlamanız durumunda, malın veya hizmetin teslim tarihinden itibaren 7 gün içerisinde bize başvurarak ödediğiniz bedelin iadesini, ürünün ayıpsız olarak değiştirilmesini veya ayıbın neden olduğu değer kaybının bedelden indirimini talep edebilirsiniz. Bu durumda; ürünün gönderim masrafları SATICI’ya aittir.</p>
<p class="privacy-text">Tüketici; mal satışına ilişkin mesafeli sözleşmelerde, teslim aldığı tarihten itibaren yedi gün içerisinde hiçbir hukuki ve cezai sorumluluk üstlenmeksizin ve hiçbir gerekçe göstermeksizin malı reddederek sözleşmeden cayma hakkına sahiptir. Sözleşmede, hizmetin ifasının 7 günlük süre dolmadan yapılması kararlaştırılmışsa, tüketici ifanın başlayacağı tarihe kadar cayma hakkını kullanabilir. Cayma hakkının kullanımından kaynaklanan masraflar SATICI’ya aittir. Elektronik ortamda anında ifa edilen hizmetler ve tüketiciye anında teslim edilen mallara ilişkin sözleşmeler cayma hakkı ve kullanımına ilişkin hükümlere tabi değildir. Malın teslimi sözleşmeye taraf olan tüketici dışında bir kişiye yapılsa dahi tüketici cayma hakkını kullanabilir. Bu durumda; satıcı, malı 9 maddenin 4 fıkrası hükmü uyarınca üçüncü kişiden teslim alır. Mesafeli Sözleşmelere Dair Yönetmelik'in Cayma Hakkı başlıklı 7 maddesi 4 fıkrası c bendine göre; Tüketicinin istekleri veya açıkça onun kişisel ihtiyaçları doğrultusunda hazırlanan mallarda tüketici cayma hakkini kullanamaz.</p>
</div>
</div>
</section>
<section class="section-privacy">
<div class="small-container">
<div class="block privacy-block">
<h1 class="privacy-heading">MADDE 5: MÜCBİR HALLER</h1>
<p class="privacy-text">Sözleşmenin imzalandığı tarihte var olmayan ve ön görülmeyen, tarafların kontrolleri dışında gelişen, ortaya çıkmasıyla taraflardan birinin ya da her ikisinin de sözleşme ile yüklendikleri borç ve sorumluluklarını kısmen ya da tamamen yerine getirmelerini ya da bunları zamanında yerine getirmelerini imkansızlaştıran haller, mücbir sebep (Tabii afet, savaş, terör, ayaklanma, mevzuat hükümleri, el koyma veya grev, lokavt, üretim ve iletişim tesislerinde önemli mahiyette arıza...) olarak kabul edilecektir. Mücbir sebep şahsında gerçekleşen taraf, diğer tarafa durumu derhal ve yazılı olarak bildirecektir. Mücbir sebebin devamı esnasında tarafların edimlerini yerine getirememelerinden dolayı herhangi bir sorumlulukları doğmayacaktır. İşbu mücbir sebep hali 10 (on) gün süreyle devam ederse, taraflardan her birinin, tek taraflı olarak fesih hakkı doğacaktır.</p>
</div>
</div>
</section>
<section class="section-privacy">
<div class="small-container">
<div class="block privacy-block">
<h1 class="privacy-heading">MADDE 6: YETKİLİ MAHKEME</h1>
<p class="privacy-text">İşbu sözleşmeden kaynaklanabilecek ihtilaflarda, Sanayi ve Ticaret Bakanlığınca ilan edilen değere kadar Tüketici Hakem Heyetleri ile Satıcının Yerleşim yerlerindeki Tüketici Mahkemeleri tüketici mahkemesi bulunamayan yerlerde Asliye Hukuk Mahkemeleri yetkilidir.</p>
</div>
</div>
</section>
<section class="section-privacy">
<div class="small-container">
<div class="block privacy-block">
<h1 class="privacy-heading">MADDE 7: YÜRÜRLÜK</h1>
<p class="privacy-text">Site üzerinden verilen siparişe ait ödemenin gerçekleşmesi durumunda ALICI işbu sözleşmenin tüm koşullarını kabul etmiş sayılacaktır. SATICI, söz konusu sözleşmenin site üzerinde, ALICI tarafından okunduğuna ve kabul edildiğine dair onay almaksızın sipariş verilememesini sağlayacak yazılımsal düzenlemeleri yapmakla yükümlüdür.</p>
</div>
</div>
</section>
</div>






@if(workContext.CurrentCustomer.BillingAddress!=null&&Model.Items.Count > 0)
{




            <div class="ui longer modal reponsiveModal" id="OnBilgilendirmeFormu" >
                 <i class="close icon"></i>
                <p><strong>ÖN BİLGİLENDİRME FORMU</strong></p> <br/><br/>
                <p><strong>MADDE 1 - TARAFLAR</strong></p> <br/>
                <p>1.1. SATICI:</p> <br/>
                <table width="980">
                    <tbody>
                        <tr>
                            <td width="150">
                                <p><strong>Ünvanı :</strong></p>
                            </td>
                            <td width="830">
                                <p>Kampotu İlaç Gıda Sanayi Ve Ticaret Anonim Şirketi</p>
                            </td>
                        </tr>
                        <tr></tr>
                        <tr>
                            <td width="150">
                                <p><strong>Adresi :</strong></p>
                            </td>
                            <td width="830">
                                <p>Namık Kemal Mahallesi 121. Sokak Axis Ofis 34 3 Esenyurt / İstanbul</p>
                            </td>
                        </tr> <tr></tr>
                        <tr>
                            <td width="150">
                                <p><strong>Telefon :</strong></p>
                            </td>
                            <td width="830">
                                <p>(212) 6904090</p>
                            </td>
                        </tr><tr></tr>
                        <tr>
                            <td width="150">
                                <p><strong>Mersis No: :</strong></p>
                            </td>
                            <td width="830">
                                <p>0494058649500001</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p><br /> 1.2- ALICI:</p><br/>
                <table width="980">
                    <tbody>
                        <tr>
                            <td width="150">
                                <p><strong>Adı Soyadı :</strong></p>
                            </td>
                            <td width="830">
                                <p>@workContext.CurrentCustomer.BillingAddress.FirstName @workContext.CurrentCustomer.BillingAddress.LastName</p>
                            </td>
                        </tr><tr></tr>
                        <tr>
                            <td width="150">
                                <p><strong>Adresi :</strong></p>
                            </td>
                            <td width="830">
                                <p>@workContext.CurrentCustomer.BillingAddress.Address1</p>
                                <p> @workContext.CurrentCustomer.BillingAddress.Address2</p>
                                <p> @workContext.CurrentCustomer.BillingAddress.StateProvince.Name /  @workContext.CurrentCustomer.BillingAddress.City</p>
                            </td>
                        </tr><tr></tr>
                        <tr>
                            <td width="150">
                                <p><strong>Telefon :</strong></p>
                            </td>
                            <td width="830">
                                <p>@workContext.CurrentCustomer.BillingAddress.PhoneNumber</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div >

                
                <p><strong><br /> SÖZLEŞME KONUSU ÜRÜN BİLGİLERİ:</strong></p> <br/>
                <p >Ürünlerin Cinsi ve türü, Miktarı, Marka/Modeli, Aroması/Rengi, Vergiler Dahil Satış Bedeli aşağıda belirtildiği gibidir.</p>
                <div class="table-wrapper" style="margin-top:25px;" >
                    <table class="cart">
                        <colgroup>
                            @if (Model.IsEditable)
                            {
                                <col width="1" />
                            }
                            @if (Model.ShowSku)
                            {
                                <col width="1" />
                            }
                            @if (Model.ShowProductImages)
                            {
                                <col width="1" />
                            }
                            <col />
                            @if (Model.ShowVendorName)
                            {
                                <col width="1" />
                            }
                            <col width="1" />
                            <col width="1" />
                            <col width="1" />
                        </colgroup>
                        <thead>
                            <tr>
                                @if (Model.IsEditable)
                                {
                                    <th class="remove-from-cart">
                                        @T("ShoppingCart.Remove")
                                    </th>
                                }
                                @if (Model.ShowSku)
                                {
                                    <th class="sku">
                                        @T("ShoppingCart.SKU")
                                    </th>
                                }
                                @if (Model.ShowProductImages)
                                {
                                    <th class="product-picture">
                                        @T("ShoppingCart.Image")
                                    </th>
                                }
                                <th class="product">
                                    @T("ShoppingCart.Product(s)")
                                </th>
                                @if (Model.ShowVendorName)
                                {
                                    <th class="vendor">
                                        @T("ShoppingCart.VendorName")
                                    </th>
                                }
                                <th class="unit-price">
                                    @T("ShoppingCart.UnitPrice")
                                </th>
                                <th class="quantity">
                                    @T("ShoppingCart.Quantity")
                                </th>
                                <th class="subtotal">
                                    @T("ShoppingCart.ItemTotal")
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Items)
                            {
                                <tr>
                                    @if (Model.IsEditable)
                                    {
                                        <td class="remove-from-cart">
                                            @if (item.DisableRemoval)
                                            {
                                                <text>&nbsp;</text>
                                            }
                                            else
                                            {
                                                <label class="td-title" for="removefromcart@(item.Id)">@T("ShoppingCart.Remove"):</label>
                                                <input type="checkbox" name="removefromcart" id="removefromcart@(item.Id)" value="@(item.Id)" />
                                            }
                                        </td>
                                    }
                                    @if (Model.ShowSku)
                                    {
                                        <td class="sku">
                                            <label class="td-title">@T("ShoppingCart.SKU"):</label>
                                            <span class="sku-number">@item.Sku</span>
                                        </td>
                                    }
                                    @if (Model.ShowProductImages)
                                    {
                                        <td class="product-picture">
                                            <a href="@Url.RouteUrl("Product", new {SeName = item.ProductSeName})"><img alt="@item.Picture.AlternateText" src=@Cdn.Content(@item.Picture.ImageUrl) title="@item.Picture.Title" /></a>
                                        </td>
                                    }
                                    <td class="product">
                                        <a href="@Url.RouteUrl("Product", new {SeName = item.ProductSeName})" class="product-name">@item.ProductName</a>
                                        @if (!string.IsNullOrEmpty(item.AttributeInfo))
                                        {
                                            <div class="attributes">
                                                @Html.Raw(item.AttributeInfo)
                                            </div>
                                        }
                                        @if (!string.IsNullOrEmpty(item.RecurringInfo))
                                        {
                                            <div class="recurring-info">
                                                @Html.Raw(item.RecurringInfo)
                                            </div>
                                        }
                                        @if (!string.IsNullOrEmpty(item.RentalInfo))
                                        {
                                            <div class="rental-info">
                                                @Html.Raw(item.RentalInfo)
                                            </div>
                                        }
                                        @if (Model.IsEditable && item.AllowItemEditing)
                                        {
                                            var editCartItemUrl = Url.RouteUrl("Product", new { SeName = item.ProductSeName }, webHelper.CurrentRequestProtocol);
                                            editCartItemUrl = webHelper.ModifyQueryString(editCartItemUrl, "updatecartitemid", item.Id.ToString());
                                            <div class="edit-item">
                                                <a href="@editCartItemUrl">@T("Common.Edit")</a>
                                            </div>
                                        }
                                        @if (item.Warnings.Count > 0)
                                        {
                                            <div class="message-error">
                                                <ul>
                                                    @foreach (var warning in item.Warnings)
                                                    {
                                                        <li>@Html.Raw(warning)</li>
                                                    }
                                                </ul>
                                            </div>
                                        }
                                    </td>
                                    @if (Model.ShowVendorName)
                                    {
                                        <td class="vendor">
                                            <label class="td-title">@T("ShoppingCart.VendorName"):</label>
                                            <span class="vendor-name">@item.VendorName</span>
                                        </td>
                                    }
                                    <td class="unit-price">
                                        <label class="td-title">@T("ShoppingCart.UnitPrice"):</label>
                                        <span class="product-unit-price">@item.UnitPrice</span>
                                    </td>
                                    <td class="quantity">
                                        <label class="td-title" for="itemquantity@(item.Id)">@T("ShoppingCart.Quantity"):</label>
                                    
                                            <span class="product-quantity">@item.Quantity</span>
                                        
                                    </td>
                                    <td class="subtotal">
                                        <label class="td-title">@T("ShoppingCart.ItemTotal"):</label>
                                        <span class="product-subtotal">@item.SubTotal</span>
                                        @if (!string.IsNullOrEmpty(item.Discount))
                                        {
                                            <div class="discount">
                                                @T("ShoppingCart.ItemYouSave", item.Discount)
                                            </div>
                                            if (item.MaximumDiscountedQty.HasValue)
                                            {
                                                <div class="discount-additional-info">
                                                    @T("ShoppingCart.MaximumDiscountedQty", item.MaximumDiscountedQty.Value)
                                                </div>
                                            }
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
<div class="cart-footer">
                
                <div class="totals">
                    <div class="total-info">
    <table class="cart-total">
        <tbody>
            <tr class="order-subtotal">
                <td class="cart-total-left">
                    <label>Alt Toplam:</label>
                </td>
                <td class="cart-total-right">
                    <span class="value-summary">          @{orderTotalService.GetShoppingCartSubTotal(@workContext.CurrentCustomer.ShoppingCartItems.ToList(), true, out decimal discountAmount, out List<Nop.Services.Discounts.DiscountForCaching> appliedDiscounts, out decimal subTotalWithoutDiscount, out decimal subTotalWithDiscount);} @subTotalWithDiscount (TRY)</span>
                </td>
            </tr><tr></tr>
            
                    @{
                     var shoppingCartTotalBase = (decimal)orderTotalService.GetShoppingCartTotal(@workContext.CurrentCustomer.ShoppingCartItems.ToList(), out decimal orderTotalDiscountAmountBase, out List<Nop.Services.Discounts.DiscountForCaching> _, out List<AppliedGiftCard> appliedGiftCards, out int redeemedRewardPoints, out decimal redeemedRewardPointsAmount);
                    }
                    @if(orderTotalDiscountAmountBase>0){

                <tr class="order-subtotal">
                <td class="cart-total-left">
                    <label>İndirim:</label>
                </td>
                <td class="cart-total-right">
                    <span class="value-summary">-@orderTotalDiscountAmountBase (TRY)</span>
                </td>
            </tr><tr></tr>
                    }
            
                            <tr class="shipping-cost">
                    <td class="cart-total-left">
                        <label>Nakliye:</label>
                            <span class="selected-shipping-method"> (Aras)</span>
                    </td>
                    <td class="cart-total-right">
                            <span class="value-summary">           @orderTotalService.GetShoppingCartShippingTotal(@workContext.CurrentCustomer.ShoppingCartItems.ToList()) (TRY) </span>
                    </td>
                </tr><tr></tr>
                                                                                    <tr class="order-total">
                <td class="cart-total-left">
                    <label>Toplam Tutar:</label>
                </td>
                <td class="cart-total-right">
                        <span class="value-summary"><strong> @orderTotalService.GetShoppingCartTotal(@workContext.CurrentCustomer.ShoppingCartItems.ToList()) (TRY)</strong></span>
                </td>
            </tr>
        </tbody>
    </table>
</div>

                                    </div>
            </div>
                <p ><strong>ÖDEME ŞEKLİ VE PLANI:<br /> </strong><br /> Ödemeler, sanal Pos uygulaması üzerinden kredi kartı ile peşin veya taksitli olarak, Havale/EFT yoluyla, kapıda nakit veya kredi kartı ile ödeme şeklinde yapılabilir.</p>
  <br/><br/>
    <table>

             <tbody>

                        <tr>
                            <td width="150">
                                <p><strong>Ödeme Sekli :</strong> </p>
                            </td>
                            <td width="830">
                                <p>Online Kredi/Banka Kartı.</p>
                            </td>
                        </tr>
             </tbody>
             </table>
                <p><br /> <br /> <br /> <strong>TESLİMAT ŞEKLİ VE ADRESİ:</strong></p>
                <p> </p>
                <table width="980" style="margin:20px 0">
                    <tbody>
                        <tr>
                            <td width="150">
                                <p><strong>Teslimat Adresi :</strong></p>
                            </td>
                            <td width="830">
                                    
                                <p>@workContext.CurrentCustomer.ShippingAddress.Address1</p>
                                <p> @workContext.CurrentCustomer.ShippingAddress.Address2</p>
                                <p> @workContext.CurrentCustomer.ShippingAddress.StateProvince.Name /  @workContext.CurrentCustomer.ShippingAddress.City</p>
                            </td>
                         
                        </tr>
                        <tr>
                            <td width="150">
                                <p><strong>Teslim Edilecek Kisi:</strong></p>
                            </td>
                            <td width="830">
                                <p>@workContext.CurrentCustomer.BillingAddress.FirstName @workContext.CurrentCustomer.BillingAddress.LastName</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="150">
                                <p><strong>Fatura Adresi :</strong></p>
                            </td>
                            <td width="830">
                                <p>@workContext.CurrentCustomer.BillingAddress.Address1</p>
                                <p> @workContext.CurrentCustomer.BillingAddress.Address2</p>
                                <p> @workContext.CurrentCustomer.BillingAddress.StateProvince.Name /  @workContext.CurrentCustomer.BillingAddress.City</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="150">
                                <p><strong>Kargo Ücreti :</strong></p>
                            </td>
                            
                                      <td width="830">
                                @if (@workContext.CurrentCustomer.ShoppingCartItems != null)
                                {
                                          <p>

                                       @orderTotalService.GetShoppingCartShippingTotal(@workContext.CurrentCustomer.ShoppingCartItems.ToList()) (TRY)
                                          </p>
                                }
                                
                               
                    
                               
                         

                             

                               
                          
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p><br /> Malın teslimatı; Mesafeli Satış Sözleşmesinin elektronik ortamda onaylanması ve satış bedelinin ALICI&#39;nın tercih ettiği ödeme şekli ile ödenmesinden sonra taahhüt edilen sürede yapılır. SATICI Ürünü ALICI tarafından Ürünün sipariş edilmesinden itibaren 30 (otuz) gün içinde teslim eder. Ürününün teslim edilmesi anına kadar tüm sorumluluk SATICI&#39;ya aittir. Herhangi bir nedenle ALICI tarafından Ürün bedeli ödenmez veya yapılan ödeme banka kayıtlarında iptal edilir ise, SATICI Ürünün teslimi yükümlülüğünden kurtulur. <br /> <br /> Ürün teslimi SATICI&#39;nın anlaşmalı olduğu kargo şirketlerinden biri aracılığı ile yapılır. Teslimat masrafları ALICI&#39;ya aittir. Kargo bedeli olması halinde ürün bedeline ilave olarak sipariş toplam tutarına eklenir ve ALICI tarafından ödenir. Ödeme şekli olarak kapıdan ödeme seçeneğinin tercih edilmesi halinde ALICI yukarıda belirtilen tutardaki kapıdan tahsilat ücretini ödemekle yükümlüdür. <br /> <br /> Ürün teslimi, ALICI&#39;nın tercihine göre, ALICI&#39;nın yukarıda belirtilen adresinde elden teslim edilecek veya ALICI tarafından talep edilen kargo şubesinden teslim alınacaktır. Teslim anında ALICI&#39;nın adresinde bulunmaması durumunda dahi SATICI edimini tam ve eksiksiz olarak yerine getirmiş olarak kabul edilecektir. Bu nedenle, ALICI&#39;nın ürünü geç teslim almasından kaynaklanan her türlü zarar ile ürünün kargo şirketinde beklemiş olması ve/veya kargonun SATICI&#39;ya geri iade edilmesinden dolayı da oluşan giderler de ALICI&#39;ya aittir.<br /> <br /> Sözleşme konusu ürün, ALICI&#39;dan başka bir kişi/kuruluşa teslim edilecek ise, teslim edilecek kişi/kuruluşun teslimatı kabul etmemesinden SATICI sorumlu tutulamaz.<br /> <br /> Alıcı, listeleme veya ürün detay sayfasında yer verilen ve işbu ön bilgilendirme formunda yer alan ürünlerin temel nitelikleri, satış fiyatı, ödeme şekli, teslimatına ilişkin bilgileri dahil fakat bunlarla sınırlı olmamak üzere ürün ile ilgili her türlü bilgiyi okuduğunu, anladığını ve onayladığını kabul ve beyan eder. <br /> <br /> <br /> <br /> <strong>CAYMA HAKKI</strong> <br /> <br /> Alıcı, Satıcı ile yapacağı mesafeli sözleşmelerde herhangi bir gerekçe göstermeksizin 14 gün içerisinde cayma hakkını kullanabilir. <br /> <br /> Cayma hakkı süresi malın teslimine ilişkin sözleşmelerde alıcının ürünü teslim almasından itibaren başlar. <br /> <br /> Alıcının cayma hakkını Satıcıya yöneltmesi gerekmektedir. Alıcı işbu hakkını süresi içerisinde ve yazılı olarak Satıcının açık adresine yapacağı yazılı bildirim, e-posta veya fax yolu ile kullanabilir. <br /> <br /> Siparişin ALICI tarafından iptal edilmesinden sonra 14 gün içerisinde ilgili ödeme tüm masraflarla birlikte ALICI&#39;ya iade edilir.<br /> <br /> ALICI cayma hakkını kullandığına ilişkin bildirimi yönelttiği tarihten itibaren on gün içinde malı SATICI&#39;ya geri göndermek zorundadır.<br /> <br /> Alıcı, cayma hakkının hukuka uygun olarak kullanıldığı durumlarda iade işlemini gerçekleştirirken Satıcı tarafından kendisine bildirilen anlaşmalı taşıyıcıyı tercih edecektir. <br /> <br /> Alıcıya iade için herhangi bir kargo şirketi bilgisinin sunulmadığı veya adresinde söz konusu taşıyıcının şubesinin bulunmadığı haller dahil olmak üzere Satıcı, Alıcıdan hangi ad altında olursa olsun iade masrafı talep edemez. Satıcı ilave hiçbir masraf talep etmeksizin iade edilmek istenen ürünü Alıcıdan almakla yükümlüdür.<br /> <br /> Alıcı, Mesafeli Sözleşmeler Yönetmeliği md. 15/1 uyarınca cayma hakkını aşağıdaki hallerde kullanamayacağını kabul etmiştir:<br /> <br /> a) Fiyatı finansal piyasalardaki dalgalanmalara bağlı olarak değişen ve satıcı veya sağlayıcının kontrolünde olmayan mal veya hizmetler,<br /> b) Tüketicinin istekleri veya kişisel ihtiyaçları doğrultusunda hazırlanan mallar,<br /> c) Çabuk bozulabilen veya son kullanma tarihi geçebilecek mallar,<br /> ç) Tesliminden sonra ambalaj, bant, mühür, paket gibi koruyucu unsurları açılmış olan mallardan; iadesi sağlık ve hijyen açısından uygun olmayanlar,<br /> d) Tesliminden sonra başka ürünlerle karışan ve doğası gereği ayrıştırılması mümkün olmayan mallar,<br /> e) Malın tesliminden sonra ambalaj, bant, mühür, paket gibi koruyucu unsurları açılmış olması halinde maddi ortamda sunulan kitap, dijital içerik ve bilgisayar sarf malzemeleri,<br /> f) Abonelik sözleşmesi kapsamında sağlananlar dışında, gazete ve dergi gibi süreli yayınlar,<br /> g) Belirli bir tarihte veya dönemde yapılması gereken, konaklama, eşya taşıma, araba kiralama, yiyecek-içecek tedariki ve eğlence veya dinlenme amacıyla yapılan boş zamanın değerlendirilmesine ilişkin hizmetler,<br /> ğ) Elektronik ortamda anında ifa edilen hizmetler veya tüketiciye anında teslim edilen gayrimaddi mallar,<br /> h) Cayma hakkı süresi sona ermeden önce, tüketicinin onayı ile ifasına başlanan hizmetler.<br /> <br /> <strong>GENEL BİLGİLENDİRME</strong><br /> İşbu ön bilgilendirme formu Satıcının site üzerindeki ürün veya hizmetlerine yönelik sunduğu her çeşit bilgi/reklam/açıklama ile bir bütün olup Alıcı ve Satıcı arasında yapılan Mesafeli Satış Sözleşmesi&#39;nin ayrılmaz bir parçasıdır. Alıcı, işbu ön bilgilendirme formu ve Satıcı ile akdedeceği Mesafeli Satış Sözleşmesi&#39;ndeki ürün veya hizmete ilişkin bilgiler nedeniyle her türlü talebini tüketici mevzuatı kapsamında Satıcıya yöneltmesi gerektiğini kabul eder.<br /> <br /> İşbu Ön Bilgilendirme Formuna konu ürün veya hizmetten kaynaklanan ihtilaflarda, Gümrük ve Ticaret Bakanlığınca ilan edilen değere kadar Alıcı&#39;nın yerleşim yerindeki Tüketici Hakem Heyetleri ile Alıcı&#39;nın yerleşim yerindeki Tüketici Mahkemeleri yetkilidir.<br /> <br /> İşbu ön bilgilendirme formu, elektronik ortamda Alıcı tarafından okunarak kabul edilmiştir.</p>
                <table width="980">
                    <tbody>
                        <tr>
                            <td width="150">
                                <p><strong>SATICI</strong></p>
                            </td>
                            <td>
                                <p> </p>
                            </td>
                        </tr>
                        <tr>
                            <td width="150">
                                <p><strong>Ünvanı :</strong></p>
                            </td>
                            <td>
                                <p>Kampotu İlaç Gıda Sanayi Ve Ticaret Anonim Şirketi</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="150">
                                <p><strong>Adresi  :</strong></p>
                            </td>
                            <td>
                                <p>Namık Kemal Mahallesi 121. Sokak Axis Ofis 34 3 Esenyurt / İstanbul</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="150">
                                <p><strong>Telefon :</strong></p>
                            </td>
                            <td>
                                <p>(212) 6904090</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p> </p>
                <table width="980">
                    <tbody>
                        <tr>
                            <td width="150">
                                <p><strong>ALICI</strong></p>
                            </td>
                         
                        </tr>
                        <tr>
                            <td width="150">
                                <p><strong>Adı/Soyadı :</strong></p>
                            </td>
                            <td width="830">
                                <p>@workContext.CurrentCustomer.BillingAddress.FirstName @workContext.CurrentCustomer.BillingAddress.LastName</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="150">
                                <p><strong>Tarih :</strong></p>
                            </td>
                            <td>
                                <p> @DateTime.UtcNow.ToString("dd-MM-yyyy HH:mm:ss") </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br/>
                <br/>
                <p><strong>Aydınlatma Metni</strong></p>
                <p><br /> İşbu, “Aydınlatma Metni” Kampotu İlaç Gıda Sanayi Ve Ticaret Anonim Şirketi (“Veri Sorumlusu”) tarafından 6698 sayılı Kişisel Verilerin Korunması Kanunu “Kanun” uyarınca kullanıcıların kişisel verilerinin işlenmesine ilişkin olarak kullanıcıları aydınlatmak amacıyla yayınlanmaktadır.</p>
                <p><br /> <strong>1) Veri Sorumlusunun Kimliği</strong><br /><br/> <strong>Veri Sorumlusu:</strong> Kampotu İlaç Gıda Sanayi Ve Ticaret Anonim Şirketi</p>
                <p><strong>İletişim Adresi:</strong>  info@doctormito.com </p>
                <p><br /> Aşağıda siz kullanıcılarımız tarafından verilen kişisel bilgilerin hangi amaçlar ile işleneceği açıkça yer almaktadır.</p>
                <p><br /> <strong>2) Kişisel Verilerin İşlenme Amacı</strong></p>
                <p><br /> Kişisel verileriniz, Veri Sorumlusu veya onun yurt içinde ve/veya yurt dışında mukim iştirakleri, iş ortakları, servis sağlayıcıları (sosyal medya işletmecileri dahil) veya onun adına verileri işleyen tüm gerçek veya tüzel kişiler (“Veri İşleyen”) tarafından, toplanmış/toplanan/toplanacak tüm kişisel verilerinizi aşağıdaki amaçlar doğrultusunda Kanun’un 5. ve 6. maddelerinde belirtilen kişisel veri işleme şartları dahilinde işlenebilecektir.</p>
                <p><br /> Veri Sorumlusu tarafından kullanıcılarına sunulan ürünler ve/veya hizmetlere ilişkin kullanıcılardan gelen beğeniler, eleştiriler, yorumlar, IP adresleri site içerisinde gerçekleşen gezintiler ve davranışlar (çerez kullanılmaktadır), konum bilgileri, kullanım alışkanlıkları; kullanıcıların ihtiyaç ve yönelimlerinin belirlenerek özelleştirme yapılması ve bu sayede kullanıcılara yönelik olarak en uygun tanıtım, reklam, promosyon, pazarlama vb. ticari planlama faaliyetlerinin gerçekleştirilmesi amacıyla,<br /> Ad, soyad, e-posta, TC kimlik numarası, sosyal medya hesabı ile beyan edilen ad-soyad, cinsiyet, telefon numarası, adres bilgileri, iletişim bilgileri, sosyal medya hesaplarına ilişkin bilgiler; kullanıcılara ürün ve hizmetlerin teslim edilebilmesi, satış sonrası ve/veya öncesi destek hizmetlerinin verilmesi ve/veya planlamasının yapılması, alışveriş istatistiklerinin yapılması suretiyle kullanıcılara en uygun hizmetin tespit edilebilmesi, siparişe ilişkin faturanın düzenlenebilmesi, mali ve hukuki yükümlülüklerin yerine getirilmesi, siparişlerinizin tarafınıza doğru bir şekilde ulaştırılması, kullanıcı şikayetleri ile hukuki prosedürlerin sağlıklı yürütülebilmesi amacıyla,<br /> Tarafınızca verilen kredi kartı, banka kartı ve sair kart ve ödeme bilgileri, siparişlerinize ilişkin ödemelerinizin alınması, sözleşmenin ifası, kayıtlı kullanımlarda kullanıcılara daha hızlı ve kolay sipariş hizmetinin sunulması, kullanıcılara daha iyi bir alışveriş deneyimi sunmak ve mevzuattan doğan yasal gerekliliklerin yerine getirilmesi amacıyla,<br /> rızanıza dayalı olarak işlenebilecektir.</p>
                <p><br /> <strong>3) Kişisel Verilerin Aktarılabileceği Taraflar ve Aktarım Amacı</strong></p>
                <p><br /> Ad, soyad, e-posta, TC kimlik numarası, sosyal medya hesabı ile beyan edilen isim-soyisim, telefon numarası, adres bilgileri, iletişim bilgileri vb. bilgiler; siparilerinizin tarafınıza sağlıklı bir biçimde ulaştırılması amacıyla Aras Kargo veya teslimattan sorumlu olan diğer gerçek veya tüzel kişiyle paylaşılabilir,</p>
                <p><br /> Kredi Kartı Banka Kartı bilgileriniz, ad, soyad, e-posta, sosyal medya hesabı ile beyan edilen isim-soyisim, telefon numarası, adres bilgileri, iletişim bilgileri vb. bilgiler; ödemenizin gerçekleştirilmesi amacıyla, tercih edeceğiniz ödeme yöntemine göre (Iyzico BDDK Lisanslı Sanal Pos Hizmet Tedarikçisi) ve ödeme işlemlerinden sorumlu diğer gerçek veya tüzel kişiler ile paylaşılabilir,<br /> Kullanıcılara ait kişisel bilgiler işbu Aydınlatma Metni’nde yer alan amaçlar ile otomatik olan ve/veya olmayan yöntemler ile temin edilebilir, devralınabilir, yasal azami sürelerle yurt içinde ve/veya yurt dışında yazılı/manyetik arşivlere kaydedilebilir (cloud hizmetleri dahil), depolanabilir, muhafaza edilebilir, elde edilebilir hale getirilebilir, kullanılabilir, güncellenebilir, değiştirilebilir, birleştirilebilir, yeniden düzenlenebilir, sınıflandırılabilir, açıklanabilir, paylaşılabilir, (yurt içinde ya da yurt dışındaki 3.kişilere) aktarılabilir, transfer edilebilir veyahut bu amaçlar ile Veri İşleyicileri’ne (yurt içinde veya yurt dışında mukim) aktarılabilir.</p>
                <p><br /> <strong>4) Kişisel Verilerin Toplanma Yöntemi ve Hukuki Sebebi</strong></p>
                <p><br /> Kişisel Verileriniz e-mail, internet sitesi, mobil uygulama, her türlü sosyal medya hesapları üzerinden elektronik yollarla veya Müşteri İlişkileri kanalıyla ve Kanun’un 5. ve 6. maddelerinde gösterilen şartlara uygun olarak toplanmaktadır.<br /> 5) Kişisel Veri Sahibinin Hakları<br /> 6698 sayılı Kişisel Verilerin Korunması Kanunu’nun 11. maddesi uyarınca kullanıcılar kişisel verilerinin,</p>
                <p>a) işlenip işlenmediğini öğrenme,<br /> b) işlenmişse bilgi talep etme,<br /> c) işlenme amacını ve amacına uygun kullanılıp kullanılmadığını öğrenme,<br /> d) yurt içinde / yurt dışında aktarıldığı 3. kişileri bilme,<br /> e) eksik / yanlış işlenmişse düzeltilmesini isteme,<br /> f) Kanun’un 7. maddesinde öngörülen şartlar çerçevesinde silinmesini / yok edilmesini isteme,<br /> g) aktarıldığı 3. kişilere yukarıda sayılan (d) ve (e) bentleri uyarınca yapılan işlemlerin bildirilmesini isteme,<br /> h) münhasıran otomatik sistemler ile analiz edilmesi nedeniyle aleyhinize bir sonucun ortaya çıkmasına itiraz etme,<br /> ı) Kişisel verilerin kanuna aykırı olarak işlenmesi sebebiyle zarara uğraması hâlinde zararın giderilmesini talep etme,</p>
                <p>haklarına sahiptir.</p>
                <p>6698 Sayılı Kanun’un 7. maddesi uyarınca kişisel verilerin işlenmesine ilişkin sebeplerin ortadan kalkması ve tarafınızca yukarıda yer alan iletişim adresine e-posta yoluyla talebinizi iletmeniz halinde. Talebiniz Veri Sorumlusu tarafından değerlendirilecektir. Talebinizin, 6698 Sayılı Kanun’daki şartları taşıması halinde veriler yok edilecek veya anonim hale getirilecektir.</p>
               <p><br /></p>
                <p><strong>Kişisel Verilere İlişkin Rıza Beyanı</strong></p><br/><br/>
                <p>Tarafımca Üyelik ve/veya Sipariş aşamasında verilen ya da verilecek yahut daha önce verilmiş olan ad-soyad, sosyal medya hesabında beyan edilen ad-soyad, TC kimlik numarası, e-posta adresi, adres, diğer iletişim bilgileri, her türlü kredi kartı ve/veya banka kartı bilgileri, siteyi ziyaretime ve siteden yapılan alışveriş ve/veya siparişlerime ilişkin bilgiler, yaş, cinsiyet, doğum tarihi, alışveriş alışkanlıklarım, tercihlerim, beğenilerim, yorumlarım, fatura içeriklerim, konum bilgilerim, IP adresim, internet sitesi ziyaret alışkanlarım, çerez yoluyla elde edilen her türlü bilgi ve diğer kişisel olan ve/veya olmayan bilgilerimin, 6698 sayılı Kişisel Verilerin Korunması Kanunu uyarınca, Kampotu İlaç Gıda Sanayi Ve Ticaret Anonim Şirketi (“Veri Sorumlusu”) veya onun adına verileri işleyen tüm gerçek veya tüzel kişiler (“Veri İşleyen”) ve Veri Sorumlusu’nun yurt içinde ve/veya yurt dışında mukim iştirakleri, halefleri, servis sağlayıcıları (sosyal medya işletmecileri dahil), iş ortakları ve özellikle ödeme amacıyla kredi kartı bilgilerinin (Iyzco BDDK Lisanslı Sanal Pos Hizmet Tedarikçisi ve onun iş ortakları “Alotech”) aktarılmasına ve işlenmesine buna ek olarak özellikle siparişlerimin tarafıma ulaştırılabilmesi ve sipariş öncesi ve/veya sonrası destek hizmetlerinin gerçekleştirlebilmesi için ad-soyad, e-posta adresi, TC kimlik numarası, adres, diğer iletişim bilgilerimin Aras Kargo veya teslimattan sorumlu olan diğer gerçek veya tüzel kişilere aktarılmasına, işlenmesine ve otomatik olan ve/veya olmayan yöntemler ile temini, devralınması, yasal azami sürelerle yurt içinde ve/veya yurt dışında yazılı/manyetik arşivlere kaydedilmesi (cloud hizmetleri dahil Facebook, Google, Euromessage, Mi4biz tarafından), depolanması, muhafazası, elde edilebilir hale getirilmesi, kullanılması, güncellenmesi, değiştirilmesi, birleştirilmesi, yeniden düzenlenmesi, sınıflandırılması, açıklanması, paylaşımı, (yurt içinde ya da yurt dışındaki 3.kişilere) aktarılması, transferi ve sair suretler ile işlenmesi için, ilgili tüm kanuni haklarım hususunda bilgilendirilmiş olarak, açıkca izin (rıza-onay) veriyorum.</p>
                <p> </p>


            </div>
            </div>



            }