﻿


/*.bar-notification {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    padding: 15px 25px 15px 10px;
    line-height: 16px;
    color: #fff;
    opacity: 0.95;
}

    .bar-notification.success {
        background-color: #4bb07a;
    }

    .bar-notification.error {
        background-color: #e4444c;
    }

    .bar-notification.warning {
        background-color: #f39c12;
    }

    .bar-notification .content {
        margin: 0 10px 0 0;
    }

        .bar-notification .content a {
            color: #fff;
            text-decoration: underline;
        }

    .bar-notification .close {
        position: absolute;
        top: 0;
        right: 0;
        width: 32px;
        height: 32px;
        margin: 7px;
        background: #fff url('../images/close.png') center no-repeat;
        cursor: pointer;
    }

.noscript {
    border-bottom: 1px solid #333;
    background-color: #ff9;
    padding: 30px 15px;
    text-align: center;
    line-height: 22px;
    color: #444;
}

.ajax-loading-block-window {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 999;
    width: 32px;
    height: 32px;
    margin: -16px 0 0 -16px;
    background: url('../images/loading.gif') center no-repeat;
}

.please-wait {
    background: url('../images/ajax-loader-small.gif') no-repeat;
    padding-left: 20px;
    font-size: 14px;
}

.ui-dialog {
    max-width: 90%;
    border: 1px solid #ddd;
    box-shadow: 0 0 2px rgba(0,0,0,0.15);
    overflow: hidden;
    background-color: #fff;
    /*override jQuery UI styles, do not delete doubled properties*/
    /* border-radius: 0; 
    padding: 0;
    font: normal 14px Arial, Helvetica, sans-serif;
}

    .ui-dialog:before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
    }

.ui-dialog-titlebar {
    border-bottom: 1px solid #ddd;
    overflow: hidden;
    background-color: #eee;
    padding: 10px 15px;
    /*override jQuery UI styles, do not delete doubled properties*/
    /*border-width: 0 0 1px;
    border-radius: 0;
    background-image: none;
    padding: 10px 15px !important;
    font-weight: normal;
    cursor: auto !important;
}

    .ui-dialog-titlebar > span {
        float: left;
        font-size: 18px;
        color: #444;
        /*override jQuery UI styles, do not delete doubled properties*/
       /* margin: 0 !important;
    }

    .ui-dialog-titlebar button {
        position: absolute;
        top: 0;
        right: 0;
        width: 42px;
        height: 42px;
        border: none;
        overflow: hidden;
        background: url('/Themes/DoctorMito/Content/images/close.png') center no-repeat;
        font-size: 0;
        /*override jQuery UI styles, do not delete doubled properties*/
        /*top: 0 !important;
        right: 0 !important;
        width: 42px !important;
        height: 42px !important;
        margin: 0 !important;
        border: none !important;
        border-radius: 0;
        background: url('/Themes/DoctorMito/Content/images/close.png') center no-repeat !important;
        padding: 0 !important;
    }

        .ui-dialog-titlebar button span {
            display: none !important;
        }

.ui-dialog-content {
    padding: 15px;
    line-height: 20px;
    /*override jQuery UI styles, do not delete doubled properties*/
    /*background-color: #fff !important;
    padding: 15px 15px 20px 15px !important;
    color: #777;
}

    .ui-dialog-content .page {
        min-height: 0;
    }

    .ui-dialog-content .page-title {
        min-height: 0;
        margin: 0 0 15px;
        padding: 0px 10px 10px 10px;
        text-align: center;
    }

        .ui-dialog-content .page-title h1 {
            font-size: 24px;
            line-height: 30px;
        }

    .ui-dialog-content .back-in-stock-subscription-page {
        text-align: center;
    }

        .ui-dialog-content .back-in-stock-subscription-page .tooltip {
            margin-bottom: 10px;
        }

        .ui-dialog-content .back-in-stock-subscription-page .button-1 {
            border: none;
            background-color: #4ab2f1;
            padding: 10px 15px;
            font-size: 15px;
            color: #fff;
            text-transform: uppercase;
        }

            .ui-dialog-content .back-in-stock-subscription-page .button-1:hover {
                background-color: #248ece;
            }

.eu-cookie-bar-notification {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1050;
    width: 320px;
    height: 180px;
    margin: -90px 0 0 -160px;
    border: 1px solid #ccc;
    box-shadow: 0 0 2px rgba(0,0,0,0.15);
    background-color: #fff;
    padding: 20px;
    text-align: center;
}

    .eu-cookie-bar-notification .text {
        margin-bottom: 20px;
        line-height: 20px;
    }

    .eu-cookie-bar-notification button {
        min-width: 60px;
        margin: 5px 0 10px;
        border: none;
        background-color: #4ab2f1;
        padding: 8px 12px;
        font-size: 14px;
        color: #fff;
    }

        .eu-cookie-bar-notification button:hover {
            background-color: #248ece;
        }

    .eu-cookie-bar-notification a {
        display: block;
        color: #4ab2f1;
    }

        .eu-cookie-bar-notification a:hover {
            text-decoration: underline;
        }
        
        */


.parentCartFly {
    width: 100px;
}

.containerCartFly {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    padding: 34.37% 0 0 0; /* 34.37% = 100 / (w / h) = 100 / (640 / 220) */
}

    .containerCartFly img {
        display: block;
        max-width: 100%;
        max-height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }


.font_black {
    color: black !important;
}

body {
    font-size: 16px !important;
}


input[type='checkbox'] {
    width: auto !important;
}

input[type='radio'] {
    width: auto !important;
}

/*.blur-filter {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}*/
.ui .modal> .close {
    cursor: pointer;

    position: absolute;
    
    top: 0.5rem!important;
    
    right: 0.5rem!important;
    
    z-index: 1;
    
    opacity: 1!important;
    
    font-size: 1.10em!important;
    
    color: #fff;
    
    width: 2.25rem;
    
    height: 2.25rem;
    
    padding: .625rem 0 0 0;
    
    background-color: gray;
    
    border-radius: 49px;
}
.ui .modal {
    margin:8%!important;
    padding:15px;
}
@media only screen and (max-width:992px){
    .ui .modal {
        margin:18% 8% !important;
        padding:15px;
    }
}

.userInfoList {
    padding: 15px;
}

.userInfoList_item {
    display: flex;
    align-items: center;
    font-weight: 500;
    margin: 6px 0;
    text-align: left;
    color: #455A65;
    width: 80%;
    font-size: 25px;
    line-height: 30px;
    padding: 10px 20px;
    border-radius: 50px;
    text-align: center;
    padding-left: 37px;
}
@media only screen and (min-width:1600px) and (max-width:1919px) {
    .userInfoList_item {
        font-size: 19px;
      line-height: 28px;
      padding: 9px 20px;
    }
}
@media only screen and (min-width:1400px) and (max-width:1599px) {
    .userInfoList_item {
      width: 90%;
        font-size: 21px;
      line-height: 26px;
      padding: 8px 20px;
    }
}
@media only screen and (min-width:1200px) and (max-width:1399px) {
    .userInfoList_item {
      width: 95%;
        font-size: 19px;
      line-height: 24px;
      padding: 7px 18px;
    }
}
@media only screen and (min-width:992px) and (max-width:1199px) {
    .userInfoList_item {
      width: 95%;
        font-size: 18px;
      line-height: 22px;
      padding: 6px 16px;
    }
}
@media only screen and (min-width:768px) and (max-width:991px) {
    .userInfoList_item {
      width: 95%;
      font-size: 16px;
      line-height: 20px;
      padding: 4px 12px;
    }
}
@media only screen and (max-width: 767px) {
    .userInfoList_item {
      width: 80%;
        font-size: 18px;
      line-height: 18px;
      padding: 4px 12px;
      padding-left: 30px; 
    }
}
@media only screen and (max-width: 599px) {
    .userInfoList_item {
      width: 80%;
        font-size: 17px;
      line-height: 16px;
      padding: 4px 12px;
    }
}
@media only screen and (max-width: 424px) {
    .userInfoList_item {
      width: 90%;
        font-size: 17px;
      line-height: 14px;
      padding: 4px 10px;
    }
}

.userInfoList_item svg {
    width: 42px!important;
    height: 50px;
    margin-right: 10px;
    fill: #455A65;
}
.svgBoxMenu{
    width: 42px!important;
}
@media only screen and (min-width:1600px) and (max-width:1919px) {
    .userInfoList_item svg {
      margin-right: 10px;
      width: 40px!important;
      height: 48px;
    }
  }
  @media only screen and (min-width:1400px) and (max-width:1599px) {
    .userInfoList_item svg {
      margin-right: 9px;
      width: 40px!important;
      height: 48px;
    }
  }
  @media only screen and (min-width:1200px) and (max-width:1399px) {
    .userInfoList_item svg {
      margin-right: 8px;
      width: 40px!important;
      height: 47px;
    }
  }
  @media only screen and (min-width:992px) and (max-width:1199px) {
    .userInfoList_item svg {
      margin-right: 8px;
      width: 39px!important;
      height: 45px;
    }
  }
  @media only screen and (min-width:768px) and (max-width:991px) {
    .userInfoList_item svg {
      margin-right: 7px;
      width: 36px!important;
      height: 42px;
    }
  }
  @media only screen and (max-width:767px) {
    .userInfoList_item svg {
      margin-right: 8px;
      width: 40px!important;
      height: 43px;
    }
  }
  @media only screen and (max-width:599px) {
    .userInfoList_item svg {
      margin-right: 7px;
      width: 40px!important;
      height: 42px;
    }
  }
  @media only screen and (max-width:424px) {
    .userInfoList_item svg {
      margin-right: 7px;
      width: 39px!important;
      height: 40px;
    }
  }
.userInfoList_item_title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
      width: 100%;
      background-color: #fff;
      border-radius: unset;
      padding: 20px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
      color: #000;
      padding-left: 15%;
      font-weight: 600;
}
@media only screen and (min-width:1600px) and (max-width:1919px) {
    .userInfoList_item_title {
      font-size: 22px;
      line-height: 28px;
      padding: 18px;
      padding-left:12%;
    }
  }
  @media only screen and (min-width:1400px) and (max-width:1599px) {
    .userInfoList_item_title {
      font-size: 22px;
      line-height: 26px;
      padding: 16px;
      padding-left:9%;
    }
  }
  @media only screen and (min-width:1200px) and (max-width:1399px) {
    .userInfoList_item_title {
      font-size: 22px;
      line-height: 24px;
      padding: 14px;
      padding-left:5%;
    }
  }
  @media only screen and (min-width:992px) and (max-width:1199px) {
    .userInfoList_item_title {
      font-size: 18px;
      line-height: 22px;
      padding: 12px;
      padding-left:5%;
    }
  }
  @media only screen and (min-width:768px) and (max-width:991px) {
    .userInfoList_item_title {
      font-size: 17px;
      line-height: 20px;
      padding: 10px;
      padding-left:5%;
    }
  }
  @media only screen and (max-width:767px) {
    .userInfoList_item_title {
      width: 90%;
      font-size: 18px;
      line-height: 18px;
      padding: 10px;
      padding-left:7%;
    }
  }
  @media only screen and (max-width:599px) {
    .userInfoList_item_title {
      font-size: 17px;
      line-height: 16px;
      padding: 9px;
      padding-left:5%;
    }
  }
  @media only screen and (max-width:424px) {
    .userInfoList_item_title {
      font-size: 17px;
      line-height: 14px;
      padding: 8px;
      padding-left:5%;
    }
  }

.userInfoList_item_title div {
    display: flex;
    align-items: center;
    width: 100%;
}
  @media only screen and (min-width:1400px) and (max-width:1599px) {
    .userInfoList_item_title div {
      width: 70%;
    }
  }
  @media only screen and (min-width:1200px) and (max-width:1399px) {
    .userInfoList_item_title div {
      width: 80%;
    }
  }
  @media only screen and (min-width:992px) and (max-width:1199px) {
    .userInfoList_item_title div {
      width: 80%;
    }
  }
  @media only screen and (min-width:768px) and (max-width:991px) {
    .userInfoList_item_title div {
      width: 90%;
    }
  }
  @media only screen and (max-width:767px) {
    .userInfoList_item_title div {
      width: 60%;
    }
  }
  @media only screen and (max-width:599px) {
    .userInfoList_item_title div {
      width: 60%;
    }
  }
  @media only screen and (max-width:424px) {
    .userInfoList_item_title div {
      width: 70%;
    }
  }
   

.userInfoList_item_title div img {
      width: 55px;
      height: auto;
      margin-right: 10px;
}
  @media only screen and (min-width:1600px) and (max-width:1919px) {
    .userInfoList_item_title div img {
      width: 60px;
    }
  }
  @media only screen and (min-width:1400px) and (max-width:1599px) {
    .userInfoList_item_title div img {
      width: 58px;
    }
  }
  @media only screen and (min-width:1200px) and (max-width:1399px) {
    .userInfoList_item_title div img {
      width: 56px;
    }
  }
  @media only screen and (min-width:992px) and (max-width:1199px) {
    .userInfoList_item_title div img {
      width: 54px;
      margin-right: 8px;
    }
  }
  @media only screen and (min-width:768px) and (max-width:991px) {
    .userInfoList_item_title div img {
      width: 50px;
      margin-right: 8px;
    }
  }
  @media only screen and (max-width:767px) {
    .userInfoList_item_title div img {
      width: 52px;
      margin-right: 8px;
    }
  }
  @media only screen and (max-width:599px) {
    .userInfoList_item_title div img {
      width: 50px;
    }
  }
  @media only screen and (max-width:424px) {
    .userInfoList_item_title div img {
      width: 48px;
    }
  }    




.userInfoList_item:hover {
    /* border: solid 1px black; */
    /* height: 40px; */
    background-color: #fff;
    cursor: pointer !important;
    color: #FF4E26 !important;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

.userInfoList_item:hover svg * {
    fill: #FF4E26;
}
.userInfoList_item:hover .userInfoList_link {
    color: #FF4E26;
}
.userInfoList_item .userInfoList_link {
    color: #455A65;
    padding-left:15px;
}
.userInfoList_list {
    color: black !important;
}

    .userInfoList_list:hover {
        color: white !important;
    }


    #userInfoHeader {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 100px;
        padding-left: 40px;
        /* background-color: #fff; */
        border-radius: 50px !important;
        position: absolute;
        right: 8px;
        height: 80px;
        /* box-shadow: 1px 2px 10px rgba(0,0,0,0.1); */
        z-index: 5;
    }
    
    #userInfoHeader .login-list-item-in {   /* buradaki class'ları netleştir ve sırala */ 
        font-size: 21px;
        color: #495963;
        font-weight: 600;
    }
    @media only screen and (min-width: 1600px) and (max-width:1919px) {
        #userInfoHeader {
            height: 78px;
            padding-right: 100px;
            padding-left: 40px;
        }
    
        #userInfoHeader .login-list-item-in {   /* buradaki class'ları netleştir ve sırala */ 
        font-size: 19px;
        }
    }
    @media only screen and (min-width: 1400px) and (max-width:1599px) {
        #userInfoHeader {
            height: 74px;
            border-radius: 36px !important;
            padding-right: 90px;
            padding-left: 40px;
        }
    
        #userInfoHeader .login-list-item-in {   /* buradaki class'ları netleştir ve sırala */ 
        font-size: 18px;
        }
    }
    @media only screen and (min-width: 1200px) and (max-width:1399px) {
        #userInfoHeader {
            height: 65px;
            border-radius: 32px !important;
            right: 7px;
            padding-right: 80px;
            padding-left: 35px;
        }
        #userInfoHeader .login-list-item-in {   /* buradaki class'ları netleştir ve sırala */ 
        font-size: 16px;
        }
    }
    
    @media only screen and (min-width: 992px) and (max-width:1199px) {
        #userInfoHeader {
            height: 56px;
            border-radius: 30px !important;
            right: 5px;
            padding-right: 70px;
            padding-left: 30px;
        }
        #userInfoHeader .login-list-item-in {   /* buradaki class'ları netleştir ve sırala */ 
        font-size: 15px;
        }
    }
    @media only screen and (min-width: 768px) and (max-width:991px) {
        #userInfoHeader {
            height: 50px;
            border-radius: 30px !important;
            right: 5px;
            padding-right: 60px;
            padding-left: 30px;
        }
        #userInfoHeader .login-list-item-in {   /* buradaki class'ları netleştir ve sırala */ 
        font-size: 14px;
        }
    }
    

#userInfoMenu {
    padding-top: 90px;
    display: none;
    background-color: #fff;
    border-radius: 50px !important;
    position: absolute;
    right: 8px;
    top: 18px;
    width: 365.59px;
    z-index: 3;
    box-shadow: 1px 2px 4px rgba(0,0,0,0.1);
}

#menuMenuMenu {
    display: block;
    color:#455A65 ;
    
}

.mega-content {
    border-radius: 50px 10px 10px 10px !important;
    overflow: hidden;
    display: none;
    box-shadow: 2px 2px 5px rgba(110, 110, 110, 0.72);
}


@media only screen and (min-width: 1600px) and (max-width:1919px) {
    .mega-content {
        border-radius: 48px 10px 10px 10px!important;
    }
}

@media only screen and (min-width: 1400px) and (max-width:1599px) {
    .mega-content {
        border-radius: 45px 10px 10px 10px!important;
    }

    /* .shop-content-radius {
        border-radius: 45px !important;
    }  */



    #userInfoMenu {
        padding-top: 82px;
        border-radius: 36px !important;
        right: 8px;
        top: 19px;
        width: 326.59px;
    }
}

@media only screen and (min-width: 1200px) and (max-width:1399px) {


    #userInfoMenu {
        padding-top: 74px;
        border-radius: 32px !important;
        right: 7px;
        top: 19px;
        width: 278.59px;
    }

    .mega-content {
        border-radius: 40px 10px 10px 10px!important;
    }
   /*  .shop-content-radius {
        border-radius: 40px !important;
    } */
}



@media only screen and (min-width: 992px) and (max-width:1199px) {
 

    #userInfoMenu {
        padding-top: 70px;
        background-color: #fff;
        border-radius: 30px !important;
        position: absolute;
        right: 5px;
        top: 12px;
        width: 252.59px;
    }

    .mega-content {
        border-radius: 35px 10px 10px 10px!important;
    }
    /* .shop-content-radius {
        border-radius: 35px !important;
    }  */
}



@media only screen and (min-width: 768px) and (max-width:991px) {


    .mega-content {
        border-radius: 30px 10px 10px 10px!important;
    }

    /* .shop-content-radius {
        border-radius: 30px !important;
    }  */

    #userInfoMenu {
        padding-top: 70px;
        border-radius: 30px !important;
        position: absolute;
        right: 5px;
        top: 12px;
        width: 252.59px;
    }
}
/* .slick-slider .slick-track,
.slick-slider .slick-list
{
 transform: none!important;
}
.slick-slider {
    touch-action: none!important;
    }  */
@media only screen and (max-width:767px) {

   

    .mega-content {
        border-radius: 28px 10px 10px 10px !important;
    }

   /*  .shop-content-radius {
        border-radius: 28px !important;
    }  */

    #userInfoHeader {
        height: 50px;

border-radius: 30px !important;

right: 5px;

padding-right: 60px;

padding-left: 30px;
    }

    #userInfoMenu {
        display: none !important;
    }
}





 

#applydiscountcouponcode{
   height: 50px;
    padding: 5px!important;
   
   
}
#discountcouponcode{
   height: 50px;
    padding: 24px!important;
    
}
.borderRadiusClass{
    border-radius: 50px!important;
    padding:25px!important;
    height:60px!important;
    font-size:20px!important;
}
/* 
@media only screen and (max-width:767px) {
    .section-product-detail-tabs .product-detail-tabs-container .product-detail-accordion-block .detail-accordion-inner {
        width: 95%;
        margin: 0 auto
    }
}

@media only screen and (max-width:599px) {
    .section-product-detail-tabs .product-detail-tabs-container .product-detail-accordion-block .detail-accordion-inner {
        width: 100%;
        margin: 10px auto 0
    }
}

@media only screen and (max-width:424px) {
    .section-product-detail-tabs .product-detail-tabs-container .product-detail-accordion-block .detail-accordion-inner {
        margin: 15px auto 0
    }
}

.section-product-detail-tabs .product-detail-tabs-container .product-detail-accordion-block .detail-accordion-inner .accordion-title {
    font-size: 22px;
    color: #495963
}

@media only screen and (max-width:599px) {
    .section-product-detail-tabs .product-detail-tabs-container .product-detail-accordion-block .detail-accordion-inner .accordion-title {
        font-size: 20px
    }
}

@media only screen and (max-width:424px) {
    .section-product-detail-tabs .product-detail-tabs-container .product-detail-accordion-block .detail-accordion-inner .accordion-title {
        font-size: 18px
    }
}

.section-product-detail-tabs .product-detail-tabs-container .product-detail-accordion-block .detail-accordion-inner .accordion-content {
    font-size: 14px;
    color: #637176
}

@media only screen and (min-width:768px) {
    .product-detail-tabs-block {
        display: block
    }

    .product-detail-accordion-block {
        display: none
    }
}

@media only screen and (max-width:767px) {
    .product-detail-tabs-block {
        display: none
    }

    .product-detail-accordion-block {
        display: block
    }
    .productTabHeaders {
        display: block;
    }
}
@media only screen and (min-width:768px){

    .productTabHeaders{
        display:none;
    }
}
.tab .tabs-text-box{
    width: 80%;
    margin: 0 auto;
} */

.product-table {
    width: 100% !important;
    font-size: 20px !important;
}

@media only screen and (min-width:1600px) and (max-width:1919px) {
    .product-table {
        width: 90% !important;
        margin: 0 auto !important;
        font-size: 19px !important;
    }
}
@media only screen and (min-width:1400px) and (max-width:1599px) {
    .product-table {
        width: 90% !important;
        margin: 0 auto !important;
        font-size: 18px !important;
    }
}
@media only screen and (min-width:1200px) and (max-width:1399px) {
    .product-table {
        width: 90% !important;
        margin: 0 auto !important;
        font-size: 17px !important;
    }
}
@media only screen and (min-width:992px) and (max-width:1199px) {
    .product-table {
        width: 90% !important;
        margin: 0 auto !important;
        font-size: 15px !important;
    }
}
@media only screen and (min-width:768px) and (max-width:991px) {
    .product-table {
        width: 90% !important;
        margin: 0 auto !important;
        font-size: 14px !important;
    }
}
@media only screen and (max-width:767px) {
    .product-table {
        width: 90% !important;
        margin: 0 auto !important;
        font-size: 14px !important;
    }
}
@media only screen and (max-width:599px) {
    .product-table {
        width: 90% !important;
        margin: 0 auto !important;
        font-size: 13px !important;
    }
}

.tabs-text-box strong{
    font-weight: 600;
}
.tabs-text-box{
    font-family: Montserrat;
    width: 80%;
    margin: auto;
    font-size: 20px;
}  
.title{
    border-bottom: none!important;
}

/* .main-header .main-header-container .main-header-block .navbar.transparent-bg {
    height: 100px!important;
} */

/* .main-header .main-header-container .main-header-block .navbar .navbar--icon-boxes-set .header-main-list-mega-content {
    top:15px!important;
}

.main-header .main-header-container .main-header-block .navbar .navbar--icon-boxes-set .header-main-list-mega-content .shown {
    top:15px!important;
}  */


.social-text-white{
    color:#ffffff!important;
}
#tabSection3 p {
    font-size: 18px;
    margin-top: 20px;
    margin-left: 30px;
}
@media only screen and (min-width:1600px) and (max-width:1919px) {
    #tabSection3 p {
        font-size: 17px;
        margin-left: 70px;
    }
}
@media only screen and (min-width:1400px) and (max-width:1599px) {
    #tabSection3 p {
        font-size: 16px;
        margin-left: 60px;
    }
}
@media only screen and (min-width:1200px) and (max-width:1399px) {
    #tabSection3 p {
        font-size: 15px;
        margin-left: 60px;
    }
}
@media only screen and (min-width:992px) and (max-width:1199px) {
    #tabSection3 p {
        font-size: 14px;
        margin-left: 50px;
    }
}
@media only screen and (min-width:768px) and (max-width:991px) {
    #tabSection3 p {
        font-size: 14px;
        margin-left: 40px;
    }
}
@media only screen and (max-width:767px) {
    #tabSection3 p {
        font-size: 13px;
        margin-left: 30px;
    }
}


.flyoutcart-Total-adjustment{
    padding-left:35px;
    padding-top:10px;
}

.flyoutcart-empty-adjustment{
    padding-left:22px;
    padding-bottom:35px;
    padding-top:2px;
}



#quantityOnFlyOut {
    font-size: 18px;
    position: absolute;
    top: 54%;
    color: red;
    font-weight: 600;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
    cursor:pointer;
    
}
@media only screen and (min-width:1600px) and (max-width:1919px) {
    #quantityOnFlyOut {
        font-size: 17px;
        
    }
}
@media only screen and (min-width:1400px) and (max-width:1599px) {
    #quantityOnFlyOut {
        font-size: 15px;
        
    }
}
@media only screen and (min-width:1200px) and (max-width:1399px) {
    #quantityOnFlyOut {
        font-size: 14px;
        
    }
}
@media only screen and (min-width:992px) and (max-width:1199px) {
    #quantityOnFlyOut {
        font-size: 13px;
        
    }
}
@media only screen and (min-width:768px) and (max-width:991px) {
    #quantityOnFlyOut {
        font-size: 12px;
        
    }
}
@media only screen and (max-width:767px) {
    #quantityOnFlyOut {
        font-size: 11px;
        
    }
}

.category-slogan{
    text-align: center;
}
@media only screen and (min-width: 1400px) {
    .social-media-block{
        display:flex;
    }
}
@media only screen and (max-width: 1399px) {
    .social-media-block{
        display:block;
    }
}

.alert-section{padding:50px 200px;background-color:#13D1EC}@media only screen and (min-width:1600px) and (max-width:1919px){.alert-section{padding:50px 180px}}@media only screen and (min-width:1400px) and (max-width:1599px){.alert-section{padding:45px 160px}}@media only screen and (min-width:1200px) and (max-width:1399px){.alert-section{padding:45px 140px}}@media only screen and (min-width:992px) and (max-width:1199px){.alert-section{padding:30px 110px}}@media only screen and (min-width:768px) and (max-width:991px){.alert-section{padding:25px 100px}}@media only screen and (max-width:767px){.alert-section{padding:20px 70px}}@media only screen and (max-width:599px){.alert-section{padding:20px 40px}}@media only screen and (max-width:424px){.alert-section{padding:20px 30px}}.alert-section .alert-container .alert-block .alert-box{padding:60px 0;border-radius:10px}.alert-section .alert-container .alert-block .alert-box .alert-box-inside{width:90%;margin:0 auto;text-align:center;color:#0DB8FE}.alert-section .alert-container .alert-block .alert-box .alert-box-inside .alert-text{font-size:28px}@media only screen and (min-width:1600px) and (max-width:1919px){.alert-section .alert-container .alert-block .alert-box{padding:55px 0}.alert-section .alert-container .alert-block .alert-box .alert-box-inside .alert-text{font-size:26px}}@media only screen and (min-width:1400px) and (max-width:1599px){.alert-section .alert-container .alert-block .alert-box{padding:50px 0}.alert-section .alert-container .alert-block .alert-box .alert-box-inside .alert-text{font-size:24px}}@media only screen and (min-width:1200px) and (max-width:1399px){.alert-section .alert-container .alert-block .alert-box{padding:45px 0}.alert-section .alert-container .alert-block .alert-box .alert-box-inside .alert-text{font-size:22px}}@media only screen and (min-width:992px) and (max-width:1199px){.alert-section .alert-container .alert-block .alert-box{padding:40px 0}.alert-section .alert-container .alert-block .alert-box .alert-box-inside .alert-text{font-size:20px}}@media only screen and (min-width:768px) and (max-width:991px){.alert-section .alert-container .alert-block .alert-box{padding:35px 0}.alert-section .alert-container .alert-block .alert-box .alert-box-inside .alert-text{font-size:18px}}@media only screen and (max-width:767px){.alert-section .alert-container .alert-block .alert-box{padding:30px 0}.alert-section .alert-container .alert-block .alert-box .alert-box-inside .alert-text{width:95%;font-size:17px}}@media only screen and (max-width:599px){.alert-section .alert-container .alert-block .alert-box{padding:25px 0}.alert-section .alert-container .alert-block .alert-box .alert-box-inside .alert-text{width:98%;font-size:16px}}@media only screen and (max-width:424px){.alert-section .alert-container .alert-block .alert-box{padding:25px 0}.alert-section .alert-container .alert-block .alert-box .alert-box-inside .alert-text{width:100%;font-size:14px}}.alert-section .alert-container .alert-block .alert-box .alert-box-inside .alert-button{display:inline-block;padding:15px 30px;border-radius:50px;border:1px solid #0DB8FE;margin-top:20px}.alert-section .alert-container .alert-block .alert-box .alert-box-inside .alert-button .alert-button-text{font-size:20px}@media only screen and (min-width:1600px) and (max-width:1919px){.alert-section .alert-container .alert-block .alert-box .alert-box-inside .alert-button{margin-top:16px}.alert-section .alert-container .alert-block .alert-box .alert-box-inside .alert-button .alert-button-text{font-size:19px}}@media only screen and (min-width:1400px) and (max-width:1599px){.alert-section .alert-container .alert-block .alert-box .alert-box-inside .alert-button{margin-top:16px;padding:14px 28px}.alert-section .alert-container .alert-block .alert-box .alert-box-inside .alert-button .alert-button-text{font-size:18px}}@media only screen and (min-width:1200px) and (max-width:1399px){.alert-section .alert-container .alert-block .alert-box .alert-box-inside .alert-button{margin-top:15px;padding:14px 28px}.alert-section .alert-container .alert-block .alert-box .alert-box-inside .alert-button .alert-button-text{font-size:17px}}@media only screen and (min-width:992px) and (max-width:1199px){.alert-section .alert-container .alert-block .alert-box .alert-box-inside .alert-button{margin-top:14px;padding:12px 26px}.alert-section .alert-container .alert-block .alert-box .alert-box-inside .alert-button .alert-button-text{font-size:16px}}@media only screen and (min-width:768px) and (max-width:991px){.alert-section .alert-container .alert-block .alert-box .alert-box-inside .alert-button{margin-top:10px;padding:12px 25px}.alert-section .alert-container .alert-block .alert-box .alert-box-inside .alert-button .alert-button-text{font-size:15px}}@media only screen and (max-width:767px){.alert-section .alert-container .alert-block .alert-box .alert-box-inside .alert-button{margin-top:10px;padding:10px 20px}.alert-section .alert-container .alert-block .alert-box .alert-box-inside .alert-button .alert-button-text{font-size:14px}}@media only screen and (max-width:599px){.alert-section .alert-container .alert-block .alert-box .alert-box-inside .alert-button{margin-top:8px;padding:9px 18px}.alert-section .alert-container .alert-block .alert-box .alert-box-inside .alert-button .alert-button-text{font-size:14px}}@media only screen and (max-width:424px){.alert-section .alert-container .alert-block .alert-box .alert-box-inside .alert-button{margin-top:8px;padding:8px 14px}.alert-section .alert-container .alert-block .alert-box .alert-box-inside .alert-button .alert-button-text{font-size:13px}}