/* ---------------------------- $$$ --- HELPERS --- $$$ ---------------------------- */
	.transition (@ForAction: all, @actionTime: .2s, @actionType: ease-in-out) {
		-webkit-transition: @ForAction @actionTime @actionType;
		-moz-transition:    @ForAction @actionTime @actionType;
		-ms-transition:     @ForAction @actionTime @actionType;
		-o-transition:      @ForAction @actionTime @actionType;
	}
	.vertical-gradient (@startColor: #EEEEEE, @endColor: #000000) {
		background-color: @startColor;
		background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
		background: -webkit-linear-gradient(top, @startColor, @endColor);
		background: -moz-linear-gradient(top, @startColor, @endColor);
		background: -ms-linear-gradient(top, @startColor, @endColor);
		background: -o-linear-gradient(top, @startColor, @endColor);
	}
	.horizontal-gradient (@startColor: #EEEEEE, @endColor: #000000) {
		background-color: @startColor;
		background: -webkit-gradient(linear, left top, right top, from(@startColor), to(@endColor));
		background: -webkit-linear-gradient(left, @startColor, @endColor);
		background: -moz-linear-gradient(left, @startColor, @endColor);
		background: -ms-linear-gradient(left, @startColor, @endColor);
		background: -o-linear-gradient(left, @startColor, @endColor);
	}
	.degree-gradient (@degree, @startColor, @endColor) {
		background-color: @startColor; 
	  	background: linear-gradient(@degree, @startColor, @endColor); 
		background: -webkit-linear-gradient(@degree, @startColor, @endColor);
		background: -moz-linear-gradient(@degree, @startColor, @endColor);
		background: -ms-linear-gradient(@degree, @startColor, @endColor);
		background: -o-linear-gradient(@degree, @startColor, @endColor);
	}
	.horizontal-text-gradient (@startColor: #EEEEEE, @endColor: #000000) {
		background: -webkit-linear-gradient(left, @startColor , @endColor);
		background: -o-linear-gradient(right, @startColor, @endColor);
		background: -moz-linear-gradient(right, @startColor, @endColor);
		background: linear-gradient(to right, @startColor , @endColor); 
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	.vertical-text-gradient (@startColor: #EEEEEE, @endColor: #000000) {
		background: -webkit-linear-gradient(left, @startColor , @endColor);
		background: -o-linear-gradient(right, @startColor, @endColor);
		background: -moz-linear-gradient(right, @startColor, @endColor);
		background: linear-gradient(to right, @startColor , @endColor); 
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	.degree-text-gradient (@degree, @startColor: #EEEEEE, @endColor: #000000) {
		color: @startColor;
		background: linear-gradient(@degree, @startColor , @endColor);
		background: -webkit-linear-gradient(@degree, @startColor , @endColor);
		background: -o-linear-gradient(@degree, @startColor, @endColor);
		background: -moz-linear-gradient(@degree, @startColor, @endColor); 
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	.shadow-inset (@Direction, @xOffset, @yOffset, @Blur, @Spread, @Color) {
		box-shadow: @Direction @xOffset @yOffset @Blur @Spread @Color;
		-webkit-box-shadow: @Direction @xOffset @yOffset @Blur @Spread @Color;
		-moz-box-shadow: @Direction @xOffset @yOffset @Blur @Spread @Color;
	}
	.shadow-outset (@xOffset, @yOffset, @Blur, @Spread, @Color) {
		box-shadow: @xOffset @yOffset @Blur @Spread @Color;
		-webkit-box-shadow: @xOffset @yOffset @Blur @Spread @Color;
		-moz-box-shadow: @xOffset @yOffset @Blur @Spread @Color;
	}
	.shadow-outset-with-between (@xOffsetOne, @yOffsetOne, @BlurOne, @SpreadOne, @ColorOne, @xOffsetTwo, @yOffsetTwo, @BlurTwo, @SpreadTwo, @ColorTwo) {
		box-shadow: @xOffsetOne @yOffsetOne @BlurOne @SpreadOne @ColorOne, @xOffsetTwo @yOffsetTwo @BlurTwo @SpreadTwo @ColorTwo;
		-webkit-box-shadow: @xOffsetOne @yOffsetOne @BlurOne @SpreadOne @ColorOne, @xOffsetTwo @yOffsetTwo @BlurTwo @SpreadTwo @ColorTwo;
		-moz-box-shadow: @xOffsetOne @yOffsetOne @BlurOne @SpreadOne @ColorOne, @xOffsetTwo @yOffsetTwo @BlurTwo @SpreadTwo @ColorTwo;
	}
	.text-shadow (@xOffset, @yOffset, @Blur, @Color) {
		text-shadow: @xOffset @yOffset @Blur @Color;
		-webkit-text-shadow: @xOffset @yOffset @Blur @Color;
		-moz-text-shadow: @xOffset @yOffset @Blur @Color;
	}
	.border-4ways (@Height, @Type, @Color){
		border : @Height @Type @Color;
	}
	.border-left (@Height, @Type, @Color){
		border-left : @Height @Type @Color;
	}
	.border-right (@Height, @Type, @Color){
		border-right : @Height @Type @Color;
	}
	.border-bottom (@Height, @Type, @Color){
		border-bottom : @Height @Type @Color;
	}
	.border-top (@Height, @Type, @Color){
		border-top : @Height @Type @Color;
	}
	.transform-translate-rotate(@xSize, @ySize, @Degree){
		-webkit-transform: translate(@xSize, @ySize) rotate(@Degree);
		-moz-transform: translate(@xSize, @ySize) rotate(@Degree);
		-ms-transform: translate(@xSize, @ySize) rotate(@Degree);
		-o-transform: translate(@xSize, @ySize) rotate(@Degree);
		transform: translate(@xSize, @ySize) rotate(@Degree);
	}
	.rotate(@Degree) {
		-webkit-transform: rotate(@Degree);
		-moz-transform: rotate(@Degree);
		-ms-transform: rotate(@Degree);
		-o-transform: rotate(@Degree);
		transform: rotate(@Degree);
	}
	.scale(@Size){
		-webkit-transform: scale(@Size);
		-moz-transform: scale(@Size);
		-ms-transform: scale(@Size);
		-o-transform: scale(@Size);
		transform: scale(@Size);
	}
	.transform-translate(@xSize, @ySize){
		-webkit-transform: translate(@xSize, @ySize);
		-moz-transform: translate(@xSize, @ySize);
		-ms-transform: translate(@xSize, @ySize);
		-o-transform: translate(@xSize, @ySize);
		transform: translate(@xSize, @ySize);
	}
	.border-tripple(@heightOne, @heighTwo, @heightThree, @colorOne, @colorTwo, @colorThree, @radius:0) {
    border: @heightOne solid @colorOne;
    border-radius: @radius;
    -webkit-box-shadow: 0 0 0 @heighTwo @colorTwo, 0 0 0 @heightThree+@heighTwo @colorThree;
    -moz-box-shadow:    0 0 0 @heighTwo @colorTwo, 0 0 0 @heightThree+@heighTwo @colorThree;
    box-shadow:         0 0 0 @heighTwo @colorTwo, 0 0 0 @heightThree+@heighTwo @colorThree;
	}
	.placeholder-color(@color) {
		&::-webkit-input-placeholder {color: @color;}
		&::-moz-placeholder {color: @color;}
		&:-ms-input-placeholder {color: @color;}
		&:-moz-placeholder {color: @color;}
	}

	.grayscale(){
		filter: grayscale(100%);
		-webkit-filter: grayscale(100%);
	}

/* ---------------------------- $$$ --- ALIGNEMENT AND TRANSFORMS --- $$$ ---------------------------- */
	.text-overflow { text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
	.text-overflow-fw { .text-overflow; width: 100%; }
	
	.valign-center-wrapper{
    display: -webkit-box!important;
    display: -webkit-flex!important;
    display: -ms-flexbox!important;
    display: flex!important;
    -webkit-box-align: center!important;
    -webkit-align-items: center!important;
    -ms-flex-align: center!important;
    align-items: center!important;
    &.flex-full-height{
    	height: 100%;
    }
	}
	.valign-bottom-wrapper{
    display: -webkit-box!important;
    display: -webkit-flex!important;
    display: -ms-flexbox!important;
    display: flex!important;
    -webkit-box-align: end!important;
    -webkit-align-items: flex-end!important;
    -ms-flex-align: end!important;
    align-items: flex-end!important;
    &.flex-full-height{
    	height: 100%;
    }
	}

	/* Dikeyde ve Yatayda Ortalama */ 
	.vertical-horizontal-centering {
		display: -webkit-box!important;
		display: -webkit-flex!important;
		display: -ms-flexbox!important;
		display: flex!important;
		-webkit-box-align: center!important;
		-webkit-align-items: center!important;
		-ms-flex-align: center!important;
		align-items: center!important;
		-webkit-justify-content: center!important;
		-ms-flex-pack: center!important;
		justify-content: center!important;
		&.flex-full-height{
			height: 100%;
		}
	}
	
	.flex-inverse-direction {
		flex-direction: row-reverse;
		-webkit-flex-direction: row-reverse;
		-moz-flex-direction: row-reverse;
		-o-flex-direction: row-reverse;
		-ms-flex-direction: row-reverse;
	}
	
	.flex-item {
		-webkit-box-flex: 1;
		-webkit-flex: 1;
		-ms-flex: 1;
		flex: 1;
	}
	
	.transform-translate-reset { .transform-translate(0, 0); }
	.transform-center-align { .transform-translate(-50%, -50%); }
	.transform-v-center-align { .transform-translate(0, -50%); }
	.transform-h-center-align { .transform-translate(-50%, 0); }

	.rotate-45 { .rotate(45deg); }
	.rotate-90 { .rotate(90deg); }
	.rotate-135 { .rotate(135deg); }
	.rotate-180 { .rotate(180deg); }
	.rotate-225 { .rotate(225deg); }
	.rotate-270 { .rotate(270deg); }
	.rotate-315 { .rotate(315deg); }
	.rotate-360 { .rotate(360deg); }
