/* ---------------------------- $$$ --- IMPORT LIBRARIES --- $$$ ---------------------------- */
/* ---------------------------- $$$ --- HELPERS --- $$$ ---------------------------- */
/* ---------------------------- $$$ --- ALIGNEMENT AND TRANSFORMS --- $$$ ---------------------------- */
.text-overflow {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.text-overflow-fw {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}
.valign-center-wrapper {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex!important;
  -webkit-box-align: center!important;
  -webkit-align-items: center!important;
  -ms-flex-align: center!important;
  align-items: center!important;
}
.valign-center-wrapper.flex-full-height {
  height: 100%;
}
.valign-bottom-wrapper {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex!important;
  -webkit-box-align: end!important;
  -webkit-align-items: flex-end !important;
  -ms-flex-align: end!important;
  align-items: flex-end !important;
}
.valign-bottom-wrapper.flex-full-height {
  height: 100%;
}
/* Dikeyde ve Yatayda Ortalama */
.vertical-horizontal-centering {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex!important;
  -webkit-box-align: center!important;
  -webkit-align-items: center!important;
  -ms-flex-align: center!important;
  align-items: center!important;
  -webkit-justify-content: center!important;
  -ms-flex-pack: center!important;
  justify-content: center!important;
}
.vertical-horizontal-centering.flex-full-height {
  height: 100%;
}
.flex-inverse-direction {
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
  -moz-flex-direction: row-reverse;
  -o-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
}
.flex-item {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.transform-translate-reset {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.transform-center-align {
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.transform-v-center-align {
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.transform-h-center-align {
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.rotate-45 {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.rotate-90 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.rotate-135 {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
.rotate-180 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.rotate-225 {
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transform: rotate(225deg);
}
.rotate-270 {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}
.rotate-315 {
  -webkit-transform: rotate(315deg);
  -moz-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  -o-transform: rotate(315deg);
  transform: rotate(315deg);
}
.rotate-360 {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}
/* ---------------------------- $$$ --- MAIN VARIABLES --- $$$ ---------------------------- */
.box-shadow {
  box-shadow: 0 0 15px 0 rgba(63, 63, 63, 0.2);
  -webkit-box-shadow: 0 0 15px 0 rgba(63, 63, 63, 0.2);
  -moz-box-shadow: 0 0 15px 0 rgba(63, 63, 63, 0.2);
}
.box-hover-shadow {
  box-shadow: 0 0 18px 0 rgba(63, 63, 63, 0.4);
  -webkit-box-shadow: 0 0 18px 0 rgba(63, 63, 63, 0.4);
  -moz-box-shadow: 0 0 18px 0 rgba(63, 63, 63, 0.4);
}
.shadow-text {
  text-shadow: 0 0 15px rgba(63, 63, 63, 0.8);
  -webkit-text-shadow: 0 0 15px rgba(63, 63, 63, 0.8);
  -moz-text-shadow: 0 0 15px rgba(63, 63, 63, 0.8);
}
/* ---------------------------- $$$ --- TRANSITIONS VARIABLES --- $$$ ---------------------------- */
.transition-all-1 {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
/* ---------------------------- $$$ --- CONTAINER & WRAPPER VARIABLES --- $$$ ---------------------------- */
.big-container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}
.medium-container {
  max-width: 1700px;
  width: 100%;
  margin: 0 auto;
}
.small-container {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
}
.block {
  width: 100%;
  margin: 0 auto;
}
