﻿@model HeaderLinksModel

<ul class="header-actions-list">
  @if (Model.WishlistEnabled)
  {
    <li class="header-actions-list-item">
      <a class="nav-action valign-center-wrapper wishlist-action" href="@Url.RouteUrl("Wishlist")"><i class="flex-item heart outline icon"></i></a>
    </li>
  }

  @if (Model.IsAuthenticated)
  {
    <li class="header-actions-list-item">
      <a class="nav-action valign-center-wrapper login-register-action" href="@Url.RouteUrl("CustomerInfo")"><i class="flex-item user outline icon"></i></a>
    </li>
  }
  else
  {
    <li class="header-actions-list-item">
      <a class="nav-action valign-center-wrapper login-register-action" href="@Url.RouteUrl("Login")"><i class="flex-item user outline icon"></i></a>
    </li>
  }

  @if (Model.ShoppingCartEnabled)
  {
    <li class="header-actions-list-item">
      <span class="nav-action valign-center-wrapper cart-action has-mega-content"><i class="figure flex-item shopping basket icon"></i></span>
      @await Component.InvokeAsync("FlyoutShoppingCart")
    </li>
  }
</ul>