﻿@model NewsletterBoxModel

<section class="newsletter-section">
    <div class="small-container grid-block newsletter-container ui grid">
        <div class="block newsletter-block stretched row">
            <div class="advantage-box eight wide computer sixteen wide column">
                <div class="valign-center-wrapper">
                    <div class="flex-item">
                        <h1 class="advantage-title" style="color:white;font-weight:600">Şimdi Kayıt Ol, İlk Alışverişinde Geçerli %10 İndirim Kazan!</h1>
                  <!--      <p class="advantage-text">Lorem ipsum dolor sit amet, ctetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt . Lorem ipsum dolor sit amet, ctetuer adipiscing.</p>-->
                        <!-- <div class="advantage-action">
                          <a class="button button-filled-light" href="javascript:void(0)">FACEBOOK İLE BAĞLAN</a>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="newsletter-box eight wide computer sixteen wide column">
                <div class="valign-center-wrapper">
                    <div class="flex-item">
                        <h2 class="newsletter-title">Doctor Mito ayrıcalıkları ve fırsatları ile ilgili e-posta almak ister misiniz?</h2>
                        <div class="input-holder">
                            <div class="newsletter-loading" id="subscribe-loading-progress">
                                <div class="newsletter-loading-body valign-center-wrapper">
                                    <div class="flex-item">
                                        <img class="newsletter-loading-icon" src="~/Themes/DoctorMito/Materials/assets/images/icons/loaders/small-loader.svg">
                                        <span class="newsletter-loading-text">Lütfen bekleyiniz.</span>
                                        <span asp-validation-for="NewsletterEmail"></span>
                                    </div>
                                </div>
                            </div>
                            <input asp-for="NewsletterEmail" id="newsletter-email" class="newsletter-input" type="email" name="newsletter-Newsletter" spellcheck="false" placeholder="E-Posta Adresinizi Yazınız" style="border:none" />
                            <span id="newsletter-subscribe-button" class="newsletter-button"><i class="flex-item paper plane icon"></i></span>
                        </div>
                        <div id="newsletter-result-block" style="background:#ffffff;display:none;font-size:16px;">
                            <div class="flex-item">
                                <span class="newsletter-label"> Kaydınız alınmıştır. Teşekkür ederiz.</span>

                            </div>
                        </div>
                          <div id="newsletter-result-block-validation" style="background:#ffffff;display:none;font-size:16px;">
                            <div class="flex-item">
                                <span class="newsletter-label"> Lütfen geçerli bir e-posta adresi giriniz.</span>

                            </div>
                        </div>
                        <div id="uncheckedNewsletter" class="checkbox-holder">
                            <div class="ui checkbox">

                                <input id="subscriptionCheckBoxNewsLetter" class="newsletter-checkbox" type="checkbox" tabindex="0" class="hidden">
                                <label class="newsletter-label"><a href="https://www.doctormito.com/gizlilik-ve-guvenlik-politikasi" target="_blank" class="newsletter-text">Gizlilik ve güvenlik politikasını kabul ediyorum.

  <!-- <a class="read" id="read-terms">@T("Checkout.TermsOfService.Read")</a>
                <script>
                    $(document).ready(function() {
                        $('#read-terms').on('click', function(e) {
                            e.preventDefault();
                            displayPopupContentFromUrl('@Url.RouteUrl("TopicPopup", new {SystemName = "conditionsofuse"})', '@T("Checkout.TermsOfService")');
                        });
                    });
                </script> -->

                                </a></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script asp-location="Footer">



           
     
        
        function newsletter_subscribe(subscribe) {
            var emailforValidation="";
if($("#newsletter-email").val().length>0){
emailforValidation =$("#newsletter-email").val();

}
            var isValid = validateEmailNewsSection(emailforValidation);

            if(!isValid){

      $("#newsletter-result-block-validation").css("display","block");

                return false;
            }else{
                $("#newsletter-result-block-validation").css("display","none");
            }
            var subscribeProgress = $("#subscribe-loading-progress");
            subscribeProgress.show();
            subscribeProgress.css("display", "block");
            subscribeProgress.css("opacity", "1");
            var postData = {
                subscribe: subscribe,
                email: $("#newsletter-email").val()
            };




            $.ajax({
                cache: false,
                type: "POST",
                url: "@(Url.RouteUrl("SubscribeNewsletter"))",
                data: postData,
                success: function(data) {
                    subscribeProgress.hide();
                    subscribeProgress.css("display", "none");
                    subscribeProgress.css("opacity", "0");
                    $("#newsletter-result-block").text("Kaydınız alınmıştır.");
                    if (data.Success) {
                        $('#newsletter-subscribe-block').hide();
                        $('#newsletter-result-block').css("display", "block");
                        $('#newsletter-result-block').fadeIn("slow").delay(3000).fadeOut("slow");
                    } else {
                        $('#newsletter-result-block').fadeIn("slow").delay(3000).fadeOut("slow");
                    }
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    alert('Failed to subscribe.');
                    subscribeProgress.hide();
                    subscribeProgress.css("display", "none");
                    subscribeProgress.css("opacity", "0");
                }
            });
        }

        $(document).ready(function () {


                $('#newsletter-subscribe-button').on('click', function () {

                    if ($('#subscriptionCheckBoxNewsLetter').is(':checked')) {


                    @if (Model.AllowToUnsubscribe)
                {
                    <text>if ($('#newsletter_subscribe').is(':checked')) {
                        newsletter_subscribe('true');
                    } else {
                        newsletter_subscribe('false');
                        }</text>
                }
                else
                {
                    <text>newsletter_subscribe('true');</text>
                }
                                               
                    } else {
                        $("#uncheckedNewsletter").fadeOut("slow").fadeIn("slow");
                        
                    }
                    
                });
                $("#newsletter-email").on("keydown", function (event) {
                    if (event.keyCode == 13) {
                        $("#newsletter-subscribe-button").trigger("click");
                        return false;
                    }
                });

        });
    </script>
</section>







@*<div class="newsletter">
    <div class="title">
        <strong>@T("Newsletter.Title")</strong>
    </div>
    <div class="newsletter-subscribe" id="newsletter-subscribe-block">
        <div class="newsletter-email">
            <input asp-for="NewsletterEmail" id="newsletter-email" class="newsletter-subscribe-text" placeholder=@T("Newsletter.Email.Placeholder") aria-label="@T("Newsletter.Subscribe")"/>
            <input type="button" value="@T(Model.AllowToUnsubscribe ? "Newsletter.Options.Send" : "Newsletter.Options.Subscribe")" id="newsletter-subscribe-button" class="button-1 newsletter-subscribe-button"/>
            @if (Model.AllowToUnsubscribe)
            {
                <div class="options">
                    <span class="subscribe">
                        <input id="newsletter_subscribe" type="radio" value="newsletter_subscribe" name="newsletter_block" checked="checked"/>
                        <label for="newsletter_subscribe">@T("Newsletter.Options.Subscribe")</label>
                    </span>
                    <span class="unsubscribe">
                        <input id="newsletter_unsubscribe" type="radio" value="newsletter_unsubscribe" name="newsletter_block"/>
                        <label for="newsletter_unsubscribe">@T("Newsletter.Options.Unsubscribe")</label>
                    </span>
                </div>
            }
        </div>
        <div class="newsletter-validation">
            <span id="subscribe-loading-progress" style="display: none;" class="please-wait">@T("Common.Wait...")</span>
            <span asp-validation-for="NewsletterEmail"></span>
        </div>
    </div>
    <div class="newsletter-result" id="newsletter-result-block"></div>

</div>*@