﻿@model List<Nop.Plugin.Widgets.SocialMedia.Models.SocialMediaModel>
@using Nop.Web.Framework.Themes;
@inject IThemeContext themeContext

@{
    Layout = "";

}








<section class="social-media-section">
    <div class="grid-block large-block social-media-container">
        <div class="social-media-block">
            <div class="social-media-items">
                <div class="social-media-item social-media-follow large valign-center-wrapper">
                    <div class="flex-item">
                        <h1 class="first-part">SOSYAL MEDYADAa</h1>
                        <h2 class="second-part">BİZİ TAKİP EDİN</h2>
                    </div>
                </div>

                <a href="javascript:void(0)" class="social-media-item facebook-follow small valign-center-wrapper">
                    <div class="flex-item">
                        <i class="figure facebook f icon"></i>
                    </div>
                </a>
                @if (Model.Count > 0)
                {
                    <a href="@Model[0].Code" class="social-media-item facebook-follow small valign-center-wrapper">
                        <div class="image-holder" style="background-image: url('@Url.Content(Model[0].ImageUri)');">
                        </div>
                    </a>
                }
                else
                {



                }
                <a href="javascript:void(0)" class="social-media-item twitter-follow small valign-center-wrapper">
                    <div class="flex-item">
                        <i class="figure twitter icon"></i>
                    </div>
                </a>


                @if (Model.Count > 1)
                {
                    <a href="@Model[1].Code" class="social-media-item facebook-follow small valign-center-wrapper">
                        <div class="image-holder" style="background-image: url('@Url.Content(Model[1].ImageUri)');">
                        </div>
                    </a>
                }
                else
                {

                }
                <a href="javascript:void(0)" class="social-media-item instagram-follow small valign-center-wrapper">
                    <div class="flex-item">
                        <i class="figure instagram icon"></i>
                    </div>
                </a>


                @if (Model.Count > 2)
                {
                    <a href="@Model[2].Code" class="social-media-item facebook-follow small valign-center-wrapper">
                        <div class="image-holder" style="background-image: url('@Url.Content(Model[2].ImageUri)');">
                        </div>
                    </a>
                }
                else
                {

                }



            </div>
            <div class="social-video-item">
                <div class="image-holder valign-center-wrapper" style="background-image: url('@Url.Content(" ~/images/uploaded/social-media-images/video.jpg")');">
                    <div class="flex-item">
                        <a class="video-play-action" href="javascript:void(0)">
                            <img class="ui fluid image" src="@Url.Content($" ~/Themes/{themeContext.WorkingThemeName}/Content/assets/images/icons/play-icon.svg")">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
