﻿@model FooterModel
@inject IWorkContext workContext
@inject IThemeContext themeContext
@inject ICategoryService categoryService
@inject IUrlRecordService urlRecordService
@await Component.InvokeAsync("WidgetsSocialMedia")
<footer class="footer-section">

    @functions{

        string getLocalizedSlug(int entityID, string entityName)
        {
            string LocalizedSlug = urlRecordService.GetSeName(entityId: entityID, entityName: entityName);
            return (LocalizedSlug);
        }


    }

    @{IList<Category> asd = categoryService.GetAllCategoriesByParentCategoryId(0);

        int categoryLimit = 4;
    }
    <div class="page-footer-trust-icons-container">
        <div class="grid-block trust-icons-block">
            <img src="@Url.Content($"~/Themes/{themeContext.WorkingThemeName}/Content/assets/images/icons/trust-icons/visa.gif")" alt="Visa Card" title="Visa Card" class="trust-icon-item">
            <img src="@Url.Content($"~/Themes/{themeContext.WorkingThemeName}/Content/assets/images/icons/trust-icons/master.gif")" alt="Master Card" title="Master Card" class="trust-icon-item">
            <img src="@Url.Content($"~/Themes/{themeContext.WorkingThemeName}/Content/assets/images/icons/trust-icons/bkm.gif")" alt="Bkm Express" title="Bkm Express" class="trust-icon-item">
            <img src="@Url.Content($"~/Themes/{themeContext.WorkingThemeName}/Content/assets/images/icons/trust-icons/bonus.gif")" alt="Garanti Bonus Card" title="Garanti Bonus Card" class="trust-icon-item">
            <img src="@Url.Content($"~/Themes/{themeContext.WorkingThemeName}/Content/assets/images/icons/trust-icons/maximum.gif")" alt="Maximum Card" title="Maximum Card" class="trust-icon-item">
            <img src="@Url.Content($"~/Themes/{themeContext.WorkingThemeName}/Content/assets/images/icons/trust-icons/advantage.gif")" alt="Advantage Card" title="Advantage Card" class="trust-icon-item">
            <img src="@Url.Content($"~/Themes/{themeContext.WorkingThemeName}/Content/assets/images/icons/trust-icons/axess.gif")" alt="Axess Card" title="Axess Card" class="trust-icon-item">
            <img src="@Url.Content($"~/Themes/{themeContext.WorkingThemeName}/Content/assets/images/icons/trust-icons/finans.gif")" alt="Card Finans" title="Card Finans" class="trust-icon-item">
            <img src="@Url.Content($"~/Themes/{themeContext.WorkingThemeName}/Content/assets/images/icons/trust-icons/paraf.gif")" alt="Paraf Card" title="Paraf Card" class="trust-icon-item">
            <img src="@Url.Content($"~/Themes/{themeContext.WorkingThemeName}/Content/assets/images/icons/trust-icons/world.gif")" alt="Yapıkredi World Card" title="Yapıkredi World Card" class="trust-icon-item">
            <img src="@Url.Content($"~/Themes/{themeContext.WorkingThemeName}/Content/assets/images/icons/trust-icons/gsign.gif")" alt="3D Secure Glabal Sign" title="3D Secure Glabal Sign" class="trust-icon-item">
        </div>
    </div>
    <div class="page-footer-content-container">
        <ul class="grid-block footer-content-items-block">
            <li class="footer-column column-thin">
                <div class="footer-column-title">Kurumsal</div>
                <ul class="footer-column-list footer-list-group">
                    <li class="footer-column-list-item"><a href="/sozlesmeler">Sözleşmeler</a></li>
                    <li class="footer-column-list-item"><a href="/hakkimizda">Hakkımızda</a></li>
                   

                </ul>
            </li>
            <li class="group-column-wrapper column-wide">
                <div class="footer-column-title">Kategoriler</div>
                <div class="footer-list-group">
                    <div class="footer-column inner-column">
                        <ul class="footer-column-list">
                            @if (asd.Count > 0)
                            {
                                int i = 0;
                                foreach (var item in asd)
                                {
                                    if (i < @categoryLimit)
                                    {

                                        <li class="footer-column-list-item"><a href="@Url.RouteUrl("Category", new { SeName = @urlRecordService.GetSeName(entityId: item.Id, entityName: "Category") })">@item.Name</a></li>
                                    }
                                    i++;
                                }
                            }

                        </ul>
                    </div>
                    <div class="footer-column inner-column">
                        <ul class="footer-column-list">
                            @if (asd.Count > 0)
                            {
                                int i = 0;
                                foreach (var item in asd)
                                {
                                    if (i >= @categoryLimit&&i<@categoryLimit*2)
                                    {

                                        <li class="footer-column-list-item"><a href="@Url.RouteUrl("Category", new { SeName = @urlRecordService.GetSeName(entityId: item.Id, entityName: "Category") })">@item.Name</a></li>
                                    }
                                    i++;
                                }
                            }
                        </ul>
                    </div>
                </div>
            </li>
            <li class="footer-column column-thin">
                <div class="footer-column-title">  	&nbsp; </div>
                <ul class="footer-column-list footer-list-group">
                    @if (asd.Count > 0)
                    {
                        int i = 0;
                        foreach (var item in asd)
                        {
                            if (i >= @categoryLimit*2)
                            {

                                <li class="footer-column-list-item"><a href="@Url.RouteUrl("Category", new { SeName = @urlRecordService.GetSeName(entityId: item.Id, entityName: "Category") })">@item.Name</a></li>
                            }
                            i++;
                        }
                    }
                </ul>
            </li>
            <li class="footer-column column-thin">
                <div class="footer-column-title active">Bize Ulaşın</div>
                <ul class="footer-column-list footer-list-group active">
                    <li class="footer-column-list-item no-line-height">
                        <a href="tel:4443487" class="footer-contact-section-item footer-colored-link">
                            <span class="footer-phone-number">444 3 487</span>
                        </a>
                    </li>
                    <li class="footer-column-list-item">
                        <a href="mailto:info@vitamininisec.com" class="footer-contact-section-item footer-colored-link">destek@vitamininisec.com</a>
                    </li>
                     <li class="footer-column-list-item"><a class="footer-contact-section-item footer-colored-link" href="/sss">Sık Sorulan Sorular</a></li>

                </ul>
            </li>
        </ul>
    </div>
    <div class="page-footer-copyright-container">
        <div class="grid-block valign-center-wrapper footer-copyright-block">
            <img class="footer-copyright-logo" src="@Url.Content($"~/Themes/{themeContext.WorkingThemeName}/Content/assets/images/logo/footer-copyright-logo.svg")">
            <p class="copyright-text">Copyright © 2019 Vitamininisec. Tüm hakları saklıdır.</p>
            <div class="footer-social-icon-wrapper">
                <a class="footer-social-media-item" href="https://www.facebook.com/" target="_blank">
                    <img class="responsive-img" src="@Url.Content($"~/Themes/{themeContext.WorkingThemeName}/Content/assets/images/icons/social-media-icons/facebook.svg")">
                </a>
                <a class="footer-social-media-item" href="https://twitter.com/" target="_blank">
                    <img class="responsive-img" src="@Url.Content($"~/Themes/{themeContext.WorkingThemeName}/Content/assets/images/icons/social-media-icons/twitter.svg")">
                </a>
                <a class="footer-social-media-item" href="https://www.instagram.com/" target="_blank">
                    <img class="responsive-img" src="@Url.Content($"~/Themes/{themeContext.WorkingThemeName}/Content/assets/images/icons/social-media-icons/instagram.svg")">
                </a>
                <a class="footer-social-media-item" href="https://www.youtube.com/" target="_blank">
                    <img class="responsive-img" src="@Url.Content($"~/Themes/{themeContext.WorkingThemeName}/Content/assets/images/icons/social-media-icons/youtube.svg")">
                </a>
                <a class="footer-social-media-item" href="https://plus.google.com/" target="_blank">
                    <img class="responsive-img" src="@Url.Content($"~/Themes/{themeContext.WorkingThemeName}/Content/assets/images/icons/social-media-icons/googleplus.svg")">
                </a>
            </div>
        </div>
    </div>
</footer>


@if (1 == 2)
{
    <div class="footer">
        <div class="footer-upper">
            <div class="footer-block information">
                <div class="title">
                    <strong>@T("Footer.Information")</strong>
                </div>
                <ul class="list">
                    @if (Model.SitemapEnabled && Model.DisplaySitemapFooterItem)
                    {
                        <li><a href="@Url.RouteUrl("Sitemap")">@T("Sitemap")</a></li>
                    }
                    @foreach (var topic in Model.Topics.Where(x => x.IncludeInFooterColumn1).ToList())
                    {
                        <li><a href="@Url.RouteUrl("Topic", new { SeName = topic.SeName })">@topic.Name</a></li>
                    }
                    @if (Model.DisplayContactUsFooterItem)
                    {
                        <li><a href="@Url.RouteUrl("ContactUs")">@T("ContactUs")</a></li>
                    }
                </ul>
            </div>
            <div class="footer-block customer-service">
                <div class="title">
                    <strong>@T("Footer.CustomerService")</strong>
                </div>
                <ul class="list">
                    @if (Model.DisplayProductSearchFooterItem)
                    {
                        <li><a href="@Url.RouteUrl("ProductSearch")">@T("Search")</a> </li>
                    }
                    @if (Model.NewsEnabled && Model.DisplayNewsFooterItem)
                    {
                        <li><a href="@Url.RouteUrl("NewsArchive")">@T("News")</a></li>
                    }
                    @if (Model.BlogEnabled && Model.DisplayBlogFooterItem)
                    {
                        <li><a href="@Url.RouteUrl("Blog")">@T("Blog")</a></li>
                    }
                    @if (Model.ForumEnabled && Model.DisplayForumsFooterItem)
                    {
                        <li><a href="@Url.RouteUrl("Boards")">@T("Forum.Forums")</a></li>
                    }
                    @if (Model.RecentlyViewedProductsEnabled && Model.DisplayRecentlyViewedProductsFooterItem)
                    {
                        <li><a href="@Url.RouteUrl("RecentlyViewedProducts")">@T("Products.RecentlyViewedProducts")</a></li>
                    }
                    @if (Model.CompareProductsEnabled && Model.DisplayCompareProductsFooterItem)
                    {
                        <li><a href="@Url.RouteUrl("CompareProducts")">@T("Products.Compare.List")</a></li>
                    }
                    @if (Model.NewProductsEnabled && Model.DisplayNewProductsFooterItem)
                    {
                        <li><a href="@Url.RouteUrl("NewProducts")">@T("Products.NewProducts")</a></li>
                    }
                    @foreach (var topic in Model.Topics.Where(x => x.IncludeInFooterColumn2).ToList())
                    {
                        <li><a href="@Url.RouteUrl("Topic", new {SeName = topic.SeName})">@topic.Name</a></li>
                    }
                    @if (Model.AllowCustomersToCheckGiftCardBalance)
                    {
                        <li><a href="@Url.RouteUrl("CheckGiftCardBalance")">@T("CheckGiftCardBalance")</a></li>
                    }
                </ul>
            </div>
            <div class="footer-block my-account">
                <div class="title">
                    <strong>@T("Footer.MyAccount")</strong>
                </div>
                <ul class="list">
                    @if (Model.DisplayCustomerInfoFooterItem)
                    {
                        <li><a href="@Url.RouteUrl("CustomerInfo")">@T("Account.MyAccount")</a></li>
                    }
                    @if (Model.DisplayCustomerOrdersFooterItem)
                    {
                        <li><a href="@Url.RouteUrl("CustomerOrders")">@T("Account.CustomerOrders")</a></li>
                    }
                    @if (Model.DisplayCustomerAddressesFooterItem)
                    {
                        <li><a href="@Url.RouteUrl("CustomerAddresses")">@T("Account.CustomerAddresses")</a></li>
                    }
                    @if (Model.ShoppingCartEnabled && Model.DisplayShoppingCartFooterItem)
                    {
                        <li><a href="@Url.RouteUrl("ShoppingCart")">@T("ShoppingCart")</a></li>
                    }
                    @if (Model.WishlistEnabled && Model.DisplayWishlistFooterItem)
                    {
                        <li><a href="@Url.RouteUrl("Wishlist")">@T("Wishlist")</a></li>
                    }
                    @if (Model.AllowCustomersToApplyForVendorAccount && Model.DisplayApplyVendorAccountFooterItem)
                    {
                        <li><a href="@Url.RouteUrl("ApplyVendorAccount")">@T("Vendors.ApplyAccount")</a></li>
                    }
                    @foreach (var topic in Model.Topics.Where(x => x.IncludeInFooterColumn3).ToList())
                    {
                        <li><a href="@Url.RouteUrl("Topic", new {SeName = topic.SeName})">@topic.Name</a></li>
                    }
                </ul>
            </div>
            <div class="footer-block follow-us">
                <div class="social">
                    <div class="title">
                        <strong>@T("Footer.FollowUs")</strong>
                    </div>
                    @await Component.InvokeAsync("SocialButtons")
                </div>
                @await Component.InvokeAsync("NewsletterBox")
            </div>
        </div>
        <div class="footer-lower">
            <div class="footer-info">
                <span class="footer-disclaimer">@T("Content.CopyrightNotice", DateTime.Now.Year, Model.StoreName)</span>
            </div>
            @await Component.InvokeAsync("StoreThemeSelector")
        </div>
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.Footer })
    </div>
    <script asp-location="Footer">
        $(document).ready(function () {
            $('.footer-block .title').on('click', function () {
                var e = window, a = 'inner';
                if (!('innerWidth' in window)) {
                    a = 'client';
                    e = document.documentElement || document.body;
                }
                var result = { width: e[a + 'Width'], height: e[a + 'Height'] };
                if (result.width < 769) {
                    $(this).siblings('.list').slideToggle('slow');
                }
            });
        });
    </script>
    <script asp-location="Footer">
        $(document).ready(function () {
            $('.block .title').on('click', function () {
                var e = window, a = 'inner';
                if (!('innerWidth' in window)) {
                    a = 'client';
                    e = document.documentElement || document.body;
                }
                var result = { width: e[a + 'Width'], height: e[a + 'Height'] };
                if (result.width < 1001) {
                    $(this).siblings('.listbox').slideToggle('slow');
                }
            });
        });
    </script>
}