﻿<div class="find-stores">
	<div class="wrapper-holder valign-bottom-wrapper">
		<div class="flex-item">
			<div class="title">
				<span class="title-row">@T("Store.HomepageFeaturedContents.Store.Title.FirstPart")</span>
				<span class="title-row">@T("Store.HomepageFeaturedContents.Store.Title.SecondPart")</span>
			</div>
			<div class="selection-area">
				<div class="selection-row">
					<select class="ui search selection dropdown" id="storesOnTurkey" data-localized-placeholder="Türkiye'de"></select>
				</div>
				<div class="selection-row">
					<select class="ui search selection dropdown" id="storesOnWorld" data-localized-placeholder="Dünyada"></select>
				</div>
				<div class="selection-row">
					<a href="javascript:void(0)" class="selection-action">
						<span class="text">En Yakın Konum</span>
						<i class="dropdown icon"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>