﻿@inject IWebHelper webHelper
@inject SeoSettings seoSettings
@inject IThemeContext themeContext
@{
	Layout = "_Root";
	Html.AppendPageCssClassParts("homePage");
	if (seoSettings.CanonicalUrlsEnabled)
	{
		var homepageUrl = Url.RouteUrl("HomePage", new { }, webHelper.CurrentRequestProtocol).ToLowerInvariant();
		Html.AddCanonicalUrlParts(homepageUrl, false);
	}
}
@await Html.PartialAsync("_Homepage/_MainSlider/Default")
@await Component.InvokeAsync("HomepageCategories")
@await Html.PartialAsync("_Homepage/_MainDescription/Default")
@await Html.PartialAsync("_Homepage/_ProductsForYou/Default")
@await Html.PartialAsync("_Homepage/_ProductNews/Default")
@await Html.PartialAsync("_Homepage/_RealatedContents/Default")
@await Html.PartialAsync("_Homepage/_CampaignProducts/Default")




<section class="newsletter-section">
	<div class="grid-block newsletter-container ui grid">
		<div class="newsletter-block stretched row">
			<div class="advantage-box eight wide computer sixteen wide column">
				<div class="valign-center-wrapper">
					<div class="flex-item">
						<h1 class="advantage-title">Şimdi Kayıt Ol, İlk Alışverişinde Geçerli 15 TL İndirim Çeki Kazan!</h1>
						<p class="advantage-text">Lorem ipsum dolor sit amet, ctetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt . Lorem ipsum dolor sit amet, ctetuer adipiscing.</p>
						<div class="advantage-action">
							<a class="button button-filled-light" href="javascript:void(0)">FACEBOOK İLE BAĞLAN</a>
						</div>
					</div>
				</div>
			</div>
			<div class="newsletter-box eight wide computer sixteen wide column">
				<div class="valign-center-wrapper">
					<div class="flex-item">
						<h2 class="newsletter-title">VitamininiSeç ayrıcalıkları ve fırsatları ile ilgili e-posta almak istermisiniz ?</h2>
						<div class="input-holder">
							<div class="newsletter-loading">
								<div class="newsletter-loading-body valign-center-wrapper">
									<div class="flex-item">
										<img class="newsletter-loading-icon" src="assets/images/icons/loaders/small-loader.svg">
										<span class="newsletter-loading-text">Lütfen bekleyiniz.</span>
									</div>
								</div>
							</div>
							<input class="newsletter-input" type="text" name="newsletter-Newsletter" spellcheck="false" placeholder="E-Posta Adresinizi Yazınız">
							<span class="newsletter-button"><i class="flex-item paper plane icon"></i></span>
						</div>
						<div class="checkbox-holder">
							<div class="ui checkbox">
								<input class="newsletter-checkbox" type="checkbox" tabindex="0" class="hidden">
								<label class="newsletter-label"><a href="javascript:void(0)" target="_blank" class="newsletter-text">Kişisel Veri Kanunu hükümlülkleri kabul ediyorum.</a></label>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="homepage-content-reviews">
	<div class="grid-block content-reviews-container">
		<div class="homepage-content-reviews-block">
			<h1 class="block-title">YAŞAM REHBERİ</h1>
			<div class="header-bar">
				<h2 class="title">EDİTÖRDEN</h2>
				<div class="slide-track-navigation">
					<i class="navigation left-navigation chevron left icon"></i>
					<i class="navigation right-navigation chevron right icon"></i>
				</div>
			</div>
			<div class="content-list">

				<!-- CONTENT BOX -->
				<div class="content-box">
					<a href="javascript:void(0)" class="content-image">
						<img class="ui fluid image" src="@Url.Content("~/images/uploaded/blog-images/cover/content-1.jpg")">
					</a>
					<div class="content-details">
						<a class="content-title" href="javascript:void(0)">5 Adımda Doğru Gıda Takviyesi</a>
						<p class="content-spot">Lorem ipsum dolor sit amet, ctetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt. Lorem ipsum dolor sit amet, ctetuer adipiscing.</p>
					</div>
					<div class="content-actions">
						<a class="content-action" href="javascript:void(0)">
							<span class="action-icon button circle-button"><i class="figure chevron right icon"></i></span>
							<span class="action-text">Devamını Oku</span>
						</a>
					</div>
				</div>
				<!-- / CONTENT BOX -->
				<!-- CONTENT BOX -->
				<div class="content-box">
					<a href="javascript:void(0)" class="content-image">
						<img class="ui fluid image" src="@Url.Content("~/images/uploaded/blog-images/cover/content-2.jpg")">
					</a>
					<div class="content-details">
						<a class="content-title" href="javascript:void(0)">15 Tür Çayın Mucizevi Gücü</a>
						<p class="content-spot">Lorem ipsum dolor sit amet, ctetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt. Lorem ipsum dolor sit amet, ctetuer adipiscing.</p>
					</div>
					<div class="content-actions">
						<a class="content-action" href="javascript:void(0)">
							<span class="action-icon button circle-button"><i class="figure chevron right icon"></i></span>
							<span class="action-text">Devamını Oku</span>
						</a>
					</div>
				</div>
				<!-- / CONTENT BOX -->
				<!-- CONTENT BOX -->
				<div class="content-box">
					<a href="javascript:void(0)" class="content-image">
						<img class="ui fluid image" src="@Url.Content("~/images/uploaded/blog-images/cover/content-3.jpg")">
					</a>
					<div class="content-details">
						<a class="content-title" href="javascript:void(0)">Kolojen Nedir?</a>
						<p class="content-spot">Lorem ipsum dolor sit amet, ctetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt. Lorem ipsum dolor sit amet, ctetuer adipiscing.</p>
					</div>
					<div class="content-actions">
						<a class="content-action" href="javascript:void(0)">
							<span class="action-icon button circle-button"><i class="figure chevron right icon"></i></span>
							<span class="action-text">Devamını Oku</span>
						</a>
					</div>
				</div>
				<!-- / CONTENT BOX -->
				<!-- CONTENT BOX -->
				<div class="content-box">
					<a href="javascript:void(0)" class="content-image">
						<img class="ui fluid image" src="@Url.Content("~/images/uploaded/blog-images/cover/content-1.jpg")">
					</a>
					<div class="content-details">
						<a class="content-title" href="javascript:void(0)">5 Adımda Doğru Gıda Takviyesi</a>
						<p class="content-spot">Lorem ipsum dolor sit amet, ctetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt. Lorem ipsum dolor sit amet, ctetuer adipiscing.</p>
					</div>
					<div class="content-actions">
						<a class="content-action" href="javascript:void(0)">
							<span class="action-icon button circle-button"><i class="figure chevron right icon"></i></span>
							<span class="action-text">Devamını Oku</span>
						</a>
					</div>
				</div>
				<!-- / CONTENT BOX -->
				<!-- CONTENT BOX -->
				<div class="content-box">
					<a href="javascript:void(0)" class="content-image">
						<img class="ui fluid image" src="@Url.Content("~/images/uploaded/blog-images/cover/content-2.jpg")">
					</a>
					<div class="content-details">
						<a class="content-title" href="javascript:void(0)">15 Tür Çayın Mucizevi Gücü</a>
						<p class="content-spot">Lorem ipsum dolor sit amet, ctetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt. Lorem ipsum dolor sit amet, ctetuer adipiscing.</p>
					</div>
					<div class="content-actions">
						<a class="content-action" href="javascript:void(0)">
							<span class="action-icon button circle-button"><i class="figure chevron right icon"></i></span>
							<span class="action-text">Devamını Oku</span>
						</a>
					</div>
				</div>
				<!-- / CONTENT BOX -->
				<!-- CONTENT BOX -->
				<div class="content-box">
					<a href="javascript:void(0)" class="content-image">
						<img class="ui fluid image" src="@Url.Content("~/images/uploaded/blog-images/cover/content-3.jpg")">
					</a>
					<div class="content-details">
						<a class="content-title" href="javascript:void(0)">Kolojen Nedir?</a>
						<p class="content-spot">Lorem ipsum dolor sit amet, ctetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt. Lorem ipsum dolor sit amet, ctetuer adipiscing.</p>
					</div>
					<div class="content-actions">
						<a class="content-action" href="javascript:void(0)">
							<span class="action-icon button circle-button"><i class="figure chevron right icon"></i></span>
							<span class="action-text">Devamını Oku</span>
						</a>
					</div>
				</div>
				<!-- / CONTENT BOX -->

			</div>
		</div>
	</div>
</section>

<section class="social-media-section">
	<div class="grid-block large-block social-media-container">
		<div class="social-media-block">
			<div class="social-media-items">
				<div class="social-media-item social-media-follow large valign-center-wrapper">
					<div class="flex-item">
						<h1 class="first-part">SOSYAL MEDYADA</h1>
						<h2 class="second-part">BİZİ TAKİP EDİN</h2>
					</div>
				</div>
				<a href="javascript:void(0)" class="social-media-item facebook-follow small valign-center-wrapper">
					<div class="flex-item">
						<i class="figure facebook f icon"></i>
					</div>
				</a>
				<a href="javascript:void(0)" class="social-media-item social-media-image small">
					<div class="image-holder" style="background-image: url('@Url.Content("~/images/uploaded/social-media-images/image-1.jpg")');"></div>
				</a>
				<a href="javascript:void(0)" class="social-media-item social-media-image small">
					<div class="image-holder" style="background-image: url('@Url.Content("~/images/uploaded/social-media-images/image-2.jpg")');"></div>
				</a>
				<a href="javascript:void(0)" class="social-media-item twitter-follow small valign-center-wrapper">
					<div class="flex-item">
						<i class="figure twitter icon"></i>
					</div>
				</a>
				<a href="javascript:void(0)" class="social-media-item social-media-image small">
					<div class="image-holder" style="background-image: url('@Url.Content("~/images/uploaded/social-media-images/image-3.jpg")');"></div>
				</a>
				<a href="javascript:void(0)" class="social-media-item instagram-follow small valign-center-wrapper">
					<div class="flex-item">
						<i class="figure instagram icon"></i>
					</div>
				</a>
			</div>
			<div class="social-video-item">
				<div class="image-holder valign-center-wrapper" style="background-image: url('@Url.Content("~/images/uploaded/social-media-images/video.jpg")');">
					<div class="flex-item">
						<a class="video-play-action" href="javascript:void(0)">
							<img class="ui fluid image" src="@Url.Content($"~/Themes/{themeContext.WorkingThemeName}/Content/assets/images/icons/play-icon.svg")">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


@*
@await Component.InvokeAsync("HomepageProducts")
@await Component.InvokeAsync("HomepageBestSellers")
@await Component.InvokeAsync("HomepageNews")
@await Component.InvokeAsync("HomepagePolls")
*@