﻿@model List<Nop.Plugin.Widgets.Faq.Models.ConfigurationModel>


@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    int indexMahmut = 0;

    string title = "";

}

@if (Model.First().Type == 0)
{
    title = "Sık Sorulan Sorular";
}
else
{
    title = "VitamininiSec Destek Merkezi";
}

@section Breadcrumb {
    <section class="section-product-breadcrumb category-hero" style="background-image: url(https://www.vitamininisec.com/Themes/VitamininiSecTheme/Content/assets/images/category-hero/hero-bg.jpg); ">
        <div class="grid-block small-mobile-force-boxed category-heading-container">
            <div class="category-heading-block">
                <h1 class="category-name">@title</h1>
            </div>
        </div>
        <div class="grid-block small-mobile-force-boxed category-breadcrumb-container">
            <div class="category-breadcrumb-block">
                <div class="category-breadcrumbs">
                    <ul class="category-breadcrumb-list">
                        <li class="category-breadcrumb-list-item">
                            <a class="category-breadcrumb-list-action" href="@Url.RouteUrl("HomePage")">@T("Products.Breadcrumb.Top")</a>
                        </li>


                        <li class="category-breadcrumb-list-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <a class="category-breadcrumb-list-action" href="javascript:void(0)" itemprop="item">
                                <span itemprop="name">@title</span>
                            </a>


                        </li>






                    </ul>
                </div>
            </div>
        </div>
    </section>
}
<section class="product-overview-section">
    <div class="grid-block product-overview-container">
        <div class="product-features-block">
            <div class="ui grid">
                <div class="stretched row product-row-block">



                    <section class="section-agreements" style="display: flex!important;width: 100%;">
                        <div class="row-agreements grid-block" style="margin-top:0">
                            <div class="accordion-agreements ui accordion">


                                @foreach (var item in Model)
                                {
                                    string className = "";

                                    if (indexMahmut == 0)
                                    {

                                        className = "active";

                                    }

                                    <div class="page-main-title-box title @className">
                                        <div class="accordion-icon">
                                            <div class="dropdown icon"> </div>
                                        </div>
                                        <h3 class="page-main-title"> @Html.Raw(@item.Question)</h3>
                                    </div>






                                    <div class="page-main-text-box content @className">
                                        <div class="page-boxes transition visible" style="display: block !important;">

                                            <div class="page-text-box">
                                                <p class="page-text" style="font-size:22px">@Html.Raw(@item.Answer)</p>

                                            </div>
                                        </div>

                                    </div>










                                    indexMahmut++;
                                }
                            </div>
                        </div>
                    </section>













                </div>
            </div>
        </div>
    </div>
</section>



<script>
    $(document).ready(function () {
        $('.faq-accordion-box').accordion({
            duration: 100,
            selector: {
                accordion: '.faq-accordion-box',
                title: '.faq-accordion-title',
                trigger: '.faq-accordion-title',
                content: '.faq-accordion-content'
            }
        });



    });

</script>