﻿@model IList<ProductOverviewModel>

      @if (Model.Count > 0)
        {


            <section class="products-slider related-products">
                <div class="grid-block small-mobile-force-boxed products-container">
                    <div class="homepage-products-block">
                        <div class="header-bar">
                            <h1 class="title">İlgili Ürünler</h1>
                            <div class="slide-track-navigation inner">
                                <i class="navigation left-navigation chevron left icon"></i>
                                <i class="navigation right-navigation chevron right icon"></i>
                            </div>
                        </div>
                        <div class="product-list">
              



                            @foreach (var item in Model)
                            {
                               
                                   @await Html.PartialAsync("_ProductBox", item)
                                




                            }





                        </div>
                        <div class="slide-track-navigation outer">
                            <i class="navigation left-navigation chevron left icon"></i>
                            <i class="navigation right-navigation chevron right icon"></i>
                        </div>
                    </div>
                </div>
            </section>
            }